/* TabContainer */

.dijitRtl .nihilo .dijitTab {
	margin-right:0;
	margin-left:3px;		/* space between one tab and the next in top/bottom mode */
}

.dijitRtl .nihilo .dijitTab .dijitTabInnerDiv {
	border-left:none;
}

.dijitRtl .nihilo .dijitTab .dijitClosable {
	padding: 0 10px 0 20px;
}

.dijitRtl .nihilo .dijitTab .closeImage {
	position:static;
}

.dj_gecko .nihilo .dijitTab .closeImage {
	position:relative;
	float:none;
	padding:0;
}

.dijitRtl .nihilo .dijitTab .dijitClosable .closeImage {
	right:auto;
	left:3px;
}

.dijitRtl .nihilo .dijitTabContainerLeft-tabs .dijitTab,
.dijitRtl .nihilo .dijitTabContainerRight-tabs .dijitTab {
	margin-left:0px;
}

.dijitRtl .nihilo .dijitTabContainerBottom-tabs .dijitTab { 
	margin-right:0;
	margin-left:3px;		/* space between one tab and the next in top/bottom mode */	
}

.dijitRtl .nihilo .dijitTabContainerBottom-tabs .dijitTab .dijitClosable .closeImage {
	right:auto;
	left:3px;
}

.dijitRtl .nihilo .dijitTabContainerRight-tabs .dijitTab .dijitTabInnerDiv {
	padding-left:10px;
	padding-right:20px;
}

.dijitRtl .nihilo .dijitTabContainerLeft-tabs .dijitTab .dijitTabInnerDiv {
	padding-left:20px;
	padding-right:10px;
}

.dijitRtl .nihilo .dijitTabContainerRight-tabs .dijitTab .dijitClosable .closeImage {
	left:auto;
	right:3px;
}

.dijitRtl .nihilo .dijitTabContainerLeft-tabs .dijitTab .dijitClosable .closeImage {
	right:auto;
	left:3px;
}