/* Menu */

.dijitRtl .nihilo .dijitMenuItem .dijitMenuItemIcon {
	padding-left: 3px;
	padding-right: 0px;
}

.dijitRtl .nihilo .dijitMenuItem .dijitMenuExpand {
	background:url('images/spriteRoundedIconsSmall.png') no-repeat left top;
}

.dj_ie6-rtl .nihilo .dijitMenuItem .dijitMenuExpand {
	background:url('images/spriteRoundedIconsSmall.png') no-repeat left top;
}
