.nihilo .dijitToolbar {
	border-bottom: 1px solid #ccc;
	background:#fafafa url("images/titleBar.png") repeat-x top left;
}

.nihilo .dijitToolbar * {
	padding: 0;
	margin: 0;
	/* #margin-top: -1px; */
	/*IE*/
}
.dj_ie .nihilo .dijitToolbar {
	padding-bottom: 1px;
}

.nihilo .dijitToolbar .dijitButtonNode {
	padding: 0;
	margin: 1px;
	border: 1px solid transparent;
	background: none;
	_margin: 1px;
	_padding: 0 1px 0 1px;
	_border: 0;
}

.nihilo .dijitToolbar .dijitToggleButtonChecked .dijitButtonNode {
	background-color:#ffe284;
	border:1px solid #f7c95c;
}
.nihilo .dijitToolbar .dijitToggleButtonCheckedHover .dijitButtonContents {
	border-color: #f7c95c;
	background-color: #9abbea !important;
}
.dj_ie6 .nihilo .dijitToolbar .dijitButtonNode {
	/* workaround no transparent border support in IE6*/
	border-color: #ccc;
}

.nihilo .dijitToolbar .dijitButtonHover .dijitButtonNode,
.nihilo .dijitToolbar .dijitToggleButtonHover .dijitButtonNode,
.nihilo .dijitToolbar .dijitDropDownButtonHover .dijitButtonNode {
	/* TODO: change this from Hover to Selected so that button is still highlighted while drop down is being used */
	border-color: #f7c95c;
	background-color: #ffe284 !important;
	/* IE hackery */
	_border: 1px solid #366dba;
	_margin: -1px 0 0 0;
	_padding: 0;
}
