.nihilo .dijitToolbar {
	border-bottom: 1px solid #ccc;
	background:#eaeaea url("images/titleBar.png") repeat-x top left;
}

.nihilo .dijitToolbar .dijitButtonNode {
	background: none;
	margin: 0px;
	padding: 0px;
	border: none;
	font-size: 12px;
}
.dj_khtml .nihilo .dijitToolbar .dijitButtonNode {
	padding: 0px 2px;	/* most browsers add implicit padding to buttons but safari doesn't */
}

.nihilo .dijitToolbar .dijitButton,
.nihilo .dijitToolbar .dijitToggleButton,
.nihilo .dijitToolbar .dijitDropDownButton,
.nihilo .dijitToolbar .dijitComboButton .dijitButtonContents,
.nihilo .dijitToolbar .dijitComboButton .dijitDownArrowButton {
	background: none;	
	border: 1px solid transparent;
}

.nihilo .dijitToolbar .dijitButtonChecked,
.nihilo .dijitToolbar .dijitToggleButtonChecked {
	background-color:#ffeeb9;
	border:1px solid #f7c95c;
}

.nihilo .dijitToolbar .dijitButtonCheckedHover,
.nihilo .dijitToolbar .dijitToggleButtonCheckedHover
 {
	background-color:#ffe284;
	border:1px solid #f7c95c;
}

.nihilo .dijitToolbar .dijitButtonHover,
.nihilo .dijitToolbar .dijitToggleButtonHover,
.nihilo .dijitToolbar .dijitDropDownButtonHover,
.nihilo .dijitToolbar .dijitComboButtonHover .dijitButtonContents,
.nihilo .dijitToolbar .dijitComboButtonDownArrowHover .dijitDownArrowButton {
	/* TODO: change this from Hover to Selected so that button is still highlighted while drop down is being used */
	border: 1px solid #f7c95c;
	background-color:#ffe284;
}

.nihilo .dijitToolbar label {	
	padding: 3px 3px 0 6px;
}

.dj_ie .nihilo .dijitToolbar .dijitComboButton .dijitButtonContentsFocused,
.dj_ie .nihilo .dijitToolbar .dijitComboButton .dijitDownArrowButtonFocused,
.dj_ff2 .nihilo.dijitToolbar .dijitComboButton .dijitButtonContentsFocused,
.dj_ff2 .nihilo .dijitToolbar .dijitComboButton .dijitDownArrowButtonFocused {
	/* focus border doesn't appear on <td> for FF2 or IE, so need to add it manually */
	border: 1px black dotted !important;	
}

/* IE6 specific rules */
.dj_ie6 .nihilo .dijitToolbar .dijitButton,
.dj_ie6 .nihilo .dijitToolbar .dijitToggleButton,
.dj_ie6 .nihilo .dijitToolbar .dijitDropDownButton,
.dj_ie6 .nihilo .dijitToolbar .dijitComboButton .dijitButtonContents,
.dj_ie6 .nihilo .dijitToolbar .dijitComboButton .dijitDownArrowButton {
	/* workaround no transparent border support in IE6 */
	margin: 1px;
	padding: 0px 2px;
	border: 0px;
}

.dj_ie6 .nihilo .dijitToolbar .dijitButtonChecked,
.dj_ie6 .nihilo .dijitToolbar .dijitToggleButtonChecked,
.dj_ie6 .nihilo .dijitToolbar .dijitDropDownButtonChecked {
	background-color:#ffeeb9;
	border:1px solid #f7c95c;
	margin: 0px;
	padding: 0px 2px;
}

.dj_ie6 .nihilo .dijitToolbar .dijitButtonCheckedHover,
.dj_ie6 .nihilo .dijitToolbar .dijitToggleButtonCheckedHover,
.dj_ie6 .nihilo .dijitToolbar .dijitDropDownButtonCheckedHover {
	background-color:#ffe284;
	border:1px solid #f7c95c;
	margin: 0px;
	padding: 0px 2px;
}

.dj_ie6 .nihilo .dijitToolbar .dijitButtonHover,
.dj_ie6 .nihilo .dijitToolbar .dijitToggleButtonHover,
.dj_ie6 .nihilo .dijitToolbar .dijitDropDownButtonHover,
.dj_ie6 .nihilo .dijitToolbar .dijitComboButtonHover .dijitButtonContents,
.dj_ie6 .nihilo .dijitToolbar .dijitComboButtonDownArrowHover .dijitDownArrowButton {
	background-color:#ffe284;
	border:1px solid #f7c95c;
	margin: 0px;
	padding: 0px 2px;
}