<div dojoType="dijit.layout.BorderContainer" id="doc3BorderContainer">
	<div dojoType="dijit.layout.ContentPane" region="left" style="width: 200px;">
		This file contains a single top-level BorderContainer layout widget.
	</div>
	<div dojoType="dijit.layout.ContentPane" region="center" onLoad="myOnLoad">
		But it also has some nested layout widgets, and when this file is loaded the TabContainer and
		BorderContainer below should get resize() called on them
		<div dojoType="dijit.layout.TabContainer" id="doc3InnerTabContainer" style="width: 300px; height: 300px;">
			<div dojoType="dijit.layout.ContentPane" title="Tab 1">doc3 tab1</div>
			<div dojoType="dijit.layout.ContentPane" title="Tab 2">doc3 tab2</div>
		</div>
		<div dojoType="dijit.layout.BorderContainer" id="doc3InnerBorderContainer" style="width: 300px; height: 300px;">
			<div dojoType="dijit.layout.ContentPane" region="center">inner border container</div>
		</div>
	</div>
</div>