<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>TabContainer Remote Loading Test</title>

	<style type="text/css">
		@import "../../themes/claro/document.css";
		@import "../css/dijitTests.css";
	</style>

	<!-- required: the default dijit theme: -->
	<link id="themeStyles" rel="stylesheet" href="../../../dijit/themes/claro/claro.css"/>

	<!-- required: dojo.js -->
	<script type="text/javascript" src="../../../dojo/dojo.js"
		data-dojo-config="isDebug: true, parseOnLoad: false"></script>

	<!-- only needed for alternate theme testing: do NOT use in your code! -->
	<script type="text/javascript" src="../_testCommon.js"></script>

	<!-- functions to help test -->
	<script type="text/javascript" src="../helpers.js"></script>

	<script type="text/javascript">
		dojo.require("doh.runner");
		dojo.require("dijit.dijit"); // optimize: load dijit layer
		dojo.require("dijit.layout.ContentPane");
		dojo.require("dijit.layout.TabContainer");
		dojo.require("dijit.layout.AccordionContainer");
		dojo.require("dijit.Tooltip");
		dojo.require("dijit.layout.LinkPane");
		dojo.require("dijit.form.Button");
		dojo.require("dojo.parser");	// scan page for widgets and instantiate them

		var tabCounter;
		function testClose(pane, tab){
			// remove html from title
			var title = dojo.trim(tab.title.replace(/<\/?[a-z][a-z0-9]*[^>]*>/ig, ""));
			return confirm("Please confirm that you want tab "+title+" closed");
		}

		function createTab(){
			if(!tabCounter){ tabCounter = 3; }

			var title = '<img src="../images/plus.gif" style="background-color:#95B7D3;"/> Tab ' +(++tabCounter);
			var refreshOnShow = !!(tabCounter % 2);

			var newTab = new dijit.layout.ContentPane({
				id: "ttab" + tabCounter,
				title: title + (refreshOnShow ? ' <i>refreshOnShow</i>': ''),
				closable:true,
				refreshOnShow: refreshOnShow,
				href: 'getResponse.php?delay=1000&messId='+tabCounter
					+"&message="+encodeURI("<h1>Programmatically created Tab "+tabCounter+"</h1>")
			}, dojo.doc.createElement('div'));

			dijit.byId('ttabs').addChild(newTab);

			newTab.startup();
		}

		function isLoading(domNode){
			return domNode.firstChild.innerHTML == "Loading...";
		}

		dojo.addOnLoad(function(){
			// create a do nothing, only for test widget
			dojo.declare("dijit.TestWidget",
				[dijit._Widget, dijit._Templated], {
				templateString: "<span class='dijitTestWidget'></span>"
			});

			doh.register("parse", function parse(){
				dojo.parser.parse();
			});

			function testLoad(/*String*/ parentId, /*String*/ childId, /*String*/ startOfExpectedContent){
				// summary:
				//		Test deferred load of child of StackContainer widget
				var d = new doh.Deferred(),
				loadingContent,
				child = dijit.byId(childId),
				contentNode = dojo.byId(childId),
				handler = child.connect(child, "onDownloadEnd",
					function(){
    					child.disconnect(handler);
    					setTimeout(d.getTestCallback(
							function(){
								doh.is(child.loadingMessage.replace(/<[^>]*>/g, ""), loadingContent);
								var actualTabContent = innerText(contentNode).substring(0, startOfExpectedContent.length);
								doh.is(startOfExpectedContent, actualTabContent, "expected pane content");
							}
						), 1); // return from handler, then test
					}
				);
				child.ioMethod = function(args){
					loadingContent = innerText(contentNode);
					delete child.ioMethod;
					return dojo.global.dojo.xhrGet(args);
				};

				dijit.byId(parentId).selectChild(childId);

				return d;
			}

			var st,		// stack container
				pane3, pane3UnloadCnt=0, pane3LoadCnt=0,	// second child of stack container (initially hidden)
				tmp;

			doh.registerGroup("StackContainer", [
				{
					// TODO: this test should be moved to registerGroup setUp now that #3504 is fixed
					//		We actually don't need to test anything here, just setUp
					name: "setUp_StackContainer",
					setUp:function(t){
						// create a StackContainer
						st = dojo.byId('stackcontainer');
						dojo.addClass(st, 'box');
						st = new dijit.layout.StackContainer({style: {height: "150px"}}, st);

						// the first child (by default) is the one that will
						// be shown
						st.addChild(new dijit.TestWidget());

						// the second child *won't* be shown until selected
						pane3 = new dijit.layout.ContentPane({
							href:'getResponse.php?delay=300&message=Loaded!',
							preventCache: true,
							onLoad: function(){ pane3LoadCnt++; },
							onUnload: function(){ pane3UnloadCnt++; }
						}, dojo.doc.createElement('div'));
						st.addChild(pane3);

						// start the StackContainer; shouldn't cause ContentPane to load.
						st.startup();
					},
					runTest:function(t){
						doh.t(st);
						doh.is(2, st.getChildren().length);
					}
				},
				{
					name: "preload_false_by_default",
					runTest: function(t){
						doh.f(pane3.isLoaded);
						doh.is('', pane3.domNode.innerHTML);
					}
				},
				{
					name: "unload event not called initially",
					runTest: function(t){
						doh.is(0, pane3UnloadCnt);
					}
				},
				{
					name: "load event fired when pane is shown",
					timeout: 2100,
					runTest: function(t){
						doh.is(0, pane3LoadCnt, "onload hasn't been called yet");
						st.selectChild(pane3);
						doh.is(0, pane3UnloadCnt,
							"unload shouldn't have been called b/c no initial contents (#1)");

						var d = new t.Deferred();
						setTimeout(d.getTestCallback(
							function(){
								doh.t(pane3.isLoaded);
								doh.is(1, pane3LoadCnt, "onload was called");
								doh.is('Loaded!', pane3.domNode.innerHTML);
								doh.is(0, pane3UnloadCnt,
									"unload shouldn't have been called b/c no initial contents (#2)");
							}
						), 1800);

						return d;
					}
				},
				{
					name: "refreshOnShow parameter works",
					timeout: 2100,
					setUp: function(t){
						tmp = {
							onUnload: function(){ this._unload_fired = 1; },
							onLoad: function(){ this._load_fired = 1; }
						};
						tmp.unloadHandle = dojo.connect(pane3, 'onUnload', tmp, 'onUnload');
						tmp.loadHandle = dojo.connect(pane3, 'onLoad', tmp, 'onLoad');

						pane3.refreshOnShow = true;
					},
					runTest: function(t){
						var d = new t.Deferred();
						st.back();
						st.forward();	// show pane #3

						setTimeout(d.getTestCallback(function(){
							doh.t(tmp._unload_fired, "unload was fired");
							doh.t(tmp._load_fired, "load was fired");
							doh.is('Loaded!', pane3.domNode.innerHTML);
						}), 1800);

						return d;
					},
					tearDown: function(){
						dojo.disconnect(tmp.unloadHandle);
						dojo.disconnect(tmp.loadHandle);
						pane3.refreshOnShow = pane3.constructor.prototype.refreshOnShow;
					}
				},
				{
					// Test if a plain ContentPane downloads it's contents when startup() is called.
					// Nothing in particular to do with StackContainer.
					name: "downloadTriggeredOnStartup",
					timeout: 1800,
					runTest: function(t){
						var href = 'getResponse.php?message=Loaded!'
						var pane4 = new dijit.layout.ContentPane({
							href:href,
							preventCache: true
						});
						pane4.placeAt(st.domNode, "after");

						pane4.startup(); // parser should call startup when djConfig.parseOnLoad=true

						var d = new t.Deferred();
						setTimeout(d.getTestCallback(function(){
							doh.is('Loaded!', pane4.domNode.innerHTML);
							pane4.destroy();
						}), 1500);
						return d;
					}
				}
			]);

			doh.register("Tab container remote",[
				{
					name: "tab1InitialLoading",
					timeout: 9000,
					runTest: function(){ return testLoad("ttabs", "ttab1", "IT WAS"); }
				}
			]);			

			doh.register("Accordion refreshOnShow",[
				{
					name: "pane3InitialLoading",
					timeout: 9000,
					runTest: function(){ return testLoad("ac", "ac_pane3", "There"); }
				},
				{
					name: "pane2InitialLoading",
					timeout: 9000,
					runTest: function(){ return testLoad("ac", "ac_pane2", "There"); }
				},
				{
					name: "pane3Refresh",
					timeout: 5000,
					runTest: function(t){
						var d = new doh.Deferred(),
						wasLoading = false,
						widget = dijit.byId("ac_pane3"),
						loadhandler = widget.connect(widget, "onDownloadStart",
							function(){
    							widget.disconnect(loadhandler);
								wasLoading = true;
							}
						),
						showhandler = widget.connect(widget, "_onShow",
							function(){
    							widget.disconnect(showhandler);
								setTimeout(d.getTestCallback(
									function(){
										doh.f(wasLoading, "should not have reloaded")
									}
								), 1000);
							}
						);

						dijit.byId("ac").selectChild("ac_pane3");
						
						return d;
					}
				},
				{
					name: "pane2Refresh",
					timeout: 9000,
					runTest: function(){ return testLoad("ac", "ac_pane2", "There"); }
				}
			]);

			doh.run();
		});
	</script>
</head>
<body class="claro">

	<h1 class="testTitle">Dijit layout.StackContainer (delayed) remote tests</h1>

	<h2>Plain StackContainer</h2>
	<div id='stackcontainer'></div>

	<h2>TabContainer</h2>
	<p>These tabs are made up of external content. Loading is delayed to make it easier to see if refreshOnShow and preload = 'false' is working.<br/>
	The tabs also tests to insert html in the Tab title
	</p>

	<div id="createTab" data-dojo-type='dijit.form.Button' data-dojo-props='onClick:function(){ createTab() }'>Create a Tab</div>
	<div id="ttabs" data-dojo-type="dijit.layout.TabContainer" data-dojo-props='tabPosition:"top", style:"width: 100%; height: 20em;"'>
		<a id="ttab1" data-dojo-type="dijit.layout.LinkPane"
			data-dojo-props='href:"getResponse.php?messId=3&amp;delay=1000",
			closable:true
		'><img src='../images/copy.gif'/> Tab1</a>
		<a id="ttab2" data-dojo-type="dijit.layout.LinkPane"
			data-dojo-props='href:"getResponse.php?messId=4&amp;delay=1000",
			refreshOnShow:true, title:"Tab 2 ",
			selected:true,
			closable:true
		'><i>refreshOnShow</i>
			<img src='../images/cut.gif'/>
		</a>
		<a id="ttab3" data-dojo-type="dijit.layout.LinkPane"
			data-dojo-props='href:"getResponse.php?messId=5&amp;delay=1000",
			onClose:testClose,
			closable:true
		'>
			<b>Tab 3</b>
			<img src='../images/paste.gif'/>
		</a>
	</div>

	<h2>AccordionContainer</h2>
	<div data-dojo-type="dijit.layout.AccordionContainer" data-dojo-props='id:"ac", style:"height:300px; width:400px;"'>
		<div id="ac_pane1" data-dojo-type="dijit.layout.ContentPane" data-dojo-props='title:"one", refreshOnShow:false, href:"getResponse.php?messId=4&amp;delay=1000"'></div>
		<div id="ac_pane2" data-dojo-type="dijit.layout.ContentPane" data-dojo-props='title:"two", refreshOnShow:true, href:"getResponse.php?messId=4&amp;delay=4000"'></div>
		<div id="ac_pane3" data-dojo-type="dijit.layout.ContentPane" data-dojo-props='title:"three", refreshOnShow:false, href:"getResponse.php?messId=4&amp;delay=4100"'></div>
	</div>

</body>
</html>
