.tundra .dijitToolbar {
	border-bottom: 1px solid #ccc;
	background:#fafafa url("images/titleBar.png") repeat-x top left;
}

.tundra .dijitToolbar * {
	padding: 0;
	margin: 0;
	/* #margin-top: -1px; */
	/*IE*/
}
.dj_ie .tundra .dijitToolbar {
	padding-bottom: 1px;
}

.tundra .dijitToolbar .dijitButtonNode {
	padding: 0;
	margin: 1px;
	border: 1px solid transparent;
	background: none;
	_margin: 1px;
	_padding: 0 1px 0 1px;
	_border: 0;
}

.tundra .dijitToolbar .dijitToggleButtonChecked .dijitButtonNode {
	background-color:#c1d2ee;
	border:1px solid #316ac5;
}
.tundra .dijitToolbar .dijitToggleButtonCheckedHover .dijitButtonContents {
	border-color: #aec6e7;
	background-color: transparent;
}
.dj_ie6 .tundra .dijitToolbar .dijitButtonNode {
	/* workaround no transparent border support in IE6*/
	border-color: #e9e9e9;
}

.tundra .dijitToolbar .dijitButtonHover .dijitButtonNode,
.tundra .dijitToolbar .dijitToggleButtonHover .dijitButtonNode,
.tundra .dijitToolbar .dijitDropDownButtonHover .dijitButtonNode {
	/* TODO: change this from Hover to Selected so that button is still highlighted while drop down is being used */
	border-color: #aec6e7;
	/* IE hackery */
	_border: 1px solid #366dba;
	_margin: -1px 0 0 0;
	_padding: 0;
}
