/* To inline block elements, surround them with <fieldset class="dojoInlineBox"> */
.dojoInlineBox {
	display:inline;
	border:0px;
	padding:0px;
}

/*IE6 Hack */
* html .dojoButton, 
* html .dojoInputField {
	background-image: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="dojoTundraGradientBg.png", sizingMethod="scale");
}

/* Base of Tundra default theme */
.dojoButton, 
.dojoInputField {
	background-image: url("dojoTundraGradientBg.png");
	background-repeat:repeat-x;
	background-position:0 0;
	background-color:#e9e9e9;
	border-color:#e8e8e8;
	border-width:1px;
	font-family: Myriad, Arial, Helvetica;
	font-size:13px;
	font-weight:normal;
	padding:2px 4px;
}


/* Default Hover Styles */
.dojoButton:hover, 
.dojoInputField:hover {
	color:#0e4978;
	border-color:#92adc2;
}

/* Default Active/Focus style*/
.dojoButton:active, 
.dojoInputField:focus {
	background-image: url("dojoTundraGradientBgActive.png");
	background-position:bottom left;
	border:1px solid #92adc2;
}

/* Default Disabled Styles*/
.dojoButton[disabled],
.dojoInputField[disabled],
.dojoButtonDisabled,
.dojoInputFieldDisabled {
	background-position:0 -8px;
	background-color:#dbdbdb;
	color:#787878;
	border-color:#e0e0e0;
}

.dojoButton[disabled]:active,
.dojoInputField[disabled]:active,
.dojoButtonDisabled:active,
.dojoInputFieldDisabled:active {
	background-image: url("dojoTundraGradientBg.png");
}


/* Widget Specific Rules */

/* Dojo Input Field */

.dojoInputField:hover {
	border-color:#92adc2;
}

.dojoInputFieldValidationWarning,
.dojoInputFieldValidationWarning:hover,
.dojoInputFieldValidationWarning:focus {
/* TBD */
	background-color:cyan;
}

.dojoInputFieldValidationError {
	background-color:#f4ee88;
}

.dojoInputFieldValidationError:hover,
.dojoInputFieldValidationError:focus {
	border-color:#ede11b;
}

.dojoCheckbox {
	/* location of checkbox sprint image */
	background-image: url(check.gif);
}

.dojoToasterClip {
	position: absolute;
	overflow: hidden;
}

.dojoToasterContainer {
	display: block;
	position: absolute;
	width: 17.5em;
	z-index: 5000;
	margin: 0px;
	font:0.75em Tahoma, Helvetica, Verdana, Arial;
}

.dojoToasterContent{
	padding:1em;
	padding-top:0.25em;
	background:#73c74a;
}

.dojoToasterMessage{ 
	color:#fff;
}
.dojoToasterWarning{ }
.dojoToasterError,
.dojoToasterFatal{
	font-weight:bold;
	color:#fff;
}

.dojoToasterWarning .dojoToasterContent{
	padding:1em;
	padding-top:0.25em;
	background:#d4d943;
} 

.dojoToasterError .dojoToasterContent{
	padding:1em;
	padding-top:0.25em;
	background:#c46600;
} 

.dojoProgressBarEmpty{
	position:relative;overflow:hidden;
	border:1px solid #84a3d1;
}

.dojoProgressBarFull{
	background:url("bar.gif") repeat bottom left;
	background-attachment: fixed;
}

.dojoProgressBarVertical .dojoProgressBarFull{
	background:url("h-bar.gif") repeat bottom left;
	background-attachment: fixed;
}

.dojoProgressBarSimpleFrontBar{
	background: red;
}

.dojoProgressBarFrontPercent,.dojoProgressBarBackPercent{
	font:bold 13px helvetica;
}

.dojoProgressBarBackPercent{
	color:#293a4b;
}
.dojoProgressBarFrontPercent{
	color:#fff;
}
