@import url("../dijit_rtl.css");

/* Dialog */
.dijitRtl .dijitDialogTitleBar .dijitDialogCloseIcon {
	background-position: left top;
	float: left;
	right: auto;
	left: 5px;
}

/*FIXME: redundant?*/
.dj_ie6 .dijitRtl .dijitDialogTitleBar .dijitDialogCloseIcon {
	background-image: url('images/tabClose.gif'); 
}


/* Menu */

.dijitRtl .dijitMenuItem .dijitMenuItemIcon {
	padding-left: 3px;
	padding-right: 0px;
}

.dijitRtl .dijitMenuItem .dijitMenuExpandEnabled {
	background-image:url('images/arrowLeft.png');
}

.dj_ie6 .dijitRtl .dijitMenuItem .dijitMenuExpandEnabled {
	background-image:url('images/arrowLeft.gif'); 
}



/* Tree */
.dijitRtl .dijitTreeContainer .dijitTreeNode {
    background-image : url('images/i_rtl.gif');
    background-position : top right;
    margin-left: auto;
    margin-right: 19px;
}

.dijitRtl .dijitTreeContainer .dijitTreeIsRoot {
	margin-left: auto;
    margin-right: 0;
    background-image: none;
}

.dijitRtl .dijitTreeContainer .dijitTreeIsLast {
    background-image: url('images/i_half_rtl.gif');
}

.dijitRtl .dijitTreeContainer .dijitTreeContent {
    margin-left: auto;
    margin-right: 18px;
    padding-left: auto;
    padding-right: 1px;   
}

.dijitRtl .dijitTreeContainer .dijitTreeExpandoOpened {
	background-image: url('images/treeExpand_minus_rtl.gif');
}

.dijitRtl .dijitTreeContainer .dijitTreeExpandoClosed {
	background-image: url('images/treeExpand_plus_rtl.gif');
}

.dijitRtl .dijitTreeContainer .dijitTreeExpandoLeaf {
	background-image: url('images/treeExpand_leaf_rtl.gif');
}

/* ToolTip */

.dj_ie .dijitRtl .dijitTooltipLeft {
	margin-right: 0px;
	margin-left: 13px;
}

.dj_ie .dijitRtl .dijitTooltipRight {
	margin-left: 26px;
	margin-right: -13px;
}

.dj_ie .dijitRtl .dijitTooltipDialog {
	zoom:1 !important;
}

/* Calendar */

.dijitRtl .dijitCalendarDecrease {
	background-image:url(images/arrowRight.png); 
	margin-left:0;
	margin-right:2px;
}

.dijitRtl .dijitCalendarIncrease {
	background-image:url(images/arrowLeft.png); 
	margin-right:0;
	margin-left:4px; 
}
.dj_ie6 .dijitRtl .dijitCalendarIncrease {
	background-image:url(images/arrowLeft.gif); 
}
.dj_ie6 .dijitRtl .dijitCalendarDecrease {
	background-image:url(images/arrowRight.gif); 
}

/* Slider */

.dijitRtl .dijitHorizontalSliderProgressBar,
.dijitRtl .dijitHorizontalSliderRemainingBar,
.dijitRtl .dijitHorizontalSliderLeftBumper,
.dijitRtl .dijitHorizontalSliderRightBumper,
.dijitRtl .dijitVerticalSliderTopBumper {
	background-position: top right;
}

.dijitRtl .dijitVerticalSliderProgressBar,
.dijitRtl .dijitVerticalSliderRemainingBar,
.dijitRtl .dijitVerticalSliderBottomBumper {
	background-position: bottom right;
}

.dijitRtl .dijitHorizontalSliderLeftBumper {
	border-left-width: 0px;
	border-right-width: 1px;
}

.dijitRtl .dijitHorizontalSliderRightBumper {
	border-left-width: 1px;
	border-right-width: 0px;
}

.dijitRtl .dijitHorizontalSliderIncrementIcon {
	background-image:url('images/arrowLeft.png');
}

.dijitRtl .dijitHorizontalSliderDecrementIcon {
	background-image:url('images/arrowRight.png');
}

/* TabContainer */

.dijitRtl .dijitTab {
	margin-right:0;
	margin-left:5px;		/* space between one tab and the next in top/bottom mode */
}

.dijitRtl .dijitTab .dijitTabInnerDiv {
	border-left:none;
	border-right:1px solid #fff;
}

.dijitRtl .dijitTab .dijitClosable {
	padding: 6px 10px 4px 20px;
}

.dijitRtl .dijitTab .closeImage {
	position:static;
	padding: 0px 12px 0px 0px;
}

.dj_gecko .dijitTab .closeImage {
	position:relative;
	float:none;
	padding:0;
}

.dijitRtl .dijitTab .dijitClosable .closeImage {
	right:auto;
	left:3px;
	background-position: left top;
}

.dj_ie .dijitRtl .dijitTab .dijitClosable .closeImage {
	width:12px !important;
}

.dijitRtl .dijitAlignLeft .dijitTab,
.dijitRtl .dijitAlignRight .dijitTab {
	margin-left:0px;
}

.dijitRtl .dijitAlignBottom .dijitTab .dijitClosable .closeImage {
	right:auto;
	left:3px;
}

.dijitRtl .dijitAlignRight .dijitTab .dijitTabInnerDiv {
	padding-left:10px;
	padding-right:20px;
}

.dijitRtl .dijitAlignLeft .dijitTab .dijitTabInnerDiv {
	padding-left:20px;
	padding-right:10px;
}

.dijitRtl .dijitAlignRight .dijitTab .dijitClosable .closeImage {
	left:auto;
	right:3px;
}

.dijitRtl .dijitAlignLeft .dijitTab .dijitClosable .closeImage {
	right:auto;
	left:3px;
}

/*
* Toolbar *

.dijitRtl .dijitToolbarSeparator {
	background-image: url('images/editor_rtl.gif');
}

.dijitRtl .dijitToolbar .dijitToolbarSeparator {
	background-image: url('images/editor_rtl.gif');
}

* Editor *
.dijitRtl .dijitEditorIcon {
	background-image: url('images/editor_rtl.gif'); /* editor icons sprite image */
}
*/
