/*

	Adds cosmetic styling to Dijit.  Users may swap with a custom theme CSS file.

*/

@import url("../dijit.css");


/* IE: HACK use filter property for all 24-bit PNG images in IE6 */
.dj_ie6 .tundra .dijitInputField {
	background-image: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="dijitTundraGradientBg.png", sizingMethod="scale");
}

/** TODO: add all other PNGs here that need this */



/* generic arrows */

.tundra .dijitDownArrow {
	border:0px;
	background:url('images/dijitArrow-down.png') no-repeat;
	width:9px;
	height:9px;	
}

.tundra .dijitUpArrow {
	border:0px;
	background:url('images/dijitArrow-up.png') no-repeat;
	width:9px;
	height:9px;	
}

.tundra .dijitLeftArrow {
	border:0px;
	background:url('images/dijitArrow-left.png') no-repeat;
	width:9px;
	height:9px;	
}

.tundra .dijitRightArrow {
	border:0px;
	background:url('images/dijitArrow-right.png') no-repeat;
	width:9px;
	height:9px;	
}


.tundra .dijitSmallDownArrow {
	border:0px;
	background:url('images/dijitSmallArrow-down.png') no-repeat;
	width:5px;
	height:3px;	
}

.tundra .dijitSmallUpArrow {
	border:0px;
	background:url('images/dijitSmallArrow-up.png') no-repeat;
	width:5px;
	height:3px;	
}

.dijitRTL .tundra .dijitRightArrow {
	background:url('images/dijitArrow-left.png') no-repeat;
}



/*Dojo Button Rules*/

.tundra .dijitButton {
	padding:0 0 1px 1px;
	border:1px solid;
	margin:3px;
}

.dijitButton .dijitButtonNode {
	padding:2px 4px;
}

.tundra .dijitButtonEnabled {
	background-color:#fff;
	border-color:#a0a0a0 #9b9b9b #9b9b9b #a0a0a0;
}

.tundra .dijitButtonEnabled .dijitButtonNode {
	background:#e9e9e9 url("images/dijitButton-enabled.png") repeat-x top;
}

.tundra .dijitButton .dijitButtonArrow {
	border-left:1px solid #a9a9a9;
}

.tundra .dijitButtonDisabled {
	border-color:#d5d5d5;
	background-color:#e4e4e4;
}

.tundra .dijitButtonDisabled .dijitButtonNode {
	color:#b4b4b4;
	background:#e4e4e4 url("images/dijitButton-disabled.png") top repeat-x;
}

.tundra .dijitButtonEnabled:hover {
	color: #243C5F;
	border-color:#7788a0;
}

.tundra .dijitButtonEnabled:hover .dijitButtonNode {
	color:#172e4e;
	background-image: url("images/dijitButton-hover.png");
}

.tundra .dijitButtonEnabled:active {
	border-color:#7788a0;
}

.tundra .dijitButtonEnabled:active .dijitButtonNode{
	background: #ededed url("images/dijitButton-active.png") bottom repeat-x;
}

/** ???
.tundra .dijitButtonEnabled *[popupActive],
.tundra .dijitButtonEnabled *:active {
	background-image: url("dijitButton-active.png");
}
*/

/****
		dijit.form.Textbox
		dijit.form.ValidationTextbox
		dijit.form.SerializableTextbox
		dijit.form.RangeBoundTextbox
		dijit.form.NumberTextbox
		dijit.form.CurrencyTextbox
		dijit.form.AutoCompleter
		dijit.form.NumberSpinner
 ****/

.tundra .dijitInputField,
.tundra .dijitAutoCompleterInput {
	/* 	For all except dijit.form.NumberSpinner:  the actual input element.
		For dijit.form.NumberSpinner: the outer fieldset that contains the input.
	*/
	font-size:inherit;
	background:#fff url("validationInputBg.png") repeat-x top left;
	border:1px solid #9b9b9b;
	height:1.6em;
	padding:.1em .3em;
	margin:.0em .2em .2em .2em;
	-moz-box-sizing:border-box;
}

.tundra .dijitAutoCompleterInput {
	/* remove the right-margin so the drop down button fits snugly on the side */
	margin-right:0em;
}

.tundra .dijitInputField:focus,
.tundra .dijitInputFieldFocused {
	/* input field when focused (eg: typing affects it) */
	border:1px solid #7788a0;
}

.tundra .dijitInputField[disabled],
.tundra .dijitInputFieldDisabled {
	/* input field when disabled */
	background-color:#dbdbdb;
	color:#787878;
	border-color:#e0e0e0;
}

.tundra .dijitInputField[disabled]:active,
.tundra .dijitInputFieldDisabled:active {
	/* input field when focused (eg: typing affects it) */
	background-color:#dbdbdb;
	color:#787878;
	border-color:#e0e0e0;
}

.tundra .dijitArrowButtonContainer {
	/* outer container (fieldset) for the arrow button in a select, etc */
	width:1.6em;
	height:1.6em;
	line-height:100%;
}

.tundra .dijitArrowButton {
	/* inner container (fieldset) for the arrow button in a select 
		Sets size and border.
	*/
	
	height:1.6em;		/* set height to same as dijitInputField so they line up! */
	line-height:1.6em;	/* line-height controls top of arrow */
	border:1px solid #a0a0a0;
	border-left-width:0px;
	background:white url('images/dijitButton-enabled.png') repeat-x bottom;
}

.dijitArrow {
	/* Actual arrow.  Currently implemented as a unicode black arrow char. 
		BUG: There seems to be a minimum size of this on Mac.  :-(
	*/
	font-family:Arial;
	font-size:.5em;
	margin:0em .5em;
	line-height:0em;
}

.tundra  .dijitAutoCompleterDisabled .dijitArrowButton {
	color:#d5d5d5;
	border-color:#d5d5d5;
	background:#e4e4e4 url('images/dijitButton-disabled.png') top;	
}






.tundra .dijitArrowButton .dijitDownArrow {
	/* actual arrow graphic */
	margin-top:5px;
}



/* Dojo Input Field */

.tundra .dijitInputFieldValidationNormal {
	
}

.tundra .dijitInputFieldValidationWarning {
	border:1px solid #f3d118;
}

.tundra .dijitInputFieldValidationError {
	border:1px solid #f3d118;
	background:#f9f7ba;
}

.tundra .dijitInputFieldValidationError:hover,
.tundra .dijitInputFieldValidationError:focus {
	
}

.tundra .dijitCheckbox {
	background-image: url('images/checkmark.png'); /* checkbox sprite image */
	width: 16px;
	height: 16px;
}


/* Menu */
.tundra .dijitMenu{
	border: solid;
	border-color: #7788a0 #344257 #344257 #7788a0;
	border-width:1px 2px 2px 1px;
	-moz-border-radius:0px 2px 0px 2px;	/* make BL and TR corners indent on Moz so it looks like we have a shadow */
	background:#fff url("images/dijitMenu.gif") repeat-x bottom;
	margin: 0px;
	padding: 0px;
}

.tundra .dijitMenuItem{
	font: menu;
	margin: 0;
}

.tundra .dijitMenuItem TD {
	padding:2px;
}

.tundra .dijitMenuItemHover {
	background-color:#60a1ea;
	color:#fff;
}

.tundra .dijitMenuItemIcon {
	width: 16px;
	height: 16px;
	padding-right: 3px;
}


/* MOW: I don't think this is used anymore:
.tundra .dijitMenuItemHover .dijitMenuItemSubmenu {
	background-image: url(images/submenu_on.gif);
}

.tundra .dijitRTL .dijitMenuItemHover .dijitMenuItemSubmenu {
	background-image: url(images/submenu_on_rtl.gif);
}
*/

/* MOW: I don't think this is used anymore:
.tundra .dijitMenuItemDisabled .dijitMenuItemSubmenu {
	background-image: url(images/submenu_disabled.gif);
}

.tundra .dijitRTL .dijitMenuItemDisabled .dijitMenuItemSubmenu {
	background-image: url(images/submenu_disabled_rtl.gif);
}
*/



.tundra .dijitMenuSeparator {}

/* separator can be two pixels -- set border of either one to 0px to have only one */
.tundra .dijitMenuSeparatorTop {
	border-bottom: 1px solid #97adcb;
}

.tundra .dijitMenuSeparatorBottom {
	border-top: 1px solid #c9deff;
}





/* Toaster */

.tundra .dijitToasterContent{
	padding:1em;
	padding-top:0.25em;
	background:#73c74a;
}

.tundra .dijitToasterMessage{ 
	color:#fff;
}
.tundra .dijitToasterWarning{ }
.tundra .dijitToasterError,
.tundra .dijitToasterFatal{
	font-weight:bold;
	color:#fff;
}

.tundra .dijitToasterWarning .dijitToasterContent{
	padding:1em;
	padding-top:0.25em;
	background:#d4d943;
} 

.tundra .dijitToasterError .dijitToasterContent{
	padding:1em;
	padding-top:0.25em;
	background:#c46600;
} 


/* TitlePane */

.tundra .dijitTitlePaneLabel {
	background: #cccccc;
	background:#fafafa url("titleBarBg.gif") repeat-x bottom left;
	border:1px solid #bfbfbf;
	padding:4px 4px 2px 4px;
}

.tundra .dijitTitlePaneLabel .dijitOpenCloseArrowOuter {
	margin-right:5px;
}

.tundra .dijitOpen .dijitTitlePaneLabel .dijitOpenCloseArrowOuter {
	position:relative;
	top:2px;
}

.tundra .dijitTitlePaneContent {
	background: #ffffff;
	border:1px solid #bfbfbf;
	border-top: 1px solid #cddde9;	/* w/out this, an <h1> on the top line causes a gap between the .content and .label */
	padding:10px;
}

.tundra .dijitClickableRegion {
	background-color : #ffc !important;
}


.tundra .dijitTextArea {
	width:50%;
	overflow:auto;
	border:1px solid #7788a0;
}


/* Tabs */


.tundra .dijitTabPaneWrapper {
	border:1px solid #ccc;
}

.tundra .dijitTab {
	margin-right:5px;		/* space between one tab and the next in top/bottom mode */
	padding:0px;
	border:1px solid #afafaf;
	background:#e2e2e2 url("images/dijitTab-enabled.png") repeat-x;
}

.tundra .dijitAlignLeft .dijitTab,
.tundra .dijitAlignRight .dijitTab {
	margin-right:0px;
	margin-bottom:5px;	/* space between one tab and the next in left/right mode */
}


.tundra .dijitTabInnerDiv {
/*	min-height:16px;	*/
	padding:6px 10px 4px 10px;
	border-left:1px solid #fff;
	border-bottom:1px solid #fff;
}

.tundra .dijitTabActive {
	background:#e2e2e2 url("images/dijitTab-active.png") repeat-x bottom !important;
}



/* make the active tab white on the side next to the content pane */
.tundra .dijitAlignTop .dijitTabActive {
	border-bottom-color:white;
	vertical-align:bottom;
}

.tundra .dijitAlignBottom .dijitTabActive {
	border-top-color:white;
	-moz-border-radius:2px 2px 0px 0px;	/* eliminate some border detritrus on moz */
}

.tundra .dijitAlignLeft .dijitTabActive {
	border-right-color:white;
}

.tundra .dijitAlignRight .dijitTabActive {
	border-left-color:white;
}


.tundra .dijitTabHover {
	color: #243C5F;
	border-top-color:#92a0b3;
	border-left-color:#92a0b3;
	border-right-color:#92a0b3;
	background:#e2e2e2 url("images/dijitTab-hover.png") repeat-x bottom;
}


.tundra .dijitTab .closeImage {
	position:relative;
	top: 2px;
	height : 12px;
	width : 12px;
	padding : 0 12px 0 0;
	margin : 0px 0px 0px 10px;
}

.tundra .dijitTab .closeImage {
	background : url("images/dijitTabClose.png") no-repeat right top;
}

.tundra .dijitTab .closeImageHover {
	background-image : url("images/dijitTabClose-hover.png") !important;
}



/* SplitContainer */

.tundra .dijitSplitContainerSizerH {
	background:url("images/dijitSplitContainerSizerH.png") repeat-y #fff;
	border:0;
	border-left:1px solid #bfbfbf;
	border-right:1px solid #bfbfbf;
	width:7px;
}

.tundra .dijitSplitContainerSizerH .thumb {
	background:url("images/dijitSplitContainerSizerH-thumb.png") no-repeat #ccc;
	left:1px;
	width:3px;
	height:19px;
}

.tundra .dijitSplitContainerSizerV {
	background:url("images/dijitSplitContainerSizerV.png") repeat-x #fff;
	border:0;
	border-top:1px solid #bfbfbf;
	border-bottom:1px solid #bfbfbf;
	height:7px;
}

.tundra .dijitSplitContainerSizerV .thumb {
	background:url("images/dijitSplitContainerSizerV-thumb.png") no-repeat #ccc;
	top:1px;
	width:19px;
	height:3px;
}


/*Tooltip*/

.tundra .dijitTooltipContainer {
	border: solid;
	border-color: #7788a0 #344257 #344257 #7788a0;
	border-width:1px 2px 2px 1px;
	-moz-border-radius:0px 2px 0px 2px;	/* make BL and TR corners indent on Moz so it looks like we have a shadow */
	padding:0.45em;
	background:#fff url("popupMenuBg.gif") repeat-x bottom left;
}

.tundra .dijitTooltipConnector {
	border:0px;
	top: -13px;
	left: 3px;
	z-index: 2;
	background:url("tooltipConnector.png") no-repeat top left;
	width:16px;
	height:14px;
}

.tundra .dijitTooltipConnector div {
	/*Override the html/css arrow*/
	display:none;
}

/*Accordion*/

.tundra .dijitAccordionPane-selected {
	/* background-color:#85aeec; */
	background-color: #e7e7e7;
}

.tundra .dijitAccordionPane .label {
	background:#fafafa url("images/dijitTitleBar.png") repeat-x bottom left;
	border: 1px solid #bfbfbf;
	padding:4px 4px 2px 4px;
}

.tundra .dijitAccordionPane-selected .label {
	background: #ededed url("images/dijitButton-active.png") bottom repeat-x;
	font-weight: bold;
	/* border:1px solid #84a3d1; */
	border: 1px solid #aaaaaa;
	padding: 4px 4px 2px 4px;
}

.tundra .dijitAccordionPane .label .arrow {
	background:url("images/dijitDoubleArrow-up.png") no-repeat;
	width:9px;
	height:9px;
	margin-top:2px;
}

.tundra .dijitAccordionPane-selected .label .arrow {
	background:url("images/dijitDoubleArrow-down.png") no-repeat;
	margin-top:3px;
}

.tundra .dijitAccordionPane .accBody {
	background: #fff;
	/* 
	border:1px solid #84a3d1; 
	border:1px solid #d5d5d5;
	*/
	border:1px solid #bfbfbf;
}



/* Tree */
.tundra .TreeNode {
    background-image : url('i.gif');
    background-position : top left;
    background-repeat : repeat-y;
    margin-left: 19px;
    zoom: 1;	/* MOW: what the heck is this doing in here? */
}
.tundra .TreeIsRoot {
    margin-left: 0;
}
 
/* left vertical line (grid) for all nodes */
.tundra .TreeIsLast {
    background: url('i_half.gif') no-repeat;
}

.tundra .TreeExpando {
    width: 18px;
    height: 18px;
}

.tundra .TreeContent {
    min-height: 18px;
    min-width: 18px;
    margin-left:18px;
    padding-top:3px;
    padding-left:1px;
}

.tundra .TreeIEContent {
	height: 18px;
}
 
.tundra .TreeExpand {
    width: 18px;
    height: 18px;
    background-repeat : no-repeat;
}
 
/* same style as IE selection */
.tundra .TreeNodeEmphasized {
    background-color: Highlight;
    color: HighlightText;
}

/* don't use :focus due to opera and IE's lack of support on div's */
.tundra .TreeLabelFocused {
	outline: 1px invert dotted;
}

.tundra .TreeExpandoOpened {
	background-image: url('expand_minus.gif');
}
 
.tundra .TreeExpandoClosed {
	background-image: url('expand_plus.gif');
}
 
.tundra .TreeExpandoLeaf {
	background-image: url('expand_leaf.gif');
}

.tundra .TreeExpandoLoading {
	background-image: url('expand_loading.gif');
}


/* Calendar*/


.tundra .calendarIncrementControl {
	/* next/prev month buttons */
	padding:2px;
}

.tundra table.calendarContainer {
/*	border:1px solid #566f8f;*/
	font-size: 100%;
	border-collapse: collapse; 
	border-spacing: 0; 
	border: 1px solid #ccc; 
	margin: 0;
}



.tundra .calendarMonthContainer th {
	/* month header cell */
	background:white url("images/dijitCalendarMonthLabel.png") repeat-x top;
	padding-top:.2em;
}

.tundra .calendarDayLabelTemplate {
	/* day of week labels */
	background:white url("images/dijitCalendarDayLabel.png") repeat-x bottom;
	font-weight:normal;
	padding-top:.15em;
	padding-bottom:0em;
	border-top:1px solid #eeeeee;
	border-bottom:
	color:#293a4b;
	text-align:center;
}

.tundra .calendarMonthLabel {
	/* day of week labels */
	color:#293a4b;
	font-size: 0.75em;
	font-weight: bold;
	text-align:center;
}

.tundra .calendarDateTemplate {
	/* style for each day cell */
	font-size: 0.7em;
	font-weight: bold;
	text-align:center;
	padding:0.1em 0.3em 0.05em .3em;
	letter-spacing:1px;
}


.tundra .calendarPreviousMonth,
.tundra .calendarNextMonth 		{
	/* days that are part of the previous or next month */
	color:#999999;
	background-color:#f8f8f8 !important;
}

.tundra .calendarPreviousMonthDisabled,
.tundra .calendarNextMonthDisabled	{
	/* days that are part of the previous or next month - disabled*/
	background-color:#a4a5a6 !important;
}

.tundra .calendarCurrentMonth {
	/* days that are part of this month */
	background-color:white !important;
}

.tundra .calendarCurrentMonthDisabled {
	/* days that are part of this month - disabled */	
	background-color:#bbbbbc !important;
}


.tundra .calendarCurrentDate {
	/* cell for today's date */
	text-decoration:underline;
	font-weight:bold;
}

.tundra .calendarSelectedDate {
	/* cell for the selected date */
	background-color:#bbc4d0 !important;
	color:black !important;
}


.tundra .calendarYearContainer {
	/* footer of the table that contains the year display/selector */
	background:white url("images/dijitCalendarYearLabel.png") repeat-x bottom;
	border-top:1px solid #ccc;
}

.tundra .calendarYearLabel {
	/* container for all of 3 year labels */
	margin:0;
	padding:0.4em 0 0.25em 0;
	text-align:center;
}

.tundra .calendarSelectedYear {
	/* label for selected year */
	color:black;
	padding:0.2em;
	padding-bottom:0.1em;
	background-color:#bbc4d0 !important;
}

.tundra .calendarNextYear, 
.tundra .calendarPreviousYear {
	/* label for next/prev years */
	color:black !important;
	font-weight:normal;
}





/* generic 'show an arrow' stuff */

.tundra .dijitDownArrowOuter,
.tundra .dijitOpen .dijitOpenCloseArrowOuter {
	padding:0px;
	margin:auto;
	border:0px;
	overflow:hidden;
	height:100%;
	width:auto;
	display: inline-block;
	display: -moz-inline-stack;
	vertical-align:middle;
}

.tundra .dijitDownArrowInner,
.tundra .dijitOpen .dijitOpenCloseArrowInner {
	border-width:0px;
	border-style:none;
	margin:0px 3px 0px 3px;
	line-height:auto;
	height:9px;
	width:9px;
	display: block;
	background:url('images/dijitArrow-down.png') no-repeat;
}

.tundra .dijitRightArrowOuter,
.tundra .dijitClosed .dijitOpenCloseArrowOuter {
	border:0px none;
	height:100%;
	margin:auto;
	overflow:hidden;
	padding:0px;
	width:auto;
}

.tundra .dijitRightArrowInner,
.tundra .dijitClosed .dijitOpenCloseArrowInner {
	border-width:0px;
	margin:0px 3px 0px 3px;
	border-style:none;
	line-height:0px;
	height:9px;
	width:9px;
	display: block;
	background:url('images/dijitArrow-right.png') no-repeat;
}

.dijitRTL .tundra .dijitRightArrowInner {
	background:url('images/dijitArrow-left.png') no-repeat;
}


/* inline edit boxen */
.tundra .dijitInlineValue {
	/* span around an inline-editable value when NOT in edit mode */
	border:1px solid #eeeeee;
	padding:3px;
	margin:4px;
}


/* MOW: trying to get this to look like a mini-dialog.  Advised? */
.tundra .dijitInlineEditor {
	/* fieldset surrounding an inlineEditor in edit mode */
	display:inline-block;
	display: -moz-inline-stack;
	#display:inline;
	border: solid;
	border-color: #7788a0 #344257 #344257 #7788a0;
	border-width:1px 2px 2px 1px;
	-moz-border-radius:0px 2px 0px 2px;	/* make BL and TR corners indent on Moz so it looks like we have a shadow */
	background-color:white;
}

.dijitInlineEditor .saveButton,
.dijitInlineEditor .cancelButton {
	margin:3px;
}


/* spinner */

.tundra .dijitSpinner {}

.tundra .dijitSpinner INPUT {
	margin-left:.2em  !important;
}

.tundra .dijitSpinnerArrowGroup {}

.tundra .dijitSpinnerButton {
	/* container for spinner buttons */
	padding:3px;
	border:1px solid;
	border-color:#a0a0a0 #9b9b9b #9b9b9b #a0a0a0;
	background:#e9e9e9 url("images/dijitButton-enabled.png") repeat-x top;
}

.tundra .dijitSpinnerButtonActive {
	/* container for spinner buttons when pressed */
	border-color:#7788a0;
	background: #ededed url("images/dijitButton-active.png") bottom repeat-x;
}

.tundra .dijitSpinnerUpArrow {
	/* container for top spinner button */
	margin:-1px -1px 0px 0px;
}

.tundra .dijitSpinnerDownArrow {
	/* container for bottom spinner button */
	margin:-1px -1px -1px 0px;
}



/****
		dijit.ProgressBar
 ****/
 
.tundra .dijitProgressBar {
	margin:2px 0px 2px 0px;
}

 
.tundra .dijitProgressBarEmpty{
	/* outer container and background of the bar that's not finished yet*/
	background:#ececec url("images/dijitProgressBarEmpty.png") repeat-x bottom left;
	border-color: #84a3d1;
}


.dijitProgressBarFull {
	/* outer container for background of bar that is finished */
}

.tundra .dijitProgressBarColorLayer{
	/* inner container for finished portion when in 'color' mode */
	background-color:#cad2de;
	border-color:#cad2de;
}
.tundra .dijitProgressBarTileLayer{
	/* inner container for finished portion when in 'tile' (image) mode */
	background:#cad2de url("images/dijitProgressBarFull.png") repeat-x top left;
}

.tundra .dijitProgressBarEmptyLabel{
	/* label for portion of the bar that's not finished yet 
		Set to a color that contrasts with the "Empty" part.  
	*/
	color:#293a4b;
}

.tundra .dijitProgressBarFullLabel{
	/* label for portion of the bar that is finished 
		set to a color that contrasts with the "Full" part
	*/
	color:#2963b9;
}


.tundra .dijitProgressBarIndeterminate .dijitProgressBarTileLayer {
	/* use an animated gif for the progress bar in 'indeterminate' mode */
	background:#cad2de url("images/dijitProgressBarAnim.gif") repeat-x top left;
}
