/* To inline block elements, surround them with <fieldset class="dojoInlineBox"> */
.dojoInlineBox {
	display:inline;
	border:0px;
	padding:0px;
}

.dojoCheckbox {
	/* location of checkbox sprint image */
	background-image: url(check.gif);
}
