
/* To inline block elements, surround them with <fieldset class="dojoInlineBox"> */
.dojoInlineBox {
	
	display:inline-block;
	display: -moz-inline-stack;
	_display:inline;
	border:0px;
	padding:0px;
	vertical-align:middle;
}

.dojoPopup {
	position: absolute;
}

.dojoPositionOnly {
        padding: 0px !important;
        border: 0px !important;
        background-color: none !important;
        background-url: none !important;
        height: auto !important;
        width: auto !important;
}

.dojoNonPositionOnly {
        float: none !important;
        position: static !important;
        margin: 0px 0px 0px 0px !important;
        vertical-align: middle !important;
}

/*IE6 Hack */
* html .dojoButtonNode, 
* html .dojoInputField,
* html .dojoMenu {
	background-image: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="dojoTundraGradientBg.png", sizingMethod="scale");
}



/*Dojo Button Rules*/

.dojoButton {
	padding:0 0 1px 1px;
	border-width:1px;
	border-style:solid;
	line-height:0px; /* needed by webkit */
}

.dojoButton .dojoButtonNode {
	border:0px;
	margin:0px;
	font-family: Myriad, Arial, Helvetica;
	font-size:13px;
	font-weight:normal;
	padding:2px 4px;
	overflow:visible;
	line-height:normal;
}

table.dojoButton .dojoButtonNode {
	#overflow:hidden; /* visible messes up if the button is inside a table on IE */
}

.dojoButtonEnabled {
	background-color:#fff;
	border-color:#dadada #a9a9a9 #a9a9a9 #dadada;
}

.dojoButtonEnabled .dojoButtonNode {
	background:#e2e2e2 url("dojoTundraGradientBg.png") repeat-x 0 0;
}

.dojoButton .dojoButtonArrow {
	border-left:1px solid #a9a9a9;
}

.dojoButtonDisabled {
	border-color:#dadada #a9a9a9 #a9a9a9 #dadada;
}

.dojoButtonDisabled {
	background-color:#dadada;
}

.dojoButtonDisabled,
.dojoButtonDisabled * {
	cursor: url("no.gif"), default;
}

.dojoButtonDisabled .dojoButtonNode {
	color:#787878;
	background-image: url("dojoTundraGradientBgActive.png");
}

.dojoButtonEnabled:hover {
	border-color:#9dcff5 #4aa0e1 #4aa0e1 #9dcff5;
}

.dojoButtonEnabled:hover .dojoButtonNode {
	color:#236190;
}

.dojoButtonEnabled:active {
	border-color:#42739a #80a5c2 #80a5c2 #42739a;
}

.dojoButtonEnabled *[popupActive],
.dojoButtonEnabled *:active {
	/*background-image: url("dojoTundraGradientBgActive.png");
	background-position:bottom left;*/
	background-color:#d3e7f5;
}

.dojoButtonContents {
        padding: 0px;
        text-align: center;     /* if icon and label are split across two lines, center icon */
        vertical-align: middle; /* if icon and label are on same line, center them */
        white-space: nowrap;
        color: inherit;
}

.dojoButtonContents * {
        text-align: center;
        vertical-align: middle; /* if icon and label are on same line, center them */
}

/* border between label and arrow for drop down buttons */
.dojoButtonContentsDropDown {
        padding-right: 3px;
}

/* Base of Tundra default theme */
.dojoInputField
{
	background:#e9e9e9 url("dojoTundraGradientBg.png") repeat-x 0 0;
	border-color:#e8e8e8;
	border-width:1px;
	font-family: Myriad, Arial, Helvetica;
	font-size:13px;
	font-weight:normal;
	padding:2px 4px;
}


/* Default Hover Styles */ 
.dojoInputField:hover,
.dojoMenuItemHover
{
	color:#0e4978;
	border-color:#92adc2;
}

/* Default Active/Focus style*/
.dojoInputField:focus,
.dojoInputFieldFocused
{
	background-image: url("dojoTundraGradientBgActive.png");
	background-position:bottom left;
	border:1px solid #92adc2;
}

/* Default Disabled Styles*/
.dojoInputField[disabled],
.dojoInputFieldDisabled,
.dojoMenuItemDisabled {
	background-position:0 -8px;
	background-color:#dbdbdb;
	color:#787878;
	border-color:#e0e0e0;
}

.dojoInputField[disabled]:active,
.dojoInputFieldDisabled:active {
	background-image: url("dojoTundraGradientBg.png");
}

/* Widget Specific Rules */

/* Dojo Input Field */

.dojoInputFieldValidationNormal {
	background-color:#e9e9e9;
}

.dojoInputFieldValidationWarning,
.dojoInputFieldValidationWarning:hover,
.dojoInputFieldValidationWarning:focus {
/* TBD */
	background-color:cyan;
}

.dojoInputFieldValidationError {
	background-color:#f4ee88;
}

.dojoInputFieldValidationError:hover,
.dojoInputFieldValidationError:focus {
	border-color:#ede11b;
}

.dojoCheckbox {
	background-image: url(checkmark.gif); /* checkbox sprint image */
	width: 16px;
	height: 16px;
}

/* to go in dijit.css */
.dojoCheckboxImageContainer,
.dojoCheckboxInputInvisible {
	border: 0;
	margin: 0;
	padding: 0;
}

/* to go in dijit.css */
.dojoCheckbox {
	/* to go in dijit.css */
	position: relative;
}

/* to go in dijit.css */
.dojoCheckboxImageContainer,
.dojoCheckboxInputInvisible {
	position: absolute;
	left: 0;
	top: 0;
}

/* to go in dijit.css */
.dojoCheckboxInputInvisible {
	z-index: 100;
	opacity: 0.01;
	filter: alpha(opacity=0);
}

/* to go in dijit.css */
.dj_ie .dojoCheckboxImageContainer, 
.dj_ie .dojoCheckboxInputInvisible {
	top: 3px;
}

/*** Full sized arrows (matching the size of a line of text) ***/

/* Down arrow */

.dojoDownArrowOuter,
.dojoOpen .dojoOpenCloseArrowOuter {
	padding:0px;
	margin:auto;
	border:0px;
	overflow:hidden;
	height:.7em;
	width:.9em;
	display: inline-block;
	display: -moz-inline-stack;
	vertical-align:middle;
}

.dojoDownArrowInner,
.dojoOpen .dojoOpenCloseArrowInner {
	border-width:2.1em 1.32em;
	margin:-1.4em 0px 0px -.88em;
	border-style:solid dotted;
	border-color:gray transparent;
	line-height:0px;
	height:0px;
	width:0px;
	display: block;
}

.dj_ie6 .dojoDownArrowInner {
	margin: 0px;
	border-width:.7em .44em 0px .44em;
}

/* Right arrow */

.dojoRightArrowOuter,
.dojoClosed .dojoOpenCloseArrowOuter {
	border:0px none;
	height:0.9em;
	margin:auto;
	overflow:hidden;
	padding:0px;
	width:0.7em;
}

.dojoRightArrowInner,
.dojoClosed .dojoOpenCloseArrowInner {
	border-width:1.32em 2.1em 1.32em 2.1em;
	margin:-.88em -1.4em -.88em -1.4em;
	border-style:dotted solid;
	border-color:transparent gray;
	line-height:0px;
	height:0px;
	width:0px;
	display: block;
}

/* it becomes a left arrow for LTR locales */
.dojoRTL .dojoRightArrowInner {
	margin-left:-2.1em;
}

/* Menu */

.dojoMenu{
	/* temporary! */
	border: solid 1px #92adc2;
	background: #fff;
	border-collapse:collapse;
}
.dojoMenuItem{
	white-space: nowrap;
	font: menu;
	margin: 0;
}

.dojoMenuItemHover {
	cursor:pointer;
	cursor:hand;
	background-color:#e7f0f7;
	
}

.dojoMenuItemIcon {
	position: relative;
	background-position: center center;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	padding-right: 3px;
}

.dojoMenuItemLabel {
	position: relative;
	vertical-align: middle;
}

.dojoMenuItemHover .dojoMenuItemSubmenu {
	background-image: url(images/submenu_on.gif);
}

.dojoRTL .dojoMenuItemHover .dojoMenuItemSubmenu {
	background-image: url(images/submenu_on_rtl.gif);
}

.dojoMenuItemDisabled .dojoMenuItemSubmenu {
	background-image: url(images/submenu_disabled.gif);
}

.dojoRTL .dojoMenuItemDisabled .dojoMenuItemSubmenu {
	background-image: url(images/submenu_disabled_rtl.gif);
}

.dojoMenuSeparator {
	font-size: 1px;
	margin: 0;
}

.dojoMenuSeparatorTop {
	height: 50%;
	border-bottom: 1px solid #7a98c4;
	margin: 0px 2px;
	font-size: 1px;
}

.dojoMenuSeparatorBottom {
	height: 50%;
	border-top: 1px solid #c9deff;
	margin: 0px 2px;
	font-size: 1px;
}


/* Toaster */
.dojoToasterClip {
	position: absolute;
	overflow: hidden;
}

.dojoToasterContainer {
	display: block;
	position: absolute;
	width: 17.5em;
	z-index: 5000;
	margin: 0px;
	font:0.75em Tahoma, Helvetica, Verdana, Arial;
}

.dojoToasterContent{
	padding:1em;
	padding-top:0.25em;
	background:#73c74a;
}

.dojoToasterMessage{ 
	color:#fff;
}
.dojoToasterWarning{ }
.dojoToasterError,
.dojoToasterFatal{
	font-weight:bold;
	color:#fff;
}

.dojoToasterWarning .dojoToasterContent{
	padding:1em;
	padding-top:0.25em;
	background:#d4d943;
} 

.dojoToasterError .dojoToasterContent{
	padding:1em;
	padding-top:0.25em;
	background:#c46600;
} 

.dojoProgressBarEmpty{
	position:relative;overflow:hidden;
	width:300px;height:30px;
	border:1px solid #84a3d1;
}

.dojoProgressBarColorLayer{
	background-color:#84a3d1;
	border-color:#84a3d1;
	/* the border provides visibility in high-contrast mode */
	border-width:4px;border-style:solid;
	width:auto;height:auto;
}

.dj_ie .dojoProgressBarColorLayer{
	width:100%;height:100%;
}

.dojoProgressBarTileLayer{
	background:url("bar.gif") repeat bottom left;
	background-attachment: fixed;
}

.dojoProgressBarVertical .dojoProgressBarTileLayer{
	background-image:url("h-bar.gif");
}

.dojoProgressBarVertical .dojoProgressBarFull{
	bottom:0px
}

.dojoProgressBarColor div.dojoProgressBarTileLayer{
	/* turn off the tile image when we want a colored bar */
	background-image:none
}

.dojoProgressBarFrontLabel,.dojoProgressBarBackLabel{
	font:bold 13px helvetica;
}

.dojoProgressBarBackLabel{
	color:#293a4b;
}
.dojoProgressBarFrontLabel{
	color:#fff;
}

.dojoSpinner {
	display:inline;
	vertical-align:middle;
	padding:0px;
	white-space:nowrap !important;
	width:auto !important;
	height:auto !important;
}

.dojoSpinnerArrowGroup {
	display:inline;
	padding:0px;
	border:0px;
	margin: 0px;
	vertical-align:middle;
	line-spacing:0px !important;
	width:1.12em;
}

.dojoSpinnerArrowGroup fieldset {
	display:block;
	padding:.1em;
	margin: .08em;
	vertical-align:middle;
	line-spacing:0px !important;
	border:.08em outset;
	border-color:rgb(200,200,200) black black rgb(200,200,200);
	text-align:center;
}

.dojoSpinnerArrowGroup fieldset.dojoSpinnerButtonPushed {
	border-style:inset;
	border-color:black rgb(200,200,200) rgb(200,200,200) black;
	background-color:gray;
}

.dojoSpinner input {
	padding:0px !important;
	vertical-align:middle !important;
	margin:auto !important;
	border:0px !important;
	position:static !important;
	display:inline;
	float:none !important;
	visibility:visible !important;
	font-size:100% !important;
	background-color:transparent !important;
}

.dojoSpinnerArrow {
	padding:0px;
	margin:auto;
	border:0px;
	overflow:hidden;
	height:0.4em;
	width:0.6em;
}

.dojoSpinnerArrow div {
	border-width:1.2em .9em;
	border-style:solid dotted;
	border-color:gray transparent;
	line-height:0px;
	height:0px;
	width:0px;
}

.dojoSpinnerUpArrow {
	margin:-1.2em 0px 0px -.6em;
}

.dojoSpinnerDownArrow {
	margin:-.8em 0px 0px -.6em;
}

.dj_ie6 .dojoSpinnerUpArrow {
	border-width:0px .3em .4em .3em;
	margin:0px;
}

.dj_ie6 .dojoSpinnerDownArrow {
	border-width:.4em .3em 0px .3em;
	margin:0px;
}

.dojoSpinnerButtonPushed .dojoSpinnerArrow div {
	border-color:white transparent;
}

/* Tooltip */

.dojoTooltip {
	position: absolute;
	z-index: 10;
	display: block;
	margin-top: 10px;
	border: red;

	/* make visible but off screen */
	left: -10000px;
	top: -10000px;
}

.dojoTooltipContainer {
	border: solid black 2px;
	background: #b8b5b5;
	color: black;
	font-size: small;
	padding: 2px 2px 2px 2px;
}

.dojoTooltipConnector {
	/* the border on the triangle */
	font-size: 0px; line-height: 0%; width: 0px;
	position: absolute;
	border-top: none;
	border-bottom: 14px solid black;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	top: -14px;
	left: 3px;
	z-index: 2;
}

.dojoTooltipConnector div {
	/* the background of the triangle */
	font-size: 0px; line-height: 0%; width: 0px;
	position: absolute;
	border-bottom: 10px solid #b8b5b5;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	top: 6px;
	left: -5px;
	z-index: 3;
}

/* TitlePane */

.tundra .dojoTitlePaneLabel {
	background: #cccccc;
	background:#fafafa url("titleBarBg.gif") repeat-x bottom left;
	border:1px solid #bfbfbf;
	padding:4px 4px 2px 4px;
}

.tundra .dojoTitlePaneLabel .dojoOpenCloseArrowOuter {
	margin-right:5px;
}

.tundra .dojoOpen .dojoTitlePaneLabel .dojoOpenCloseArrowOuter {
	position:relative;
	top:2px;
}

.tundra .dojoTitlePaneContent {
	background: #ffffff;
	border:1px solid #bfbfbf;
	border-top: 1px solid #cddde9;	/* w/out this, an <h1> on the top line causes a gap between the .content and .label */
}

.tundra .dojoDisabledClickableRegion {
	cursor: default;        /* makes opera happy */
	cursor: url("no.gif"), default;
}

.tundra .dojoClickableRegion {
        background-color : #ffc !important;
        cursor : pointer;
}



.dojoTextArea {
	width:50%;
	overflow:auto;
}


/* Tabs */

.dojoTabPane {
	clear:left;
	border:1px solid #ccc;
}

.dojoTab {
	font-family: Myriad, Arial, Helvetica;
	font-size:13px;
	font-weight:normal;
	cursor:pointer;
	float:left;
	margin:0 5px 0 0;
	position:relative;
	white-space:nowrap;
	z-index:3;
	border-color:#ccc;
	border-width:1px 1px 0 1px;
	border-style:solid;
}

.dojoTab span {
	padding:6px;
	border-left:1px solid #fff;
	border-right:1px solid #fff;
	background:#e2e2e2 url("dojoTundraGradientBg.png") repeat-x 0 0;
}

.dojoTabActive {
	border-bottom:0;
	bottom:-1px;
}

.dojoTabActive span {
	background:#fff url("dojoTundraTabActiveBg.png") top left repeat-x;
}

/* Tree */
/* indent for all tree children excepts root */
.TreeNode {
    background-image : url('i.gif');
    background-position : top left;
    background-repeat : repeat-y;
    margin-left: 19px;
    zoom: 1;
}
.TreeIsRoot {
    margin-left: 0;
}
 
/* left vertical line (grid) for all nodes */
.TreeIsLast {
    background-image: url('i_half.gif');
    background-repeat : no-repeat;
}

.TreeExpando {
    width: 18px;
    height: 18px;
    float: left;
    display: inline;
}

.TreeExpandoOpened {
    background-image: url('expand_minus.gif');
}
 
.TreeExpandoClosed {
    background-image: url('expand_plus.gif');
}
 
.TreeExpandoLeaf {
    background-image: url('expand_leaf.gif');
}

.TreeExpandoLoading {
    background-image: url('expand_loading.gif');
}

.TreeContent {
    min-height: 18px;
    min-width: 18px;
    margin-left:18px;
    cursor: default;
    /* can't make inline - multiline bugs */
}

.TreeIEContent {
	height: 18px;
}
 
.TreeExpand {
    width: 18px;
    height: 18px;
    float: left;
    display: inline;
    background-repeat : no-repeat;
}
 
/* same style as IE selection */
.TreeNodeEmphasized {
    background-color: Highlight;
    color: HighlightText;
}

/* don't use :focus due to opera and IE's lack of support on div's */
.TreeLabelFocused {
      outline: 1px invert dotted;
}
