@import url("../dijit.css");

/*IE6 Hack */
* html .dojoButtonNode, 
* html .dojoInputField {
	background-image: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="dojoTundraGradientBg.png", sizingMethod="scale");
}


/*Dojo Button Rules*/

.dojoButton {
	padding:0 0 1px 1px;
	border-width:1px;
	border-style:solid;
	line-height:0px; /* needed by webkit */
}

.dojoButton .dojoButtonNode {
	border:0px;
	margin:0px;
	font-family: Myriad, Arial, Helvetica;
	font-size:13px;
	font-weight:normal;
	padding:2px 4px;
	overflow:visible;
	line-height:normal;
}

table.dojoButton .dojoButtonNode {
	#overflow:hidden; /* visible messes up if the button is inside a table on IE */
}

.dojoButtonEnabled {
	background-color:#fff;
	border-color:#dadada #a9a9a9 #a9a9a9 #dadada;
}

.dojoButtonEnabled .dojoButtonNode {
	background:#e2e2e2 url("dojoTundraGradientBg.png") repeat-x 0 0;
}

.dojoButton .dojoButtonArrow {
	border-left:1px solid #a9a9a9;
}

.dojoButtonDisabled {
	border-color:#dadada #a9a9a9 #a9a9a9 #dadada;
}

.dojoButtonDisabled {
	background-color:#dadada;
}

.dojoButtonDisabled,
.dojoButtonDisabled * {
	cursor: url("no.gif"), default;
}

.dojoButtonDisabled .dojoButtonNode {
	color:#787878;
	background-image: url("dojoTundraGradientBgActive.png");
}

.dojoButtonEnabled:hover {
	border-color:#9dcff5 #4aa0e1 #4aa0e1 #9dcff5;
}

.dojoButtonEnabled:hover .dojoButtonNode {
	color:#236190;
}

.dojoButtonEnabled:active {
	border-color:#42739a #80a5c2 #80a5c2 #42739a;
}

.dojoButtonEnabled *[popupActive],
.dojoButtonEnabled *:active {
	/*background-image: url("dojoTundraGradientBgActive.png");
	background-position:bottom left;*/
	background-color:#d3e7f5;
}

.dojoButtonContents {
        padding: 0px;
        text-align: center;     /* if icon and label are split across two lines, center icon */
        vertical-align: middle; /* if icon and label are on same line, center them */
        white-space: nowrap;
        color: inherit;
}

.dojoButtonContents * {
        text-align: center;
        vertical-align: middle; /* if icon and label are on same line, center them */
}

/* border between label and arrow for drop down buttons */
.dojoButtonContentsDropDown {
        padding-right: 3px;
}

/* Base of Tundra default theme */
.dojoInputField
{
	background:#e9e9e9 url("dojoTundraGradientBg.png") repeat-x 0 0;
	border-color:#e8e8e8;
	border-width:1px;
	font-family: Myriad, Arial, Helvetica;
	font-size:13px;
	font-weight:normal;
	padding:2px 4px;
}


/* Default Hover Styles */ 
.dojoInputField:hover {
	color:#0e4978;
	border-color:#92adc2;
}

/* Default Active/Focus style*/
.dojoInputField:focus,
.dojoInputFieldFocused
{
	background-image: url("dojoTundraGradientBgActive.png");
	background-position:bottom left;
	border:1px solid #92adc2;
}

/* Default Disabled Styles*/
.dojoInputField[disabled],
.dojoInputFieldDisabled {
	background-position:0 -8px;
	background-color:#dbdbdb;
	color:#787878;
	border-color:#e0e0e0;
}

.dojoInputField[disabled]:active,
.dojoInputFieldDisabled:active {
	background-image: url("dojoTundraGradientBg.png");
}

/* Widget Specific Rules */

/* Dojo Input Field */

.dojoInputFieldValidationNormal {
	background-color:#e9e9e9;
}

.dojoInputFieldValidationWarning,
.dojoInputFieldValidationWarning:hover,
.dojoInputFieldValidationWarning:focus {
/* TBD */
	background-color:cyan;
}

.dojoInputFieldValidationError {
	background-color:#f4ee88;
}

.dojoInputFieldValidationError:hover,
.dojoInputFieldValidationError:focus {
	border-color:#ede11b;
}

.dojoCheckbox {
	background-image: url(checkmark.gif); /* checkbox sprint image */
	width: 16px;
	height: 16px;
}


/* Menu */
.tundra .dojoMenu{
	border: solid 1px #bfbfbf;
	border-right:2px solid #ababab;
	border-bottom:2px solid #ababab;
	border-collapse:collapse;
	background:#fff url("popupMenuBg.gif") repeat-x bottom left;
}

.tundra .dojoMenuItem{
	white-space: nowrap;
	font: menu;
	margin: 0;
}

.tundra .dojoMenuItemHover {
	cursor:pointer;
	cursor:hand;
	background-color:#cbe3f5;
}

.tundra .dojoMenuItemIcon {
	position: relative;
	background-position: center center;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	padding-right: 3px;
}

.tundra .dojoMenuItemLabel {
	position: relative;
	vertical-align: middle;
}

.tundra .dojoMenuItemHover .dojoMenuItemSubmenu {
	background-image: url(images/submenu_on.gif);
}

.tundra .dojoRTL .dojoMenuItemHover .dojoMenuItemSubmenu {
	background-image: url(images/submenu_on_rtl.gif);
}

.tundra .dojoMenuItemDisabled .dojoMenuItemSubmenu {
	background-image: url(images/submenu_disabled.gif);
}

.tundra .dojoRTL .dojoMenuItemDisabled .dojoMenuItemSubmenu {
	background-image: url(images/submenu_disabled_rtl.gif);
}

.tundra .dojoMenuSeparator {
	font-size: 1px;
	margin: 0;
}

.tundra .dojoMenuSeparator2 {
	border-top:1px solid #e4e4e4;
}

/* are these two still used?*/
.tundra .dojoMenuSeparatorTop {
	height: 50%;
	border-bottom: 1px solid #e4e4e4;
	margin: 0px 2px;
	font-size: 1px;
}

.tundra .dojoMenuSeparatorBottom {
	height: 50%;
	border-top: 1px solid #c9deff;
	margin: 0px 2px;
	font-size: 1px;
}


/* Toaster */

.dojoToasterContent{
	padding:1em;
	padding-top:0.25em;
	background:#73c74a;
}

.dojoToasterMessage{ 
	color:#fff;
}
.dojoToasterWarning{ }
.dojoToasterError,
.dojoToasterFatal{
	font-weight:bold;
	color:#fff;
}

.dojoToasterWarning .dojoToasterContent{
	padding:1em;
	padding-top:0.25em;
	background:#d4d943;
} 

.dojoToasterError .dojoToasterContent{
	padding:1em;
	padding-top:0.25em;
	background:#c46600;
} 


/* TitlePane */

.tundra .dojoTitlePaneLabel {
	background: #cccccc;
	background:#fafafa url("titleBarBg.gif") repeat-x bottom left;
	border:1px solid #bfbfbf;
	padding:4px 4px 2px 4px;
}

.tundra .dojoTitlePaneLabel .dojoOpenCloseArrowOuter {
	margin-right:5px;
}

.tundra .dojoOpen .dojoTitlePaneLabel .dojoOpenCloseArrowOuter {
	position:relative;
	top:2px;
}

.tundra .dojoTitlePaneContent {
	background: #ffffff;
	border:1px solid #bfbfbf;
	border-top: 1px solid #cddde9;	/* w/out this, an <h1> on the top line causes a gap between the .content and .label */
}

.tundra .dojoDisabledClickableRegion {
	cursor: default;        /* makes opera happy */
	cursor: url("no.gif"), default;
}

.tundra .dojoClickableRegion {
	background-color : #ffc !important;
	cursor : pointer;
}


.tundra .dojoTextArea {
	width:50%;
	overflow:auto;
}


/* Tabs */

.dojoTabPane {
	clear:left;
	border:1px solid #ccc;
}

.dojoTab {
	font-family: Myriad, Arial, Helvetica;
	font-size:13px;
	font-weight:normal;
	cursor:pointer;
	float:left;
	margin:0 5px 0 0;
	position:relative;
	white-space:nowrap;
	z-index:3;
	border-color:#ccc;
	border-width:1px 1px 0 1px;
	border-style:solid;
}

.dojoTab span {
	padding:6px;
	border-left:1px solid #fff;
	border-right:1px solid #fff;
	background:#e2e2e2 url("dojoTundraGradientBg.png") repeat-x 0 0;
}

.dojoTabActive {
	border-bottom:0;
	bottom:-1px;
}

.dojoTabActive span {
	background:#fff url("dojoTundraTabActiveBg.png") top left repeat-x;
}

.tundra .dojoAutoCompleter {
	width:auto !important;
}

/* ContentPane */

.dojoContentPane {
	display: block;
	overflow: auto;	/* if we don't have this (or overflow:hidden), then Widget.resizeTo() doesn't make sense for ContentPane */
}

/* SplitContainer */

.tundra .dojoSplitContainerSizerH {
	background:url("splitContainerHBg.gif") repeat-y top right #fff;
	border:0;
	border-left:1px solid #bfbfbf;
	border-right:1px solid #bfbfbf;
}

.tundra .dojoSplitContainerSizerV {

}

.dojoSplitContainerVirtualSizerH,
.dojoSplitContainerVirtualSizerV {
	
}

.dojoSplitContainerVirtualSizerV {
	cursor: n-resize;
}