@import url("../dijit_rtl.css");

/* Dialog */
.dijitRtl .dijitDialogTitleBar .dijitDialogCloseIcon {
	background : url("images/tabClose.png") no-repeat left top;
	float: left;
	right: auto;
	left: 5px;
}

.dijitRtl .dijitDialogTitleBar {
	background: #fafafa url("images/titleBarBg.gif") repeat-x bottom left;
	padding: 4px 4px 2px 8px;
}

/* Menu */

.dijitRtl .dijitMenuItem .dijitMenuItemIcon {
	padding-left: 3px;
	padding-right: 0px;
}

.dijitRtl .dijitMenuItem .dijitMenuRightArrowEnabled {
	background:url('images/arrowLeft.png') no-repeat bottom center;
}

/* TitlePane */
.dijitRtl .dijitClosed .dijitTitlePaneTitle .dijitArrowNode  {
	background:url('images/arrowLeft.png') no-repeat center center; 
}

/* Tree */
.dijitRtl .TreeContainer .TreeNode {
    background-image : url('images/i_rtl.gif');
    background-position : top right;
    margin-left: auto;
    margin-right: 19px;
}

.dijitRtl .TreeContainer .TreeIsRoot {
	margin-left: auto;
    margin-right: 0;
}

.dijitRtl .TreeContainer .TreeIsLast {
    background-image: url('images/i_half_rtl.gif');
}

.dijitRtl .TreeContainer .TreeContent {
    margin-left: auto;
    margin-right: 18px;
    padding-left: auto;
    padding-right: 1px;   
}

.dijitRtl .TreeContainer .TreeExpandoOpened {
	background-image: url('images/treeExpand_minus_rtl.gif');
}

.dijitRtl .TreeContainer .TreeExpandoClosed {
	background-image: url('images/treeExpand_plus_rtl.gif');
}

.dijitRtl .TreeContainer .TreeExpandoLeaf {
	background-image: url('images/treeExpand_leaf_rtl.gif');
}
