
/* 	dijit.form.Button */	
.blackie .dijitButton							{	background-image:url('buttonEnabled-left.png');		}
.blackie .dijitButton .dijitRight				{	background-image:url('buttonEnabled-right.png');	}
.blackie .dijitButton .dijitStretch				{	background-image:url('buttonEnabled-stretch.png');	}
	
.blackie .dijitButtonHover 						{	background-image:url('buttonHover-left.png');		}
.blackie .dijitButtonHover .dijitRight			{	background-image:url('buttonHover-right.png');		}
.blackie .dijitButtonHover .dijitStretch		{	background-image:url('buttonHover-stretch.png');	}
	
.blackie .dijitButtonActive						{	background-image:url('buttonActive-left.png');		}
.blackie .dijitButtonActive .dijitRight			{	background-image:url('buttonActive-right.png');		}
.blackie .dijitButtonActive .dijitStretch		{	background-image:url('buttonActive-stretch.png');	}
	
.blackie .dijitButtonDisabled					{	background-image:url('buttonDisabled-left.png');	}
.blackie .dijitButtonDisabled .dijitRight		{	background-image:url('buttonDisabled-right.png');	}
.blackie .dijitButtonDisabled .dijitStretch		{	background-image:url('buttonDisabled-stretch.png');	}



/* 	dijit.form.ComboButton */
.blackie .dijitComboButton						{	background-image:url('comboButtonEnabled-left.png');	}
.blackie .dijitComboButton .dijitRight			{	background-image:url('comboButtonEnabled-right.png');	}
.blackie .dijitComboButton .dijitStretch		{	background-image:url('comboButtonEnabled-stretch.png');	}

.blackie .dijitComboButtonHover 				{	background-image:url('comboButtonBtnHover-left.png');		}
.blackie .dijitComboButtonHover .dijitRight		{	background-image:url('comboButtonBtnHover-right.png');		}
.blackie .dijitComboButtonHover .dijitStretch	{	background-image:url('comboButtonBtnHover-stretch.png');	}

.blackie .dijitComboButtonActive				{	background-image:url('comboButtonBtnActive-left.png');		}
.blackie .dijitComboButtonActive .dijitRight	{	background-image:url('comboButtonBtnActive-right.png');		}
.blackie .dijitComboButtonActive .dijitStretch	{	background-image:url('comboButtonBtnActive-stretch.png');	}


.blackie .dijitComboButtonDownArrowHover 				{	background-image:url('comboButtonArrowHover-left.png');		}
.blackie .dijitComboButtonDownArrowHover .dijitRight	{	background-image:url('comboButtonArrowHover-right.png');		}
.blackie .dijitComboButtonDownArrowHover .dijitStretch	{	background-image:url('comboButtonArrowHover-stretch.png');	}

.blackie .dijitComboButtonDownArrowActive				{	background-image:url('comboButtonArrowActive-left.png');		}
.blackie .dijitComboButtonDownArrowActive .dijitRight	{	background-image:url('comboButtonArrowActive-right.png');		}
.blackie .dijitComboButtonDownArrowActive .dijitStretch	{	background-image:url('comboButtonArrowActive-stretch.png');	}

.blackie .dijitComboButtonDisabled				{	background-image:url('comboButtonDisabled-left.png') !important;	}
.blackie .dijitComboButtonDisabled .dijitRight	{	background-image:url('comboButtonDisabled-right.png') !important;	}
.blackie .dijitComboButtonDisabled .dijitStretch{	background-image:url('comboButtonDisabled-stretch.png') !important;	}


/* 	dijit.form.DropDownButton */
.blackie .dijitDropDownButton						{	background-image:url('ddButtonEnabled-left.png');		}
.blackie .dijitDropDownButton .dijitRight			{	background-image:url('ddButtonEnabled-right.png');	}
.blackie .dijitDropDownButton .dijitStretch			{	background-image:url('ddButtonEnabled-stretch.png');	}

.blackie .dijitDropDownButtonHover 					{	background-image:url('ddButtonHover-left.png');		}
.blackie .dijitDropDownButtonHover .dijitRight		{	background-image:url('ddButtonHover-right.png');		}
.blackie .dijitDropDownButtonHover .dijitStretch	{	background-image:url('ddButtonHover-stretch.png');	}

.blackie .dijitDropDownButtonActive					{	background-image:url('ddButtonActive-left.png');		}
.blackie .dijitDropDownButtonActive .dijitRight		{	background-image:url('ddButtonActive-right.png');		}
.blackie .dijitDropDownButtonActive .dijitStretch	{	background-image:url('ddButtonActive-stretch.png');	}

.blackie .dijitDropDownButtonDisabled				{	background-image:url('ddButtonDisabled-left.png');	}
.blackie .dijitDropDownButtonDisabled .dijitRight	{	background-image:url('ddButtonDisabled-right.png');	}
.blackie .dijitDropDownButtonDisabled .dijitStretch	{	background-image:url('ddButtonDisabled-stretch.png');	}



/* dijit.form.AutoCompleter */

.blackie .dijitAutoCompleter					{	background-image:url('selectEnabled-left.png');		}
.blackie .dijitAutoCompleter .dijitRight		{	background-image:url('selectEnabled-right.png');	}
.blackie .dijitAutoCompleter .dijitStretch		{	background-image:url('selectEnabled-stretch.png');	}

.blackie .dijitAutoCompleterHover				{	background-image:url('selectHover-left.png');		}
.blackie .dijitAutoCompleterHover .dijitRight	{	background-image:url('selectHover-right.png');		}
.blackie .dijitAutoCompleterHover .dijitStretch	{	background-image:url('selectHover-stretch.png');	}
	
.blackie .dijitAutoCompleterActive				{	background-image:url('selectActive-left.png');		}
.blackie .dijitAutoCompleterActive .dijitRight	{	background-image:url('selectActive-right.png');	}
.blackie .dijitAutoCompleterActive .dijitStretch{	background-image:url('selectActive-stretch.png');	}

.blackie .dijitAutoCompleterDisabled			{	background-image:url('selectDisabled-left.png');	}
.blackie .dijitAutoCompleterDisabled .dijitRight{	background-image:url('selectDisabled-right.png');	}
.blackie .dijitAutoCompleterDisabled .dijitStretch{	background-image:url('selectDisabled-stretch.png');	}



/* dijit.form.Spinner */

.blackie .dijitSpinner .dijitLeft							{	background-image:url('spinnerEnabled-left.png') }
.blackie .dijitSpinner .dijitUpArrowButton					{	background-image:url('spinnerEnabled-top.png');	}
.blackie .dijitSpinner .dijitDownArrowButton				{	background-image:url('spinnerEnabled-bottom.png');	}
.blackie .dijitSpinner .dijitStretch						{	background-image:url('spinnerEnabled-stretch.png');	}

.blackie .dijitSpinnerUpArrowHover .dijitUpArrowButton		{	background-image:url('spinnerHover-top.png');	}
.blackie .dijitSpinnerDownArrowHover .dijitDownArrowButton	{	background-image:url('spinnerHover-bottom.png');	}

.blackie .dijitSpinnerUpArrowActive .dijitUpArrowButton		{	background-image:url('spinnerActive-top.png');	}
.blackie .dijitSpinnerDownArrowActive .dijitDownArrowButton	{	background-image:url('spinnerActive-bottom.png');	}

.blackie .dijitSpinnerDisabled .dijitLeft					{	background-image:url('spinnerDisabled-left.png');	}
.blackie .dijitSpinnerDisabled .dijitUpArrowButton			{	background-image:url('spinnerDisabled-top.png');	}
.blackie .dijitSpinnerDisabled .dijitDownArrowButton		{	background-image:url('spinnerDisabled-bottom.png');	}
.blackie .dijitSpinnerDisabled .dijitStretch				{	background-image:url('spinnerDisabled-stretch.png');	}
