
/*****
		dijit.form.Button
		dijit.form.DropDownButton
		dijit.form.ComboButton
		dijit.form.ComboBox (partial)
 *****/

.soria .dijitButtonNode {
	/* enabled state - inner */
	/* border:1px outset #a0a0a0; */
	border: 1px solid #8ba0bd;
	border-bottom:1px solid #657c9c;
	background: #bcd5f0 url("../images/buttonEnabled.png") repeat-x top left;
}
.soria .dijitSelect .dijitButtonContents {
	border-right: none;
}

.soria .dijitButtonNode button {
	border: 0px;
	background-color: transparent;
}

.soria .dijitButtonText {
	text-align: center;
	padding: 0 0.3em;
}

.soria .dijitComboBox .dijitButtonNode {
	border-width: 0px 0px 0px 1px;
}

.soria .dijitArrowButton {
	color: #111;
}

.soria .dijitComboBoxReadOnly,
.soria .dijitSpinnerReadOnly,
.soria .dijitSpinnerReadOnly .dijitButtonNode,
.soria .dijitButtonDisabled .dijitButtonNode,
.soria .dijitToggleButtonDisabled .dijitButtonNode,
.soria .dijitDropDownButtonDisabled .dijitButtonNode,
.soria .dijitComboButtonDisabled .dijitButtonNode,
.soria .dijitComboBoxDisabled,
.soria .dijitSpinnerDisabled,
.soria .dijitSpinnerDisabled .dijitButtonNode {
	/* disabled state - inner */
	border-color: #b9bbdd #b9bbdd #b9bbdd #b9bbdd;
	background:#c3d3e5 url("../images/buttonDisabled.png") top repeat-x;
	opacity: 0.60;
}
.dj_ie6 .soria .dijitReadOnly INPUT,
.dj_ie7 .soria .dijitReadOnly INPUT,
.dj_ie6 .soria .dijitComboButtonDisabled .dijitButtonText,
.dj_ie7 .soria .dijitComboButtonDisabled .dijitButtonText {
	/* opacity doesn't work on table node in IE, work around here */
	color: #aaa;
}
.soria .dijitButtonHover .dijitButtonNode,
.soria .dijitButtonNodeHover,
.soria .dijitToggleButtonHover .dijitButtonNode,
.soria .dijitDropDownButtonHover .dijitButtonNode,
.soria .dijitUpArrowButtonHover,
.soria .dijitDownArrowButtonHover {
	/* hover state - inner */
	/* TODO: change from Hover to Selected so that button is still highlighted while drop down is being used */
	color:#243C5F;
	background:#acc5e2 url("../images/buttonHover.png") repeat-x top left;
}

.soria .dijitButtonActive .dijitButtonNode,
.soria .dijitToggleButtonActive .dijitButtonNode,
.soria .dijitDropDownButtonActive .dijitButtonNode,
.soria .dijitComboButtonActive .dijitButtonNode,
.soria .dijitStackController .dijitToggleButtonChecked .dijitButtonNode {
	/* active state - inner (for when you are pressing a normal button, or
	 * when a radio-type button is in a depressed state
	 */
	border-color:#657c9c;
	background: #91b4e5 url("../images/buttonActive.png") top left repeat-x;
}
.soria .dijitUpArrowButtonActive,
.soria .dijitDownArrowButtonActive {
	/* same as above except don't adjust border color (it's controlled by the containing Spinner/ComboBox) */
	background: #91b4e5 url("../images/buttonActive.png") top left repeat-x;
}

.soria .dijitArrowButtonImg {
	background-image: url("../images/spriteArrows.png");
	background-repeat: no-repeat;
	background-position: 0px center;
	margin:0 3px;
	width:11px;
}
.soria .dijitLeftArrowButton .dijitArrowButtonImg {
	background-position: -11px center;
}
.soria .dijitUpArrowButton .dijitArrowButtonImg {
	background-position: -22px center;
}
.soria .dijitRightArrowButton .dijitArrowButtonImg {
	background-position: -33px center;
}
.dj_ie6 .soria .dijitArrowButtonImg {
	background-image: url("../images/spriteArrows.gif");
}
