
/****
		dijit.form.TextBox
		dijit.form.ValidationTextBox
		dijit.form.SerializableTextBox
		dijit.form.RangeBoundTextBox
		dijit.form.NumberTextBox
		dijit.form.CurrencyTextBox
		dijit.form.NumberSpinner
		dijit.form.ComboBox (partial)
 ****/

.soria .dijitInputField INPUT,
.soria .dijitTextBox,
.soria .dijitComboBox,
.soria .dijitSpinner {
	margin: 0em 0.1em;
}

.soria .dijitTextBox,
.soria .dijitComboBox,
.soria .dijitSpinner,
.soria .dijitTextArea {
	/* 	For all except dijit.form.NumberSpinner:  the actual input element.
		For TextBox, ComboBox, Spinner: the table that contains the input.
		Otherwise the actual input element.
	*/
	background:#fff url("../images/validationInputBg.png") repeat-x top left;
	#background:#fff url('../images/validationInputBg.gif') repeat-x top left;
	border:1px solid #8ba0bd;
	line-height: normal;
}

.soria .dijitTextArea {
	background-color:#FFF !important; /* for validationInputBg.png */
}

.soria .dijitComboBox .dijitButtonNode,
.soria .dijitSpinner .dijitButtonNode {
	/* line between the input area and the drop down button */
	border-color: #8ba0bd;
	border-left: 1px solid #8ba0bd;
}

.soria .dijitTextBoxFocused,
.soria .dijitComboBoxFocused,
.soria .dijitSpinnerFocused,
.soria .dijitTextAreaFocused {
	/* input field when focused (ie: typing affects it) */
	border-color:#406b9b;
}
.soria .dijitComboBoxFocused .dijitButtonNode,
.soria .dijitSpinnerFocused .dijitButtonNode,
.soria .dijitSpinner .dijitUpArrowButtonActive,
.soria .dijitSpinner .dijitDownArrowButtonActive {
	border-left-color:#8ba0bd;
}
.soria .dijitSpinnerFocused .dijitDownArrowButton,
.soria .dijitSpinner .dijitUpArrowButtonActive,
.soria .dijitSpinner .dijitDownArrowButtonActive {
	border-top-color:#8ba0bd;
}

.soria .dijitError {
	border-color:#f3d118;
	background-color:#f9f7ba;
	background-image:none;
}
.dj_ie6 .soria .dijitError INPUT {
	/* background-color: transparent on an <input> doesn't work on IE6 */
	background-color:#f9f7ba;
}

.soria .dijitErrorFocused {
	background-color:#ff6;
	background-image:none;
}
.dj_ie6 .soria .dijitErrorFocused INPUT {
	/* background-color: transparent on an <input> doesn't work on IE6 */
	background-color:#ff6;
}

/* Validation errors  */
.soria .dijitValidationIcon {
	/* prevent height change when widget goes from valid to invalid state */
	background: transparent url('../images/warning.png') no-repeat center 95%;
}

/* The highlight is shown in the ComboBox menu. */
.soria .dijitComboBoxHighlightMatch {
	background-color:#f9f7ba;
}
