
/*****
		dijit.form.Button
		dijit.form.DropDownButton
		dijit.form.ComboButton
		dijit.form.ComboBox (partial)
 *****/

.nihilo .dijitButtonNode {
	/* enabled state - inner */
	/* border:1px outset #a0a0a0; */
	border:1px solid #dedede;
	border-bottom:1px solid #dedede;
	padding: 0.1em 0.2em 0.2em 0.2em;
	background: #fff url("../images/buttonEnabled.png") repeat-x top left;
}
.nihilo .dijitSelect .dijitButtonContents {
	border-right: none;
}

.nihilo .dijitButtonNode button {
	border: 0px;
	background-color: transparent;
}

.nihilo .dijitButtonText {
	text-align: center;
	padding: 0 0.3em;
}

.nihilo .dijitComboBox .dijitButtonNode {
	border-width: 0px 0px 0px 1px;
}

.nihilo .dijitArrowButton {
	color: #111;
}

.nihilo .dijitComboBoxReadOnly,
.nihilo .dijitSpinnerReadOnly,
.nihilo .dijitSpinnerReadOnly .dijitButtonNode,
.nihilo .dijitButtonDisabled .dijitButtonNode,
.nihilo .dijitToggleButtonDisabled .dijitButtonNode,
.nihilo .dijitDropDownButtonDisabled .dijitButtonNode,
.nihilo .dijitComboButtonDisabled .dijitButtonNode,
.nihilo .dijitComboBoxDisabled,
.nihilo .dijitSpinnerDisabled,
.nihilo .dijitSpinnerDisabled .dijitButtonNode {
	/* disabled state - inner */
	border-color: #dedede;
	background:#fafafa url("../images/buttonDisabled.png") top repeat-x;
	opacity: 0.60;
}
.dj_ie6 .nihilo .dijitReadOnly INPUT,
.dj_ie7 .nihilo .dijitReadOnly INPUT,
.dj_ie6 .nihilo .dijitComboButtonDisabled .dijitButtonText,
.dj_ie7 .nihilo .dijitComboButtonDisabled .dijitButtonText {
	/* opacity doesn't work on table node in IE, work around here */
	color: #aaa;
}


.nihilo .dijitButtonHover .dijitButtonNode,
.nihilo .dijitButtonNodeHover,
.nihilo .dijitToggleButtonHover .dijitButtonNode,
.nihilo .dijitDropDownButtonHover .dijitButtonNode,
.nihilo .dijitComboButton .dijitButtonNode,
.nihilo .dijitDownArrowButtonHover,
.nihilo .dijitUpArrowButtonHover {
	/* hover state - inner */
	/* TODO: change from Hover to Selected so that button is still highlighted while drop down is being used */
	color:#243C5F;
	background:#fcfcfc url("../images/buttonHover.png") repeat-x top left;
}

.nihilo .dijitUpArrowButtonActive,
.nihilo .dijitDownArrowButtonActive,
.nihilo .dijitButtonActive .dijitButtonNode,
.nihilo .dijitToggleButtonActive .dijitButtonNode,
.nihilo .dijitDropDownButtonActive .dijitButtonNode,
.nihilo .dijitComboButtonActive .dijitButtonNode,
.nihilo .dijitStackController .dijitToggleButtonChecked .dijitButtonNode {
	/* active state - inner (for when you are pressing a normal button, or
	 * when a radio-type button is in a depressed state
	 */
	border-color:#dedede;
	background: #f5f5f5 url("../images/buttonActive.png") top left repeat-x;
}


.nihilo .dijitArrowButtonImg {
	background-image: url("../images/spriteArrows.png");
	background-repeat: no-repeat;
	background-position: 0px center;
	width: 11px;
	margin: 0 3px;
}
.nihilo .dijitLeftArrowButton .dijitArrowButtonImg {
	background-position: -11px center;
}
.nihilo .dijitUpArrowButton .dijitArrowButtonImg {
	background-position: -22px center;
}
.nihilo .dijitRightArrowButton .dijitArrowButtonImg {
	background-position: -33px center;
}
.dj_ie6 .nihilo .dijitArrowButtonImg {
	background-image: url("../images/spriteArrows.gif");
}
