/* Make unselected "look" more like a text box and less like a button */
.nihilo .dijitSelect .dijitButtonContents {
    background-image: url("../images/validationInputBg.png");
	background-position:left top;
	background-repeat:repeat-x;
    #background-image: url('../images/validationInputBg.gif');
}
.nihilo .dijitSelectField {
	background-color:#fff !important; /* background must be white for validationInputBg.png */
}
.nihilo .dijitSelectHover .dijitButtonContents,
.nihilo .dijitSelectActive .dijitButtonContents,
.nihilo .dijitSelectOpened .dijitButtonContents,
.nihilo .dijitSelectDisabled .dijitButtonContents,
.nihilo .dijitSelectReadOnly .dijitButtonContents{
	background: transparent none;
}

/* Mirror DropDownButton */
.nihilo .dijitSelectDisabled .dijitButtonNode {
    border-color: #dedede;
    background:#fafafa url("../images/buttonDisabled.png") top repeat-x;
}
.dj_ie .nihilo .dijitSelectDisabled  .dijitButtonNode * {
	filter: gray() alpha(opacity=50);
}

.nihilo .dijitSelectHover .dijitButtonNode {
    color:#000;
    background:#fcfcfc url("../images/buttonHover.png") repeat-x top left;
}

.nihilo .dijitSelectActive .dijitButtonNode,
.nihilo .dijitSelectOpened .dijitButtonNode {
    border-color:#dedede;
    background: #f5f5f5 url("../images/buttonActive.png") top left repeat-x;
}

/* Make the menu look more combobox-like */
.nihilo .dijitSelectMenu td {
	padding: 0em;
}
.nihilo .dijitSelectMenu .dijitMenuItemLabel,
.nihilo .dijitSelectMenu .dijitMenuArrowCell {
	padding: 0.1em 0.2em;
}

