<table class="dijit dijitReset dijitInline" cellspacing="0"  cellpadding="0">
	<tr class="dijitReset">
		<td class="dijitReset">
			<input dojoAttachPoint='textbox,focusNode' dojoAttachEvent='onfocus,onkeyup,onkeypress:_onKeyPress' autocomplete="off"
			id='${id}' name='${name}' class="dijitInputField" type='${type}' size='${size}' maxlength='${maxlength}' tabIndex='${tabIndex}'/>
		</td><td class="dijitReset">
			<div dojoAttachPoint='iconNode' class='dijitInputFieldValidationIcon'>
				<span class='dijitInputFieldValidationIconText' waiRole="presentation" tabIndex="-1">&Chi;</span>
			</div>
		</td>
	</tr>
</table>
