.lucid .dijitToggleButton .dijitCheckBoxIcon {
	background-image: url('../images/checkmarkNoBorder.png');
}

.dj_ie6 .lucid .dijitToggleButton .dijitCheckBoxIcon {
	background-image: url('../images/checkmarkNoBorder.gif');
}

.lucid .dijitCheckBox,
.lucid .dijitCheckBoxIcon		/* inside a toggle button */	{
	background-image: url('images/checkboxRadioButtonStates.png'); /* checkbox sprite image */
	background-repeat: no-repeat;
	width: 15px;
	height: 16px;
	margin: 0 2px 0 0;
	padding: 0;
}

.dj_ie6 .lucid .dijitCheckBox,
.dj_ie6 .lucid .dijitCheckBoxIcon		/* inside a toggle button */	{
	background-image: url('images/checkboxAndRadioButtons_IE6.png'); /* checkbox sprite image */
}

.lucid .dijitCheckBox,
.lucid .dijitToggleButton .dijitCheckBoxIcon {
	/* unchecked */
	background-position: -15px;
}

.lucid .dijitCheckBoxChecked,
.lucid .dijitToggleButtonChecked .dijitCheckBoxIcon {
	/* checked */
	background-position: -0px;
}

.lucid .dijitCheckBoxDisabled {
	/* disabled */
	background-position: -75px;
}

.lucid .dijitCheckBoxCheckedDisabled {
	/* disabled but checked */
	background-position: -60px;
}

.lucid .dijitCheckBoxHover {
	/* hovering over an unchecked enabled checkbox */
	background-position: -45px;
}

.lucid .dijitCheckBoxCheckedHover {
	/* hovering over an unchecked enabled checkbox */
	background-position: -30px;
}


