.lucid .dijitToggleButton .dijitRadio,
.lucid .dijitToggleButton .dijitRadioIcon {
	background-image: url('images/checkboxRadioButtonStates.png');
}

.dj_ie6 .lucid .dijitToggleButton .dijitRadio,
.dj_ie6 .lucid .dijitToggleButton .dijitRadioIcon {
	background-image: url('images/checkboxAndRadioButtons_IE6.png');
}

.lucid .dijitRadio,
.lucid .dijitRadioIcon	{		/* inside a toggle button */
	background-image: url('images/checkboxRadioButtonStates.png'); /* checkbox sprite image */
	background-repeat: no-repeat;
	width: 15px;
	height: 15px;
	margin: 0px 2px 0px 0px;
	padding: 0px;
}
.dj_ie7 .dijit_a11y .dijitRadio,
.dj_ie6 .dijit_a11y .dijitRadio{
	width: 20px;
	height:20px;
}

.dj_ie6 .lucid .dijitRadio,
.dj_ie6 .lucid .dijitRadioIcon	{		/* inside a toggle button */
	background-image: url('images/checkboxAndRadioButtons_IE6.png'); /* checkbox sprite image */
}

.lucid .dijitRadio{
	/* unselected */
	background-position: -105px;
}

.lucid .dijitToggleButton .dijitRadioIcon {
	/* unselected */
	background-position: -107px;
}

.lucid .dijitRadioDisabled {
	/* unselected and disabled */
	background-position: -165px;
}

.lucid .dijitRadioHover {
	/* hovering over an unselected enabled radio button */
	background-position: -135px;
}

.lucid .dijitRadioChecked{
	background-position: -90px;
}

.lucid .dijitToggleButtonChecked .dijitRadioIcon {
	background-position: -92px;
}

.lucid .dijitRadioCheckedHover{
	background-position: -120px;
}

.lucid .dijitRadioCheckedDisabled {
	/* selected but disabled */
	background-position: -150px;
}
