/** dijit.form.Select **/

/* override button.css */
.lucid .dijitSelect .dijitButtonNode {
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}
.lucid .dijitSelect .dijitButtonNode {
	background: none;
	border: none;
}
/* end override */


/* normal status */
.lucid .dijitSelect {
	border: 1px solid #bcc8dd;
	background-color: #fff;
	background-repeat: repeat-x;
	background-position: top left;
	background-image:url("images/textBox_back.png");
}
.dj_ie6 .lucid .dijitSelect,
.dj_ie6 .lucid .dijitSelect .dijitButtonNode{
	background-image:none;
}

.lucid .dijitSelect .dijitButtonContents {
	border-right: 1px solid #bcc8dd;
}

.lucid .dijitSelect .dijitArrowButton {
	padding: 0;
	border: 1px solid #fff;
	background: #f6f7fa url("images/menubutton_back.png") repeat-x left top;
}

.lucid .dijitSelect .dijitArrowButton .dijitArrowButtonInner {
	background:url("images/arrowdown.png") no-repeat scroll center center;
	width:auto;
	height:100%;
	width: 1.7em;
	display:block;
}

/* hover status */
.lucid .dijitSelectHover {
	border: 1px solid #769dc0;
	background-color: #eef7ff;
	background-image: url('images/textBox_back_hover.png');
}

.lucid .dijitSelectHover .dijitButtonContents {
	border-right-color:#81a5c6;
}

.lucid .dijitSelectHover .dijitArrowButton {
	background-color:#abd6ff;
	background-image: url("images/white_grad.png");
}
.lucid .dijitSelectHover .dijitArrowButton .dijitArrowButtonInner {
	background-image :url("images/arrowdown_active.png");
}

/* active status */
.lucid .dijitSelectActive .dijitButtonContents {
	border-right-color:#81a5c6;
}
.lucid .dijitSelectActive .dijitArrowButton {
	background-color:#7dbefa;
	background-image: url("images/white_grad_shadow.png");
	border: none;
	padding: 1px;
}
.lucid .dijitSelectActive .dijitArrowButton .dijitArrowButtonInner {
	background-image :url("images/arrowdown_active.png");
}

/* focused status */
.lucid .dijitSelectFocused .dijitButtonContents {
	border-right-color:#81a5c6;
}
.lucid .dijitSelectFocused .dijitArrowButton {
	background-color:#7dbefa;
	background-image: url("images/white_grad_shadow.png");
	border: none;
	padding: 1px;
}
.lucid .dijitSelectFocused .dijitArrowButton .dijitArrowButtonInner {
	background-image :url("images/arrowdown_active.png");
}


/* disable status */
.lucid .dijitSelectDisabled {
	border: 1px solid #d3d3d3;
	background-color: #efefef;
	background-image: none;
	color: #818181;
}
.lucid .dijitSelectDisabled .dijitArrowButton { 
	background-color: #efefef;
}
.lucid .dijitSelectDisabled .dijitArrowButton .dijitArrowButtonInner {
	background-image:url("images/arrowdown_disabled.png");
}

/*Dropdown menu style for select*/
.lucid .dijitPopup .dijitSelectMenu {
	background-image:none;
}
.lucid .dijitPopup .dijitSelectMenu .dijitMenuSeparatorTop{
	background-image:none;
	border-bottom:1px solid #769dc0;
}
.lucid .dijitPopup .dijitSelectMenu .dijitMenuSeparatorBottom{
	background-image:none;
	border-top:1px solid #E8E8E8;
}