.dijitRtl .lucid .dijitSliderProgressBarH,
.dijitRtl .lucid .dijitSliderRemainingBarH,
.dijitRtl .lucid .dijitSliderLeftBumper,
.dijitRtl .lucid .dijitSliderRightBumper,
.dijitRtl .lucid .dijitSliderTopBumper {
	background-position: top right;
}

.dijitRtl .lucid .dijitSliderProgressBarV,
.dijitRtl .lucid .dijitSliderRemainingBarV,
.dijitRtl .lucid .dijitSliderBottomBumper {
	background-position: bottom right;
}

.dijitRtl .lucid .dijitSliderLeftBumper {
	border-left-width: 0px;
	border-right-width: 1px;
}

.dijitRtl .lucid .dijitSliderRightBumper {
	border-left-width: 1px;
	border-right-width: 0px;
}

.dijitRtl .lucid .dijitSliderIncrementIconH {
	background-position: -7px 0px;
}

.dijitRtl .lucid .dijitSliderDecrementIconH {
	background-position: -14px 0px;
}
