.lucid .dijitSliderProgressBarH {
	border-color: #c0ccdf;
	background: #d9e0ec url("../images/sliderFull.png") repeat-x top left;
}
.dj_ie6 .lucid .dijitSliderProgressBarH {
	background-image: url("../images/sliderFull.gif");
}

.lucid .dijitSliderProgressBarV {
	border-color: #c0ccdf;
	background: #d9e0ec url("../images/sliderFullVertical.png") repeat-y
		bottom left;
}
.dj_ie6 .lucid .dijitSliderProgressBarV {
	background-image: url("../images/sliderFullVertical.gif");
}

.lucid .dijitSliderHovered .dijitSliderProgressBarH,
.lucid .dijitSliderHovered .dijitSliderLeftBumper{
	background-image: url("../images/sliderFullFocus.png");
	background-color: #abd6ff;
}
.dj_ie6 .lucid .dijitSliderHovered .dijitSliderProgressBarH,
.dj_ie6 .lucid .dijitSliderHovered .dijitSliderLeftBumper{
	background-image: url("../images/sliderFullFocus.gif");
}

.lucid .dijitSliderHovered .dijitSliderProgressBarV,
.lucid .dijitSliderHovered .dijitSliderBottomBumper{
	background-image: url("../images/sliderFullVerticalFocus.png");
	background-color: #abd6ff;
}
.dj_ie6 .lucid .dijitSliderHovered .dijitSliderProgressBarV,
.dj_ie6 .lucid .dijitSliderHovered .dijitSliderBottomBumper{
	background-image: url("../images/sliderFullVerticalFocus.gif");
}

.lucid .dijitSliderHovered .dijitSliderRemainingBarH,
.lucid .dijitSliderHovered .dijitSliderRightBumper{
	background-image: url("../images/sliderEmptyFocus.png");
	background-color: #fff;
}
.dj_ie6 .lucid .dijitSliderHovered .dijitSliderRemainingBarH,
.dj_ie6 .lucid .dijitSliderHovered .dijitSliderRightBumper{
	background-image: url("../images/sliderEmptyFocus.gif");
}

.lucid .dijitSliderHovered .dijitSliderRemainingBarV,
.lucid .dijitSliderHovered .dijitSliderTopBumper{
	background-image: url("../images/sliderEmptyVerticalFocus.png");
	background-color: #fff;
}
.dj_ie6 .lucid .dijitSliderHovered .dijitSliderRemainingBarV,
.dj_ie6 .lucid .dijitSliderHovered .dijitSliderTopBumper{
	background-image: url("../images/sliderEmptyVerticalFocus.gif");
}


.lucid .dijitSliderFocused .dijitSliderProgressBarH,
.lucid .dijitSliderFocused .dijitSliderLeftBumper{
	background-image: url("../images/sliderFullFocus.png");
	background-color: #abd6ff;
}
.dj_ie6 .lucid .dijitSliderFocused .dijitSliderProgressBarH,
.dj_ie6 .lucid .dijitSliderFocused .dijitSliderLeftBumper{
	background-image: url("../images/sliderFullFocus.gif");
}

.lucid .dijitSliderFocused .dijitSliderProgressBarV,
.lucid .dijitSliderFocused .dijitSliderBottomBumper{
	background-image: url("../images/sliderFullVerticalFocus.png");
	background-color: #abd6ff;
}
.dj_ie6 .lucid .dijitSliderFocused .dijitSliderProgressBarV,
.dj_ie6 .lucid .dijitSliderFocused .dijitSliderBottomBumper{
	background-image: url("../images/sliderFullVerticalFocus.gif");
}

.lucid .dijitSliderFocused .dijitSliderRemainingBarH,
.lucid .dijitSliderFocused .dijitSliderRightBumper{
	background-image: url("../images/sliderEmptyFocus.png");
	background-color: #fff;
}
.dj_ie6 .lucid .dijitSliderFocused .dijitSliderRemainingBarH,
.dj_ie6 .lucid .dijitSliderFocused .dijitSliderRightBumper{
	background-image: url("../images/sliderEmptyFocus.gif");
}

.lucid .dijitSliderFocused .dijitSliderRemainingBarV,
.lucid .dijitSliderFocused .dijitSliderTopBumper{
	background-image: url("../images/sliderEmptyVerticalFocus.png");
	background-color: #fff;
}
.dj_ie6 .lucid .dijitSliderFocused .dijitSliderRemainingBarV,
.dj_ie6 .lucid .dijitSliderFocused .dijitSliderTopBumper{
	background-image: url("../images/sliderEmptyVerticalFocus.gif");
}


.lucid .dijitSliderDisabled .dijitSliderProgressBarH,
.lucid .dijitSliderDisabled .dijitSliderLeftBumper{
	background-color: #cdcdcd;
}
.lucid .dijitSliderDisabled .dijitSliderProgressBarV,
.lucid .dijitSliderDisabled .dijitSliderBottomBumper{
	background-color: #cdcdcd;
}

.lucid .dijitSliderDisabled .dijitSliderRemainingBarH,
.lucid .dijitSliderDisabled .dijitSliderRightBumper{
	background-color: #efefef;
}
.lucid .dijitSliderDisabled .dijitSliderRemainingBarV,
.lucid .dijitSliderDisabled .dijitSliderTopBumper{
	background-color: #efefef;
}


.lucid .dijitSliderRemainingBarH {
	border-color: #c0ccdf;
	background: #fff url("../images/sliderEmpty.png") repeat-x top left;
}
.dj_ie6 .lucid .dijitSliderRemainingBarH {
	background-image: url("../images/sliderEmpty.gif");
}

.lucid .dijitSliderRemainingBarV {
	border-color: #c0ccdf;
	background: #fff url("../images/sliderEmptyVertical.png") repeat-y bottom left;
}
.dj_ie6 .lucid .dijitSliderRemainingBarV {
	background-image: url("../images/sliderEmptyVertical.gif");
}

.lucid .dijitSliderBar {
	border-style: solid;
	outline: 1px;
	cursor: pointer;
}

.lucid .dijitSliderFocused .dijitSliderBar {
	border-color: #769dc0;
}

.lucid .dijitSliderHovered .dijitSliderBar {
	border-color: #769dc0;
}
.lucid .dijitSliderDisabled .dijitSliderBar {
	background-image: none;
	border-color: #d3d3d3;
}
.lucid .dijitSliderDisabled .dijitSliderIncrementIconH,
.lucid .dijitSliderDisabled .dijitSliderIncrementIconV,
.lucid .dijitSliderDisabled .dijitSliderDecrementIconH,
.lucid .dijitSliderDisabled .dijitSliderDecrementIconV{
	background-image: none;
}

.dijit_a11y .dijitSliderProgressBar {
	background-color: #888 !important;
}

.lucid .dijitSliderImageHandleH {
	border: 0px;
	width: 16px;
	height: 16px;
	background: url("../images/preciseSliderThumb.png") no-repeat center top;
	cursor: pointer;
}
.dj_ie6 .lucid .dijitSliderImageHandleH {
	background-image: url("../images/preciseSliderThumb.gif");
}

.lucid .dijitSliderFocused .dijitSliderImageHandleH {
	background-image: url("../images/preciseSliderThumbFocus.png");
}
.dj_ie6 .lucid .dijitSliderFocused .dijitSliderImageHandleH {
	background-image: url("../images/preciseSliderThumbFocus.gif");
}

.lucid .dijitSliderHovered .dijitSliderImageHandleH {
	background-image: url("../images/preciseSliderThumbFocus.png"); 
}
.dj_ie6 .lucid .dijitSliderHovered .dijitSliderImageHandleH {
	background-image: url("../images/preciseSliderThumbFocus.gif");
}


.lucid .dijitSliderLeftBumper {
	border-left-width: 1px;
	border-color: #c0ccdf;
	background: #d9e0ec url("../images/sliderFull.png") repeat-x top left;
}
.dj_ie6 .lucid .dijitSliderLeftBumper {
	background-image: url("../images/sliderFull.gif");
}

.lucid .dijitSliderRightBumper {
	background: #fff url("../images/sliderEmpty.png") repeat-x top left;
	border-color: #c0ccdf;
	border-right-width: 1px;
}
.dj_ie6 .lucid .dijitSliderRightBumper {
	background-image: url("../images/sliderEmpty.gif");
}

.lucid .dijitSliderImageHandleV {
	border: 0px;
	width: 16px;
	height: 16px;
	background: url("../images/sliderThumb.png") no-repeat center center;
	cursor: pointer;
}
.dj_ie6 .lucid .dijitSliderImageHandleV {
	background-image: url("../images/sliderThumb.gif");
}

.lucid .dijitSliderFocused .dijitSliderImageHandleV {
	background-image: url("../images/sliderThumbFocus.png");
}

.dj_ie6 .lucid .dijitSliderFocused .dijitSliderImageHandleV {
	background-image: url("../images/sliderThumbFocus.gif");
}

.lucid .dijitSliderHovered .dijitSliderImageHandleV {
	background-image: url("../images/sliderThumbFocus.png");
}

.dj_ie6 .lucid .dijitSliderHovered .dijitSliderImageHandleV {
	background-image: url("../images/sliderThumbFocus.gif");
}

.lucid .dijitSliderBottomBumper {
	background: #d9e0ec url("../images/sliderFullVertical.png") repeat-y bottom left;
	border-bottom-width: 1px;
	border-color: #c0ccdf;
}
.dj_ie6 .lucid .dijitSliderBottomBumper {
	background-image: url("../images/sliderFullVertical.gif");
}

.lucid .dijitSliderTopBumper {
	background: #fff url("../images/sliderEmptyVertical.png") repeat-y top left;
	border-color: #c0ccdf;
	border-top-width: 1px;
}
.dj_ie6 .lucid .dijitSliderTopBumper {
	background-image: url("../images/sliderEmptyVertical.gif");
}

.lucid .dijitSliderButtonContainerH{
	padding: 1px 3px 1px 2px;
}
.lucid .dijitSliderButtonContainerV{
	padding: 3px 1px 2px 1px;
}

.lucid .dijitSliderDecrementIconH {
	cursor: pointer;
	background-image: url('../images/arrowleft.png');
	background-color: #e3e8ef;
	border: solid 1px #bcc8dd;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	background-repeat: no-repeat;
	height: 12px;
	width: 9px;
	font-size: 1px;
}
.dj_ie6 .lucid .dijitSliderDecrementIconH {
	background-image: url('../images/arrowleft.gif');
}
.lucid .dijitSliderHovered .dijitSliderDecrementIconH {
	background-image: url('../images/arrowleft_focus.png');
	background-color: #fff;
	border: solid 1px #769dc0;
}
.dj_ie6 .lucid .dijitSliderHovered .dijitSliderDecrementIconH {
	background-image: url('../images/arrowleft_focus.gif');
}

.lucid .dijitSliderDecrementIconV {
	cursor: pointer;
	background-image: url('../images/arrowdown.png');
	background-position:-1px 0px;
	background-color: #e3e8ef;
	border: solid 1px #bcc8dd;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	background-repeat: no-repeat;
	height: 9px;
	width: 12px;
	font-size: 1px;
}
.dj_ie6 .lucid .dijitSliderDecrementIconV {
	background-image: url('../images/arrowdown.gif');
}
.lucid .dijitSliderHovered .dijitSliderDecrementIconV {
	background-image: url('../images/arrowdown_focus.png');
	background-color: #fff;
	border: solid 1px #769dc0;
}
.dj_ie6 .lucid .dijitSliderHovered .dijitSliderDecrementIconV {
	background-image: url('../images/arrowdown_focus.gif');
}

.lucid .dijitSliderIncrementIconH {
	cursor: pointer;
	background-image: url('../images/arrowright.png');
	background-color: #e3e8ef;
	border: solid 1px #bcc8dd;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	background-repeat: no-repeat;
	height: 12px;
	width: 9px;
	font-size: 1px;
}
.dj_ie6 .lucid .dijitSliderIncrementIconH {
	background-image: url('../images/arrowright.gif');
}
.lucid .dijitSliderHovered .dijitSliderIncrementIconH {
	background-image: url('../images/arrowright_focus.png');
	background-color: #fff;
	border: solid 1px #769dc0;
}
.dj_ie6 .lucid .dijitSliderHovered .dijitSliderIncrementIconH {
	background-image: url('../images/arrowright_focus.gif');
}

.lucid .dijitSliderIncrementIconV {
	cursor: pointer;
	background-image: url('../images/arrowup.png');
	background-position:-1px 0px;
	background-color: #e3e8ef;
	border: solid 1px #bcc8dd;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	background-repeat: no-repeat;
	height: 9px;
	width: 12px;
	font-size: 1px;
}
.dj_ie6 .lucid .dijitSliderIncrementIconV {
	background-image: url('../images/arrowup.gif');
}
.lucid .dijitSliderHovered .dijitSliderIncrementIconV {
	background-image: url('../images/arrowup_focus.png');
	background-color: #fff;
	border: solid 1px #769dc0;
}
.dj_ie6 .lucid .dijitSliderHovered .dijitSliderIncrementIconV {
	background-image: url('../images/arrowup_focus.gif');
}

.lucid .dijitSliderButtonContainerV .dijitSliderDecrementButtonHovered,
.lucid .dijitSliderButtonContainerH .dijitSliderDecrementButtonHovered {
	background-color: #abd6ff;
}
.lucid .dijitSliderButtonContainerV .dijitSliderIncrementButtonHovered,
.lucid .dijitSliderButtonContainerH .dijitSliderIncrementButtonHovered {
	background-color: #abd6ff;
}

.lucid .dijitSliderProgressBarH .dijitSliderThumbHovered{
	background-image: url(../images/preciseSliderThumbHover.png);
}
.dj_ie6 .lucid .dijitSliderProgressBarH .dijitSliderThumbHovered{
	background-image: url(../images/preciseSliderThumbHover.gif);
}
.lucid .dijitSliderProgressBarV .dijitSliderThumbHovered{
	background-image: url(../images/sliderThumbHover.png);
}
.dj_ie6 .lucid .dijitSliderProgressBarV .dijitSliderThumbHovered{
	background-image: url(../images/sliderThumbHover.gif);
}

.lucid .dijitSliderProgressBarH .dijitSliderThumbDown{
	background-image: url(../images/preciseSliderThumbDown.png);
}
.dj_ie6 .lucid .dijitSliderProgressBarH .dijitSliderThumbDown{
	background-image: url(../images/preciseSliderThumbDown.gif);
}
.lucid .dijitSliderProgressBarV .dijitSliderThumbDown{
	background-image: url(../images/sliderThumbDown.png);
}
.dj_ie6 .lucid .dijitSliderProgressBarV .dijitSliderThumbDown{
	background-image: url(../images/sliderThumbDown.gif);
}

.lucid .dijitSliderButtonContainerH .dijitSliderDecrementButtonDown {
	background-image: url('../images/arrowleft_down.png');
	background-color: #7dbefa;
}
.dj_ie6 .lucid .dijitSliderButtonContainerH .dijitSliderDecrementButtonDown {
	background-image: url('../images/arrowleft_down.gif');
}
.lucid .dijitSliderButtonContainerV .dijitSliderDecrementButtonDown {
	background-image: url('../images/arrowup_down.png');
	background-color: #7dbefa;
}
.dj_ie6 .lucid .dijitSliderButtonContainerV .dijitSliderDecrementButtonDown {
	background-image: url('../images/arrowup_down.gif');
}

.lucid .dijitSliderButtonContainerH .dijitSliderIncrementButtonDown {
	background-image: url('../images/arrowright_down.png');
	background-color: #7dbefa;
}
.dj_ie6 .lucid .dijitSliderButtonContainerH .dijitSliderIncrementButtonDown {
	background-image: url('../images/arrowright_down.gif');
}
.lucid .dijitSliderButtonContainerV .dijitSliderIncrementButtonDown {
	background-image: url('../images/arrowdown_down.png');
	background-color: #7dbefa;
}
.dj_ie6 .lucid .dijitSliderButtonContainerV .dijitSliderIncrementButtonDown {
	background-image: url('../images/arrowdown_down.gif');
}

.lucid .dijitSliderButtonInner {
	visibility: hidden;
}

.lucid .dijitSliderDisabled .dijitSliderBar{
	border-color: #d3d3d3;
}

.lucid .dijitSliderReadOnly *,.lucid .dijitSliderDisabled * {
	border-color: #d3d3d3;
	color: #bdbdbd;
}

.lucid .dijitSliderReadOnly .dijitSliderDecrementIconH,
.lucid .dijitSliderDisabled .dijitSliderDecrementIconH {
	background-image: url('../images/arrowleft_disabled.png');
}
.dj_ie6 .lucid .dijitSliderReadOnly .dijitSliderDecrementIconH,
.dj_ie6 .lucid .dijitSliderDisabled .dijitSliderDecrementIconH {
	background-image: url('../images/arrowleft_disabled.gif');
}
.lucid .dijitSliderReadOnly .dijitSliderIncrementIconH,
.lucid .dijitSliderDisabled .dijitSliderIncrementIconH {
	background-image: url('../images/arrowright_disabled.png');
}
.dj_ie6 .lucid .dijitSliderReadOnly .dijitSliderIncrementIconH,
.dj_ie6 .lucid .dijitSliderDisabled .dijitSliderIncrementIconH {
	background-image: url('../images/arrowright_disabled.gif');
}
.lucid .dijitSliderReadOnly .dijitSliderDecrementIconV,
.lucid .dijitSliderDisabled .dijitSliderDecrementIconV {
	background-image: url('../images/arrowdown_disabled.png');
}
.dj_ie6 .lucid .dijitSliderReadOnly .dijitSliderDecrementIconV,
.dj_ie6 .lucid .dijitSliderDisabled .dijitSliderDecrementIconV {
	background-image: url('../images/arrowdown_disabled.gif');
}
.lucid .dijitSliderReadOnly .dijitSliderIncrementIconV,
.lucid .dijitSliderDisabled .dijitSliderIncrementIconV {
	background-image: url('../images/arrowup_disabled.png');
}
.dj_ie6 .lucid .dijitSliderReadOnly .dijitSliderIncrementIconV,
.dj_ie6 .lucid .dijitSliderDisabled .dijitSliderIncrementIconV {
	background-image: url('../images/arrowup_disabled.gif');
}

.lucid .dijitSliderReadOnly .dijitSliderImageHandleH,
.lucid .dijitSliderDisabled .dijitSliderImageHandleH {
	background-image: url('../images/preciseSliderThumbDisabled.png');
}
.dj_ie6 .lucid .dijitSliderReadOnly .dijitSliderImageHandleH,
.dj_ie6 .lucid .dijitSliderDisabled .dijitSliderImageHandleH {
	background-image: url('../images/preciseSliderThumbDisabled.gif');
}
.lucid .dijitSliderReadOnly .dijitSliderImageHandleV,
.lucid .dijitSliderDisabled .dijitSliderImageHandleV {
	background-image: url('../images/sliderThumbDisabled.png');
}
.dj_ie6 .lucid .dijitSliderReadOnly .dijitSliderImageHandleV,
.dj_ie6 .lucid .dijitSliderDisabled .dijitSliderImageHandleV {
	background-image: url('../images/sliderThumbDisabled.gif');
}

.lucid .dijitRuleLabelsContainerV {
	padding: 0px 2px;
}

.lucid .dijitRuleLabelsContainerH {
	padding: 2px 0px;
}