/* Menu */

.dijitRtl .dijitMenuItem {
	text-align: right;
}

/* Button */

.dj_iequirks-rtl .dijitComboButton BUTTON {
	/* workaround bug where label invisible (themeTesterQuirk.html?dir=rtl) */
	float:left;
}

/* TextBox, ComboBox, Spinner */

.dijitRtl .dijitTextBox .dijitButtonNode {
	/* combobox and spinner: line between the input area and the drop down button */
	border-right-width: 1px !important;
	border-right-style: solid;
	border-left-width: 0px !important;
	border-left-style: none;
}

.dijitRtl .dijitSpinner .dijitInputLayoutContainer .dijitArrowButton {
	right: 0;
	left: auto;
}

.dijitRtl .dijitSpinnerButtonContainer {
	float: left;
}

.dijitRtl DIV.dijitArrowButton, .dijitRtl .dijitValidationIcon, .dijitRtl .dijitValidationIconText {
	float: left;
}

/* Calendar */

.dijitRtl .dijitCalendarNextYear {
	margin:0 0.55em 0 0;
}

.dijitRtl .dijitCalendarPreviousYear {
	margin:0 0 0 0.55em;
}

/* Slider */

.dijitRtl .dijitSliderImageHandleV {
	left:auto;
	right:-6px;
}

.dj_ie-rtl .dijitSliderImageHandleV {
	right:-10px;
}

.dijitRtl .dijitSliderMoveableH {
	right:auto;
	left:0;
}

.dijitRtl .dijitRuleContainerV {
	float:right;
}

.dj_gecko-rtl .dijitRuleContainerV {
	float:left;
}

.dj_ie-rtl .dijitRuleContainerV {
	text-align:right;
}

.dj_ie-rtl .dijitRuleLabelV {
	text-align:left;
}

.dj_ie-rtl .dijitRuleLabelH {
	zoom:1;
}

.dj_ie-rtl .dijitSliderProgressBarH {
	right:0;
	left:auto;
}

.dj_gecko-rtl .dijitSliderProgressBarH {
	float:right;
	right:0;
	left:auto;
}

/* ContentPane*/
.dijitRtl .dijitContentPaneLoading, .dijitRtl .dijitContentPaneError {
	background-position:right;
	padding-right:25px;
}

/* TabContainer */

.dijitRtl .dijitTab .dijitTabCloseButton {
	margin-left: 0px;
	margin-right: 1em;
}

/* TimePicker */
.dj_ie-rtl .dijitTimePickerItem {
	width:100%;
}

.dijitRtl .dijitTab .dijitTabCloseButton {
	margin-left: 0px;
	margin-right: 1em;
}

/* ColorPalette */
.dijitRtl .dijitColorPaletteUnder {
	/* needed in RTL mode when DropDownButton expands the ColorPalette beyond it's natural width */
	left: auto;
	right: 0;
}

/* Select */

.dijitRtl .dijitSelect .dijitButtonNode {
	text-align: right;
}


