/*
	Essential styles that themes can inherit.
	In other words, works but doesn't look great.
*/



/**** 
		GENERIC PIECES 
 ****/

.dijitReset {
	/* Use this style to null out padding, margin, border in your template elements
		so that page specific styles don't break them.
		- Use in all TABLE, TR and TD tags.	
		- If there is more than one class on the tag, place this first so other classes override.
	*/
	margin:0px;
	border:0px;
	padding:0px;
	line-height:auto;
}

.dijitInline {
	/* MOW: similar to InlineBox below, but this has fewer side-effects in Moz.  
		Also, apparently works on a DIV as well as a FIELDSET.
		Consider abandoning inlineBox in favor of this.  ???
	*/
	display:inline-block;			/* webkit */
	display:-moz-inline-box;		/* gecko */
	#display:inline;				/* MSIE   */
	border:0px;
	padding:0px;
	vertical-align:middle;
}

.dijitInlineBox {
	/* To inline block elements, surround them with <fieldset class="dijitInlineBox"> */
	display:inline-block;			/* webkit */
	display: -moz-inline-stack;		/* gecko  */
	#display:inline;				/* MSIE   */
	border:0px;
	padding:0px;
	vertical-align:middle;
}
.dj_ie6 .dijitInlineBox {
	#display:inline;				/* IE */
}


.dijitTeeny {
	font-size:1px;
	line-height:1px;
}

/*
 * Popup items have a wrapper div (dijitPopup)
 * with the real popup inside, and maybe an iframe too
 */
.dijitPopup {
	position: absolute;
	background-color: transparent;
}
.dijit_a11y .dijitPopup,
.dijit_ally .dijitPopup div,
.dijit_a11y .dijitPopup table {
	opacity: 1 !important;
	background-color: white !important;
}
.dj_ie .dijit_a11y .dijitPopup * {
	filter: none;
}

.dijitPositionOnly {
	/* Null out all position-related properties */
	padding: 0px !important;
	border: 0px !important;
	background-color: transparent !important;
	background-image: none !important;
	height: auto !important;
	width: auto !important;
}

.dijitNonPositionOnly {
	/* Null position-related properties */
	float: none !important;
	position: static !important;
	margin: 0px 0px 0px 0px !important;
	vertical-align: middle !important;
}

.dijitBackgroundIframe {
	/*
	 * iframe used for FF2 in high-contrast mode to prevent menu
	 * being transparent
	 */
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: -1;
	border: 0;
	padding: 0;
	margin: 0;
}

.dijitClickableRegion {
	/* a region we expect the user to click on */
	cursor : pointer;
}

.dijitDisabledClickableRegion {
	/* a region the user would be able to click on, but it's disabled */
	cursor: default;        /* makes opera happy */
	cursor: url("no.gif"), not-allowed, default;
}

.dijitDisplayNone {
	/* hide something.  Use this as a class rather than element.style so another class can override */
	display:none !important;
}



.dijitSpinnerDisabled *,
.dijitButtonDisabled *,
.dijitDropDownButtonDisabled *,
.dijitComboButtonDisabled *,
.dijitComboBoxDisabled * {
	cursor: default;
	cursor: not-allowed !important;
	cursor: url("no.gif"), not-allowed, default;
}





/**** 
		A11Y 
 ****/
.dijit_a11y * {
	background-image:none !important;
	background-color:transparent !important;
}

.dijitA11yDownArrow,
.dijitA11yUpArrow,
.dijitA11yLeftArrow,
.dijitA11yRightArrow {
	/* down arrow shown when in a11y mode */
	font-family:Arial, sans serif;
	/* 
	font-size:.5em;
	line-height:.5em;
	*/
	line-height: 0.5em;
	font-size: x-small;
	padding:0em .25em;
}


.dijitA11yRightArrow,
.dijitA11yLeftArrow {
	vertical-align:top;
	margin-right:1em;
	line-height:2em;
}

.dj_ie .dijitA11yDownArrow,
.dj_ie .dijitA11yUpArrow {
	font-size:.8em;
	vertical-align:middle;
	margin-right:.5em;
}




.dijit_a11y .dijitButton .dijitButtonNode,
.dijit_a11y .dijitDropDownButton .dijitButtonNode,
.dijit_a11y .dijitComboButton .dijitButtonNode,
.dijit_a11y .dijitComboBox .dijitComboBoxInput,
.dijit_a11y .dijitComboBox .dijitButtonNode {
	border:1px solid black !important;
	background:white !important;
	color:black !important;
}

.dijit_a11y .dijitButtonDisabled .dijitButtonNode,
.dijit_a11y .dijitDropDownButtonDisabled .dijitButtonNode,
.dijit_a11y .dijitComboButtonDisabled .dijitButtonNode,
.dijit_a11y .dijitComboBoxDisabled .dijitComboBoxInput,
.dijit_a11y .dijitComboBoxDisabled .dijitButtonNode,
.dijit_a11y .dijitSpinnerDisabled .dijitButtonNode,
.dijit_a11y .dijitSpinnerDisabled .dijitSpinnerInput {
	border:1px dotted #999999 !important;
	color:#999999 !important;
}

.dijit_a11y .dijitComboButton .dijitDownArrowButton,
.dijit_a11y .dijitComboBox .dijitDownArrowButton {
	border-left:0px !important;
}




/****
		3-element borders:  ( dijitLeft + dijitStretch + dijitRight ) 
 ****/
	
.dijitLeft {
	/* Left part of a 3-element border */
	background-position:left top;
	background-repeat:no-repeat;
}

.dijitStretch {
	/* Middle (stretchy) part of a 3-element border */
	white-space:nowrap;			/* MOW: move somewhere else */
	background-repeat:repeat-x;
}

.dijitRight {
	/* Right part of a 3-element border */
	#display:inline;				/* IE7 sizes to outer size w/o this */
	background-position:right top;
	background-repeat:no-repeat;
}


/****
		Right-to-left rules
 ****/
.dijitRTL .dijitRightArrow {
	/* it becomes a left arrow for LTR locales */
	/* MOW: TODO... */
	margin-left:-2.1em;
}





/****
		dijit.form.Button
		dijit.form.DropDownButton
		dijit.form.ComboButton
		dijit.form.ComboBox (partial)
 ****/
.dijitButton,
.dijitDropDownButton,
.dijitComboButton,
.dijitComboBox {
	/* outside of button */
	margin:.2em;
}

.dijitButtonNode {
	/* Node that is acting as a button -- may or may not be a BUTTON element */
	border:1px outset gray;
	margin:0px;
	padding:.2em .2em .1em .2em;
	overflow:visible;
	line-height:normal;
	font-family:inherit;
	font-size:inherit;
	color: inherit;
	cursor:pointer;
	vertical-align:middle;	
	text-align:center;
	white-space: nowrap;
}

.dijitDownArrowButton,
.dijitUpArrowButton {
	/* Node that is acting as a arrow button -- drop down or spinner.  Also gets dijitButtonNode */
	/* place AFTER dijitButtonNode so it overrides */
	padding:0em .4em;
	margin:0px;
}


.dijitButtonContents {
	color:inherit;
}

.dijitDropDownButton .dijitA11yDownArrow {
	margin-left:.8em;
}

.dijitComboButton TABLE {
	/* each cell in a combo-table should have its own separate border */
	border-collapse: separate;
	border:0px;
	padding:0px;
	margin:0px;
}

.dijitComboButton .dijitButtonContents {
	border-right-width:0px !important;
}


table .dijitButton .dijitButtonNode,
table .dijitComboButton .dijitButtonNode {
	#overflow:hidden; /* visible messes up if the button is inside a table on IE */
}



.dijitButtonNode IMG {
	/* make text and images line up cleanly */
	vertical-align:middle;
	margin-bottom:.2em;
}





/****
		dijit.form.ComboBox 
		dijit.form.NumberSpinner  (template: form/templates/Spinner.html)

		Note: these works differently than other Textbox types:
			The outer fieldset element is the one that shows the border, etc.
			rather than the actual INPUT element. 

 ****/
.dijitComboBox {
	/* Allow user to specify width without messing up defaults; other attributes are put on parent node */
	width:auto !important;
}

.dijitComboBox TABLE,
.dijitSpinner TABLE {
	/* each cell in a combo-table should have its own separate border */
	border-collapse: separate;
	border:0px;
	padding:0px;
	margin:0px;
}

.dijitComboBoxInput,
.dijitSpinnerInput {
	/* container for the input element */
	font-family:inherit;
	font-size:inherit;
	font-weight:inherit;
	border:1px inset gray;
	padding:.1em .2em .2em .2em;
	border-right-width:0px !important;
}

.dijitComboBox INPUT,
.dijitSpinner INPUT {
	/* turn off the border on the actual input element */
	border:0px !important;
	background-color:transparent;
}

.dijitComboBoxNoArrow .dijitDownArrowButton {
	display:none;
}		 

.dijitComboBoxNoArrow .dijitComboBoxInput {
	border-right-width:1px !important;
}

.dj_safari .dijitComboBoxInput,
.dj_safari .dijitSpinnerInput {
	padding:0px;
	border:0px !important;
}
.dj_safari .dijitComboBox INPUT,
.dj_safari .dijitSpinner INPUT{
	margin:-2px -4px -3px -3px;
	line-height:2em;
	font-size:1em;
}


.dijitSpinner {
	/* outer element, which in the spinner case actually shows the border */
	display:inline;
	vertical-align:middle;
	padding:0px !important;
	width:auto !important;
	height:auto !important;
}

.dijitSpinner INPUT {
	/* The .style assigned to the spinner dijit is actually copied 
		on to the INPUT element as well as the outer element.
		The below turns off things on the input that should apply to the outer element.
	*/
	display:inline;
	position:static !important;
	float:none !important;
	vertical-align:middle !important;
	padding:0px !important;
	margin:auto !important;
	border:0px !important;
	visibility:visible !important;
	font-size:100% !important;
	background-color:transparent !important;
}

.dijitSpinner .dijitDownArrowButton,
.dijitSpinner .dijitUpArrowButton {
	line-height:0px;
	padding:.3em .3em .1em .25em;
	height:50%;
}


/* total hacks to get IE to work */
.dj_ie .dijitSpinner .dijitDownArrowButton,
.dj_ie .dijitSpinner .dijitUpArrowButton {
	vertical-align:top;
	padding:0px;
	margin:0px;
}

.dj_ie .dijitSpinner .dijitDownArrowButton {
	border-top-width:0px;
}

.dj_ie .dijitSpinner .dijitA11yUpArrow    {
	vertical-align:top;
}
.dj_ie .dijitSpinner .dijitA11yDownArrow {
	vertical-align:middle;
}

.dj_ie .dijitSpinner .dijitA11yDownArrow,
.dj_ie .dijitSpinner .dijitA11yUpArrow    {
	font-size:.6em;
	line-height:1.6em;
	padding:0em .25em;
	margin:0px;
}



/****
		dijit.form.Checkbox
 	 & 
  		dijit.form.RadioButton 
 ****/

.dijitCheckbox,
.dijitRadio,
 .dijitCheckboxInput
{
	padding: 0;
	border: 0;
	width: 16px;
	height: 16px;
}

.dijitCheckboxInput {
	/* place the actual input on top, but all-but-invisible */
	opacity: 0.01;
}

.dj_ie .dijitCheckboxInput {
	filter: alpha(opacity=0);
}

.dijit_a11y .dijitCheckbox,
.dijit_a11y .dijitRadio,
{
	width: auto;
	height: auto;
}
.dijit_a11y .dijitCheckboxInput {
	opacity: 1;
	filter: none;
	width: auto;
	height: auto;
}


/****
		dijit.Toaster (?)
		TODO: move to dojox
 ****/
 
.dijitToasterClip {
	position: absolute;
	overflow: hidden;
}

.dijitToasterContainer {
	display: block;
	position: absolute;
	width: 17.5em;
	z-index: 5000;
	margin: 0px;
	font:0.75em Tahoma, Helvetica, Verdana, Arial;
}


/****
		dijit.ProgressBar
 ****/
 
.dijitProgressBarEmpty{
	/* outer container and background of the bar that's not finished yet*/
	position:relative;overflow:hidden;
	border:1px solid black; 	/* a11y: border necessary for high-contrast mode */
	height:20px;
}


.dijitProgressBarFull {
	/* outer container for background of bar that is finished */
	position:absolute;
	overflow:hidden;
	width:100%;
	height:100%;
}

.dijitProgressBarTile{
	/* inner container for finished portion */
	position:absolute;
	overflow:hidden;
	top:0px;
	left:0px;
	bottom:0px;
	right:0px;
	margin:0px;
	padding:0px;
	width:auto;
	height:auto;
	background-color:#aaa;
	background-attachment: fixed;
}

.dijit_a11y .dijitProgressBarTile{
	/* a11y:  The border provides visibility in high-contrast mode */
	border-width:4px;
	border-style:solid;
	background-color:transparent !important;
}

.dj_iequirks .dijitProgressBarTile{
	width:100%;
	height:100%;
}

.dj_ie6 .dijitProgressBarTile{
	/* width:auto works in IE6 with position:static but not position:absolute */
	position:static;
	/* height:auto does not work in IE6 */
	height:100%;
}

.dj_ie6 .dijitProgressBarVertical .dijitProgressBarTile{
	position:absolute;
	/* can't use position:static here -- need absolute positioning to place
	   the bar at the bottom of a vertical progressbar */
	width:100%;
}

.dijitProgressBarIndeterminate dijitProgressBarTile{
	/* animated gif for 'indeterminate' mode */
}



.dijitProgressBarEmptyLabel{
	/* label for portion of the bar that's not finished yet */
	display:block;
	position:absolute;
	width:100%;
	text-align:center
}
.dijitProgressBarFullLabel{
	/* label for portion of the bar that is finished */
	display:block;
	position:absolute;
	width:100%;
	text-align:center;
}

/* progress bar in vertical mode */
.dijitProgressBarVertical .dijitProgressBarFull{
	bottom:0px;		/* start at the bottom */
}


/****
		dijit.Tooltip
 ****/

.dijitTooltip {
	position: absolute;
	z-index: 10;
	display: block;
	/* make visible but off screen */
	left: -10000px;
	top: -10000px;
	overflow: visible;
}

.dijitTooltipContainer {
	border: solid black 2px;
	background: #b8b5b5;
	color: black;
	font-size: small;
	padding: 2px 2px 2px 2px;
}


.dijitTooltipConnector {
	position: absolute;
}

/* MOW: using actual images at this time
/* draw an arrow with CSS only * /
.dijitTooltipConnector {
	/* the border on the triangle * /
	font-size: 0px; line-height: 0%; width: 0px;
	border-top: none;
	border-bottom: 14px solid black;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	top: -14px;
	left: 3px;
	z-index: 2;
}

.dijitTooltipConnector div {
	/* the background of the triangle * /
	font-size: 0px; line-height: 0%; width: 0px;
	position: absolute;
	border-bottom: 10px solid #b8b5b5;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	top: 6px;
	left: -5px;
	z-index: 3;
}

*/



/* Layout widgets. This is essential CSS to make layout work (it isn't "styling" CSS)
   make sure that the position:absolute in dijitAlign* overrides other classes */

.dijitLayoutContainer{ 
	position: relative;
	display: block;
	overflow: hidden; 
}

body .dijitAlignTop,
body .dijitAlignBottom,
body .dijitAlignLeft,
body .dijitAlignRight {
	position: absolute;
	overflow: hidden; 
}

body .dijitAlignClient { position: absolute; }

.dijitAlignClient { overflow: auto; }



/* SplitContainer 

	'V' == container that splits vertically (up/down)
	'H' = horizontal (left/right)
*/
.dijitSplitContainer{
	position: relative;
	overflow: hidden;
	display: block;
}

.dijitSplitPane{
	position: absolute;
}

.dijitSplitContainerSizerH,
.dijitSplitContainerSizerV {
	position:absolute;
	font-size: 1px;
	cursor: move;
	cursor: w-resize;
	background-color: ThreeDFace;
	border: 1px solid;
	border-color: ThreeDHighlight ThreeDShadow ThreeDShadow ThreeDHighlight;
	margin: 0;
}

.dijitSplitContainerSizerV {
	cursor: n-resize;
}

.dijitSplitContainerSizerH .thumb {
	position:absolute;
	top:49%;
}

.dijitSplitContainerSizerV .thumb {
	position:absolute;
	left:49%;
}

.dijitSplitContainerVirtualSizerH,
.dijitSplitContainerVirtualSizerV {
	font-size: 1px;
	cursor: move;
	cursor: w-resize;
	background-color: ThreeDShadow;
	-moz-opacity: 0.5;
	opacity: 0.5;
	filter: Alpha(Opacity=50);
	margin: 0;
}

.dijitSplitContainerVirtualSizerV {
	cursor: n-resize;
}


/* ContentPane */

.dijitContentPane {
	display: block;
	overflow: auto;	/* if we don't have this (or overflow:hidden), then Widget.resizeTo() doesn't make sense for ContentPane */
}

/* Color Palette */
.dijitPaletteImg {
	width: 16px; /*This is the width of one color in the provided palettes. */
	height: 13px; /* Height of one color in the provided palettes. */
	position: absolute;
	overflow: hidden;
	cursor: default;
	z-index: 10;
	border-style: solid;
	border-bottom-width: 1px;
	border-right-width: 1px;
	border-color: #000000;		
}

.dijitPaletteImgHighlight {
	width: 14px; /*This is the width of one color in the provided palettes. */
	height: 12px; /* Height of one color in the provided palettes. */
	position: absolute;
	overflow: hidden;
	cursor: default;
	z-index: 10;
}

.dijitPaletteImg:hover, 
.dijitPaletteImgHighlight {
	width: 14px; /*This is the width of one color in the provided palettes. */
	height: 12px; /* Height of one color in the provided palettes. */
	border-style: solid;
	border-width: 2px;
	border-color: #ffffff;
}


.dijitColorPaletteCell {
	width:16px;
	height:16px;
	border:1px outset;
}

.dijitColorPaletteCell:hover {
	border-style:inset;
}

/* AccordionPane */
.dijitAccordionPane .body {
	overflow: auto;
}

.dijitAccordionPane .title:hover {
	cursor: pointer;
}

.dijitAccordionPane .title .arrow {
	float:right;
}


/* Calendar */

.calendarContainer thead tr th, .calendarContainer thead tr td, .calendarContainer tbody tr td, .calendarContainer tfoot tr td { 
	padding: 0;
}

.calendarNextYear {
	margin:0 0 0 0.55em;
}

.calendarPreviousYear {
	margin:0 0.55em 0 0;
}

.calendarIncrementControl {
	cursor:pointer;
	cursor:hand;
	width:1em;
}

.calendarIncrease {}

.calendarDecrease {}


.calendarDisabledDate {
	color:gray !important;
}


.calendarBodyContainer tbody tr td {
	cursor:pointer;
	cursor:hand;
}

.calendarPreviousMonthDisabled {
	cursor:default !important
}

.calendarCurrentMonthDisabled {
	cursor:default !important
}

.calendarNextMonthDisabled {
	cursor:default !important;
}

.calendarDateTemplate {
	cursor:pointer;
}

.calendarSelectedYear {
	cursor:pointer;
}
.calendarNextYear, 
.calendarPreviousYear {
	cursor:pointer;
}

.tundra .calendarMontLabel {}

.tundra .calendarMonthLabelSpacer {
	/* don't display it, but make it affect the width */
  	position: relative;
  	height: 1px;
  	overflow: hidden;
  	visibility: hidden;
}


/* Menu */

.dijitMenu {
	border:1px solid black;
	background-color:white;
}
.dijitMenuTable {
	margin:1px 0px;
	border-collapse:collapse;
	border-width:0px;
	background-color:white;
}

.dijitMenuItem{
	white-space: nowrap;
	padding:.1em .2em;
}

.dijitMenuItemHover {
	cursor:pointer;
	cursor:hand;
	background-color:black;
	color:white;
}

.tundra .dijitMenuItemIcon {
	position: relative;
	background-position: center center;
	background-repeat: no-repeat;
}

.dijitMenuItemDisabled * {
	/* for a disabled menu item, just set it to mostly transparent */
	opacity:0.3;
	cursor:default;
}
.dj_ie .dijitMenuItemDisabled * {
	filter: alpha(opacity=30);
}

.dijitMenuItemLabel {
	position: relative;
	vertical-align: middle;
}

.dijit_a11y .dijitMenuItemHover .dijitMenuItemLabel {
	border-width: 1px;
	border-style: solid;
}

/* separator can be two pixels -- set border of either one to 0px to have only one */
.tundra .dijitMenuSeparatorTop {
	height: 50%;
	margin: 0px;
	margin-top:3px;
	font-size: 1px;
}

.tundra .dijitMenuSeparatorBottom {
	height: 50%;
	margin: 0px;
	margin-bottom:3px;
	font-size: 1px;
}



/* Tab */


.dijitTabContainer .dijitAlignTop {
/* position the tab labels row down by 1 px, and on top of the dijitTabPaneWrapper
	so the buttons can overlay the tab pane properly		*/
	top:1px !important;
	z-index:10;	
}

.dijitTabContainer .dijitAlignBottom {
/* position the tab labels row up by 1 px so they overlap	*/
	margin-top:-1px !important;
	z-index:10;	
}

.dijitTabContainer .dijitAlignLeft {
/* position the tab labels left by 1 px so they overlap		*/
	margin-right:-1px !important;
	z-index:10;	
}

.dijitTabContainer .dijitAlignRight {
/* position the tab labels row up by 1 px, and on top of the dijitTabPaneWrapper
	so the buttons can overlay the tab pane properly		*/
	margin-left:-1px !important;
	z-index:10;	
}

.dijitTabPaneWrapper {
	z-index:0;
}

.dijitTabPane {
	clear:left;
}

.dijitTab {
	position:relative;
	float:left;
	cursor:pointer;
	white-space:nowrap;
	z-index:3;
}

.dijitTabContainer .dijitAlignLeft .dijitTab,
.dijitTabContainer .dijitAlignRight .dijitTab {
	float:none;
}

.dijitTabInnerDiv {
	position:relative;
}

.dijitTab .close {
	display : inline-block;
	cursor : default;
	font-size: small;
}

/* images off, high-contrast mode styles */
.dijitTab .closeText {
	display:none;
	padding: 0px 2px;
	margin: 0px 2px;
	border-left:thin solid;
	border-right:thin solid;
}
.dijit_a11y .dijitTab .closeImage {
	padding: 0px !important;
	margin: 0px !important;
	top: 0px !important;
	bottom: 0px !important;
}
.dijit_a11y .closeText { 
	display:inline; 
	margin-left:6px; 
} 
.dijit_a11y .closeText:hover { 
	border:thin solid;
} 




.dijitInlineEditor {
	/* span around an inline-editable value when in edit mode */
}

.dijitInlineValue {
	/* span around an inline-editable value when NOT in edit mode */
}






/* Tree */

.TreeExpando {
    float: left;
    display: inline;
    clear:both;
}


.TreeExpand {
    float: left;
    display: inline;
}

.TreeContent {
    cursor: default;
    /* can't make inline - multiline bugs */
}

.dijitExpandoText { 
	display: none; 
} 
 
.dijit_a11y .dijitExpandoText { 
	float: left; 
	display: inline; 
	padding-right: 3px; 
	font: 0.75em Arial; 
} 

/* Dialog */

.dijitDialog {
	position: absolute;
	z-index: 999;
	display: none;
}

.dijitDialogUnderlayWrapper {
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 998;
	display: none;
	background: transparent;
}

.dijitDialogUnderlay {
	background: gray;
	opacity: 0.4;
}
.dj_ie .dijitDialogUnderlay {
	filter: alpha(opacity=40);
}
