.dijitRtl .lucid .dijitCalendar .dijitCalendarIncrease{
	background-position: 0px 0px;
}
.dijitRtl .lucid .dijitCalendar .dijitCalendarDecrease {
	background-position: -18px 0px;
}
.dijitRtl .lucid .dijitCalendarArrowHover .dijitCalendarIncrease {
	background-position: -36px 0px;
}
.dijitRtl .lucid .dijitCalendarArrowHover .dijitCalendarDecrease {
	background-position: -55px 0px;
}
.dijitRtl .lucid .dijitCalendarArrowActive .dijitCalendarIncrease {
	background-position: -72px 0px;
}
.dijitRtl .lucid .dijitCalendarArrowActive .dijitCalendarDecrease {
	background-position: -91px 0px;
}

