.lucid .dijitPopup {
	box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
	-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
}
.lucid .dijitTooltipDialogPopup {
	/* exception popups: do not use a shadow on these because they aren't rectangular */
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}

.lucid /*, .lucid input, .lucid textarea */{
	font-family: Verdana,Arial,Helvetica,sans-serif;
}

/* InlineEditBox */

.lucid .dijitInlineEditBoxDisplayModeHover{
	background-color: #e2f1ff;
	border: solid 1px #769dc0;
}

.dj_ie6 .lucid .dijitInlineEditBoxDisplayMode{
	border: none;
}

/* The highlight is shown in the ComboBox menu. */
.lucid .dijitComboBoxHighlightMatch {
	background-color:#a5beda;
}


.lucid .dijitFocusedLabel {
	/* for checkboxes or radio buttons, hatch border around the corresponding label, to indicate focus */
	outline: 1px dotted #666666;
}
