/* Dialog */
.dijitRtl .lucid .dijitDialogTitleBar .dijitDialogCloseIcon{
	right: auto;
	left: 5px;
}

.dijitRtl .lucid .dijitDialog .dijitDialogPaneContent .dijitDialogPaneActionBar{
	text-align: left;
	padding: 3px 7px 2px 5px;
}
