/* Dialog */

.lucid .dijitDialog {
	border: 1px solid #769dc0;
	box-shadow:0px 1px 5px rgba(0,0,0,0.25);
	-webkit-box-shadow:0px 1px 5px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 1px 5px rgba(0,0,0,0.25);
} 

.lucid .dijitDialog .dijitDialogPaneContent {
	background: #fff url("images/dialog_contentarea_shadow.png") repeat-x top left;
	border-top: 1px solid #769dc0; /* w/out this, an <h1> on the top line causes a gap between the .content and .label */
	padding:10px 8px;
	position: relative;
}

.lucid .dijitDialog .dijitDialogPaneContent .dijitDialogPaneContentArea {
	margin: -10px -8px;
	padding: 10px 8px;
}

.lucid .dijitDialog .dijitDialogPaneContent .dijitDialogPaneActionBar{
	background-color: #f2f2f2;
	padding: 3px 5px 2px 7px;
	text-align: right;
	border-top: 1px solid #cdcdcd;
	margin: 10px -8px -10px;
}
.lucid .dijitDialog .dijitDialogPaneContent .dijitDialogPaneActionBar .dijitButton{
	float: none;
}

.lucid .dijitDialogTitleBar {
	/* outer container for the titlebar of the dialog */
	border: 1px solid #fff;
	background: #abd6ff url("images/dialog_titlebar_back.png") repeat-x top left;
	padding: 5px 7px 4px 7px;
	outline:0; /* remove this line if keyboard focus on dialog startup is an issue. tab still takes you to first focusable element */
}

.lucid .dijitDialogTitle {
	/* typography and styling of the dialog title */
	padding: 0px 1px;
	font-size: 12px;
	font-weight: bold;
}

.lucid .dijitDialogCloseIcon {
	/* the default close icon for the dialog */
	/* background : url("images/spriteRoundedIconsSmall.png") no-repeat right top; */
	background: url("images/dialog_close_icon.png") no-repeat center;
	position: absolute;
	vertical-align: middle;
	right: 5px;
	height: 15px;
	width: 21px;
}
.dj_ie6 .lucid .dijitDialogCloseIcon {
	background-image: url("images/dialog_close_icon.gif");
}

.lucid .dijitDialogCloseIconHover {
	background: url("images/dialog_close_icon_hover.png") no-repeat center;
}
.dj_ie6 .lucid .dijitDialogCloseIconHover {
	background-image: url("images/dialog_close_icon_hover.gif");
}

.lucid .dijitDialogCloseIconActive {
	background: url("images/dialog_close_icon_mousedown.png") no-repeat center;
}
.dj_ie6 .lucid .dijitDialogCloseIconActive {
	background-image: url("images/dialog_close_icon_mousedown.gif");
}

/* Tooltip and TooltipDialog */

.lucid .dijitTooltip,
.lucid .dijitTooltipDialog {
	/* the outermost dom node, holding the connector and container */
	background: transparent;	/* make the area on the sides of the arrow transparent */
	font-size:75%;
}

.dijitTooltipBelow {
	/* leave room for arrow above content */
	padding-top: 13px;
	padding-left:3px;
	padding-right:3px;
}

.dijitTooltipAbove {
	/* leave room for arrow below content */
	padding-bottom: 13px;
	padding-left:3px;
	padding-right:3px;
}

.lucid .dijitTooltipContainer {
	/*
		The part with the text.
	*/
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:#ffffff url(images/tooltip_back.png) repeat-x scroll left bottom;
	border:1px solid #769DC0;
	padding:6px 8px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	box-shadow:0px 1px 3px rgba(0,0,0,0.25);
	-webkit-box-shadow:0px 1px 3px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
} 

.dj_ie6 .lucid .dijitTooltipContainer {
	background-image: url("images/popupMenuBg.gif");
}
.dj_ff3 .lucid .dijitTooltipContainer {
	/* only do this for FF3, because FF2 has problems with glitches */
	-moz-border-radius: 3px;
}	
.lucid .dijitTooltipConnector {
	/* the arrow piece */
	border:0px;
	z-index: 2;
}
.lucid .dijitTooltipABRight .dijitTooltipConnector {
	/* above or below tooltip, but the arrow appears on the right,
		and the right edges of target and tooltip are aligned rather than the left */
	left: auto !important;
	right: 3px;
}

.lucid .dijitTooltipBelow .dijitTooltipConnector {
	/* the arrow piece for tooltips below an element */
	top: 0px;
	left: 3px;
	background:url("images/tooltipConnectorUp.png") no-repeat top left;
	width:16px;
	height:14px;
}
.dj_ie6 .lucid .dijitTooltipBelow .dijitTooltipConnector {
	/* use gif for IE7 too, due to png rendering problems on fade-in (see http://trac.dojotoolkit.org/ticket/6555) */
	background-image: url("images/tooltipConnectorUp.gif");
}


.lucid .dijitTooltipAbove .dijitTooltipConnector {
	/* the arrow piece for tooltips above an element */
	bottom: 0px;
	left: 3px;
	background:url("images/tooltipConnectorDown.png") no-repeat top left;
	width:16px;
	height:14px;
}
.dj_ie6 .lucid .dijitTooltipAbove .dijitTooltipConnector {
	/* use gif for IE7 too, due to png rendering problems on fade-in (see http://trac.dojotoolkit.org/ticket/6555) */
	background-image: url("images/tooltipConnectorDown.gif");
}
.dj_ie7 .lucid .dijitTooltipAbove .dijitTooltipConnector,
.dj_ie6 .lucid .dijitTooltipAbove .dijitTooltipConnector {
	bottom: -1px;
}

.lucid .dijitTooltipLeft {
	padding-right: 14px;
}
.dj_ie6 .lucid .dijitTooltipLeft {
	padding-left: 15px;
}
.lucid .dijitTooltipLeft .dijitTooltipConnector {
	/* the arrow piece for tooltips to the left of an element, bottom borders aligned */
	right: 0px;
	bottom: 3px;
	background:url("images/tooltipConnectorRight.png") no-repeat top left;
	width:16px;
	height:14px;
}
.dj_ie6 .lucid .dijitTooltipLeft .dijitTooltipConnector {
	background-image: url("images/tooltipConnectorRight.gif");
}

.lucid .dijitTooltipRight {
	padding-left: 14px;
}
.lucid .dijitTooltipRight .dijitTooltipConnector {
	/* the arrow piece for tooltips to the right of an element, bottom borders aligned */
	left: 0px;
	bottom: 3px;
	background:url("images/tooltipConnectorLeft.png") no-repeat top left;
	width:16px;
	height:14px;
}
.dj_ie6 .lucid .dijitTooltipRight .dijitTooltipConnector {
	background-image: url("images/tooltipConnectorLeft.gif");
}

.dj_webkit .lucid .dijitPopup .dijitTooltipContainer,
.dj_webkit .lucid .dijitPopup .dijitMenu {
	/* -webkit-border-radius: 5px; */
	-webkit-box-shadow: 0px 5px 10px #adadad;
}

.lucid .dijitDialogUnderlay {
	background: #fff;
}
