.dijitIEFixedToolbar {
	position:absolute;
	/* top:0; */
	top: expression(eval((document.documentElement||document.body).scrollTop));
}

.lucid .dijitToolbar .dijitToolbarSeparator {
	background: url('images/editor.gif');
}

.lucid .dijitEditorIcon {
	background-image: url('images/editor.gif'); /* editor icons sprite image */
	background-repeat: no-repeat;
	width: 18px;
	height: 18px;
	text-align: center;
}
.lucid .dijitDisabled .dijitEditorIcon {
	background-image: url('images/editorDisabled.gif'); /* editor icons sprite image */
}

.lucid .dijitEditorIFrameContainer{
	padding: 10px;
}
.lucid .dijitEditorIFrame {
	background-color: #fff;
	/*background-image: url("images/textBox_back_checked.png");*/
}

.lucid .dijitEditor {
	border: 1px solid #bcc8dd;
}

.lucid .dijitEditor .dijitEditorIFrameContainer{
	background-color: #fff;
	background-image: url("images/textBox_back.png");
	background-repeat: repeat-x;
}
.dj_ie6 .lucid .dijitEditor .dijitEditorIFrameContainer{
	background-image: none;
}


.lucid .dijitEditorHover {
	border: 1px solid #769dc0 !important;
}
.lucid .dijitEditorHover .dijitEditorIFrameContainer{
	background-color: #eef7ff;
	background-image: url("images/textBox_back_hover.png");
	background-repeat: repeat-x;
}
.dj_ie6 .lucid .dijitEditorHover .dijitEditorIFrameContainer{
	background-image: none;
}
.lucid .dijitEditorHover .dijitEditorIFrameContainer .dijitEditorIFrame{
	background-color: #eef7ff;
}



.lucid .dijitEditorFocused {
	border: 1px solid #81a5c6 !important;
}
.lucid .dijitEditorFocused .dijitEditorIFrameContainer{
	background-color: #fff;
	background-image: url("images/textBox_back_checked.png");
	background-repeat: repeat-x;
}
.dj_ie6 .lucid .dijitEditorFocused .dijitEditorIFrameContainer{
	background-image: none;
}
.lucid .dijitEditorFocused .dijitEditorIFrameContainer .dijitEditorIFrame{
	background-color: #fff;
}

.lucid .dijitEditorIconSep { background-position: 0px; }
.lucid .dijitEditorIconBackColor { background-position: -18px; }
.lucid .dijitEditorIconBold { background-position: -36px; }
.lucid .dijitEditorIconCancel { background-position: -54px; }
.lucid .dijitEditorIconCopy { background-position: -72px; }
.lucid .dijitEditorIconCreateLink { background-position: -90px; }
.lucid .dijitEditorIconCut { background-position: -108px; }
.lucid .dijitEditorIconDelete { background-position: -126px; }
.lucid .dijitEditorIconForeColor { background-position: -144px; }
.lucid .dijitEditorIconHiliteColor { background-position: -162px; }
.lucid .dijitEditorIconIndent { background-position: -180px; }
.lucid .dijitEditorIconInsertHorizontalRule { background-position: -198px; }
.lucid .dijitEditorIconInsertImage { background-position: -216px; }
.lucid .dijitEditorIconInsertOrderedList { background-position: -234px; }
.lucid .dijitEditorIconInsertTable { background-position: -252px; }
.lucid .dijitEditorIconInsertUnorderedList { background-position: -270px; }
.lucid .dijitEditorIconItalic { background-position: -288px; }
.lucid .dijitEditorIconJustifyCenter { background-position: -306px; }
.lucid .dijitEditorIconJustifyFull { background-position: -324px; }
.lucid .dijitEditorIconJustifyLeft { background-position: -342px; }
.lucid .dijitEditorIconJustifyRight { background-position: -360px; }
.lucid .dijitEditorIconLeftToRight { background-position: -378px; }
.lucid .dijitEditorIconListBulletIndent { background-position: -396px; }
.lucid .dijitEditorIconListBulletOutdent { background-position: -414px; }
.lucid .dijitEditorIconListNumIndent { background-position: -432px; }
.lucid .dijitEditorIconListNumOutdent { background-position: -450px; }
.lucid .dijitEditorIconOutdent { background-position: -468px; }
.lucid .dijitEditorIconPaste { background-position: -486px; }
.lucid .dijitEditorIconRedo { background-position: -504px; }
.lucid .dijitEditorIconRemoveFormat { background-position: -522px; }
.lucid .dijitEditorIconRightToLeft { background-position: -540px; }
.lucid .dijitEditorIconSave { background-position: -558px; }
.lucid .dijitEditorIconSpace { background-position: -576px; }
.lucid .dijitEditorIconStrikethrough { background-position: -594px; }
.lucid .dijitEditorIconSubscript { background-position: -612px; }
.lucid .dijitEditorIconSuperscript { background-position: -630px; }
.lucid .dijitEditorIconUnderline { background-position: -648px; }
.lucid .dijitEditorIconUndo { background-position: -666px; }
.lucid .dijitEditorIconWikiword { background-position: -684px; }
.lucid .dijitEditorIconToggleDir { background-position: -540px; /* padding: 0; margin: 0; color:#555555;
									font-family:verdana,arial,sans-serif; font-weight: 800; font-size: 70%; */}
.lucid .dijitEditorIconTabIndent { background-position: -702px; }
.lucid .dijitEditorIconSelectAll { background-position: -720px; }
.lucid .dijitEditorIconUnlink { background-position: -738px; }

.lucid .dijitEditorIconFullScreen { background-position: -756px; }
.lucid .dijitEditorIconViewSource { background-position: -774px; }
.lucid .dijitEditorIconPrint { background-position: -792px; }
.lucid .dijitEditorIconNewPage { background-position: -810px; }
