.dijitRtl .lucid .dijitMenuItem .dijitMenuItemIcon {
	padding-left: 3px;
	padding-right: 0px;
}

.dijitRtl .lucid .dijitMenuItem .dijitMenuExpand {
	background-position: -7px 0px;
}

.dijitRtl .lucid .dijitMenuSeparatorTop {
	background-image: url('images/dividerLine_rtl.png');
}

.dijitRtl .lucid .dijitMenu {
	background-image: url('images/dijitMenuBack_rtl.png');
}