.lucid .dijitMenuBar {
	border: 1px solid #c0ccdf;
	margin: 0px;
	padding: 0px;
	background-color: #f5f5f5;
	background-image:url(images/white_grad.png);
	background-repeat:repeat-x;
}

.dj_ie6 .lucid .dijitMenuBar {
	background-image:none;
}

.lucid .dijitMenu{
	background-image: url('images/dijitMenuBack.png');
	background-repeat:repeat-y;
	background-color:#fff;
	border: 1px solid #769dc0;
	padding: 0px;
	margin-top: 0px;
}

.lucid .dijitMenuBar .dijitMenuItem{  
	padding: 5px 9px;
	border:1px solid transparent;
}	

.dijit_a11y .dijitMenuBar .dijitMenuItem,
.dijit_a11y .dijitMenuItemSelected .dijitMenuItemLabel{  
	border:none;
}	

.dj_ie6 .lucid .dijitMenuBar .dijitMenuItem{
	border-color:#fff;
}

.lucid .dijitMenuPreviousButton, .lucid .dijitMenuNextButton {
	font-style: italic;
}

.lucid .dijitMenuItem td {
	padding:1.5px;
	border:1px solid transparent;
	border-left:none;
	border-right:none;
}

.dijit_a11y .dijitMenuItem td {
	border:none;
}

.dj_ie6 .lucid .dijitMenuItem td {  
	border-color:#fff;
}

.lucid .dijitMenuTable {
	border-collapse:separate;
	border-spacing:0 0;
}

.dj_ie6 .lucid .dijitMenuTable {  
	background-image:none;
	margin-top: 0px;
}

.lucid .dijitMenuItemSelected {
	color:#000;
	background:#abd6ff url(images/white_grad.png) repeat-x;
}

.lucid .dijitMenuItemHover td,
.lucid .dijitMenuItemSelected td,
.lucid .dijitMenuPassive .dijitMenuItemHover,
.lucid .dijitMenuPassive .dijitMenuItemSelected{
	background-color: #abd6ff;
	border-top:solid 1px #769dc0 !important;	/* !important to workaround IE6 bug */
	border-bottom:solid 1px #769dc0 !important;	/* !important to workaround IE6 bug */
	color:#000;
	background-image:url(images/white_grad.png);
	background-repeat:repeat-x;
}
.dijit_a11y .dijitMenuItemHover td,
.dijit_a11y .dijitMenuItemSelected td{
	border-top-style: dotted !important;
	border-bottom-style:dotted !important;	
}

.lucid .dijitMenuPassive .dijitMenuItemHover,
.lucid .dijitMenuPassive .dijitMenuItemSelected,
.lucid .dijitMenuActive .dijitMenuItemHover,
.lucid .dijitMenuActive .dijitMenuItemSelected{
	border:solid 1px #769dc0 !important;	/* !important to workaround IE6 bug */
}
.dijit_a11y .dijitMenuPassive .dijitMenuItemHover,
.dijit_a11y .dijitMenuPassive .dijitMenuItemSelected,
.dijit_a11y .dijitMenuActive .dijitMenuItemHover,
.dijit_a11y .dijitMenuActive .dijitMenuItemSelected{
	border-style:dotted !important;
}

/*.lucid .dijitMenuItemActive,*/
.lucid .dijitMenuItemActive td,
.lucid .dijitMenuItemActive li.dijitMenuItemSelected{
	background-color: #7dbefa !important;	/* !important to workaround IE6 bug */
	background-image:url(images/white_grad_shadow.png) !important;	/* !important to workaround IE6 bug */
	background-repeat:repeat-x !important;	/* !important to workaround IE6 bug */

}

.lucid .dijitMenuItemActive li.dijitMenuItemSelected{
	border-width:1px 0px !important;	/* !important to workaround IE6 bug */
}

.lucid .dijitMenuItemIcon {
	width: 20px;
	height: 18px;
}

.lucid .dijitMenuExpand {
	width: 7px;
	height: 7px;
	background-image: url('images/spriteArrows.png');
	background-position: -14px 0px;
	
}
.dj_ie6 .lucid .dijitMenuExpand {
	background-image: url('images/spriteArrows.gif');
}

/* separator can be two pixels -- set border of either one to 0px to have only one */
.lucid .dijitMenuSeparatorTop {
	border-bottom: 1px solid transparent;
	margin:0px;
	padding:0px;
	background-image: url('images/dividerLine.png');
	background-repeat:repeat-x;
}

.lucid .dijitMenuSeparatorBottom {
	margin:0px;
	padding:0px;
}

.dj_ie6 .lucid .dijitMenuSeparatorTop {
	border-bottom: 1px solid #DEE5EC;
	background-image: none;
}

/* the checked menu item */
.lucid .dijitCheckedMenuItemIconChar {
	display: none;
}

.lucid .dijitCheckedMenuItemIcon {
	background-image: url('form/images/checkboxRadioButtonStates.png');
	background-repeat:no-repeat;
	background-position: -15px 50%;
	margin: 0 2px 0 0;
	padding: 0;	
	width:15px;
	height:16px;
}

.dj_ie6 .lucid .dijitCheckedMenuItemIcon {
	background-image: url('form/images/checkboxAndRadioButtons_IE6.png');
}

.lucid .dijitCheckedMenuItemChecked .dijitCheckedMenuItemIcon {
	background-position: 0 50%;
}


/*ComboBox Menu*/
.lucid ul.dijitMenu {
	margin-left:0px;
	background-image: none;
}

.lucid li.dijitMenuItem{
	padding:2px 0px;
	text-indent:6px;
	border-width:1px 0px 1px 0px;
	border-style:solid;
	border-color:#fff;
}

.lucid li.dijitMenuItemSelected {
	color:#000;
	border-color:#768dc0;
	background:#abd6ff url(images/white_grad.png) repeat-x;
}
/* END ComboBox Menu*/


.dj_ie .lucid .dijitMenuItemLabel {
	position: static; /*fix IE MenuItem border problem*/
}

.lucid .dijitPopup td.dijitMenuItemLabel {
	padding-left:4px;
}
