/* Time Picker */

/* override Button.css */
.lucid .dijitTimePicker .dijitButtonNode {
	padding: 0 0;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}

.lucid .dijitTimePicker{
	border:1px #769dc0 solid;
	background-color:#fff;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}

.lucid .dijitTimePickerItem{
	/* dijitTimePickerItem refers to both Tick's (minor values like 2:15, 2:30, 2:45) and Marker's (major values like 2PM, 3PM) */
	border:solid 1px #fff;
}

.lucid .dijitTimePickerMarker {
	/* major value */
	background:url("images/white_grad.png") repeat-x top;
	color:#000;
	font-size:.95em;
	border-color: #769dc0;
	background-color:#dadfe6;
	margin-top:-1px;
	margin-left:-1px;
	margin-right:-1px;
}

.lucid .dijitTimePickerTick {
	/* minor value */
	color:#666;
	border-bottom-color: #c0ccdf;
	background-color:#f8f8f8;
}


.lucid .dijitTimePickerItemSelected {
	color: #000;
	background:#7dbefa url("images/white_grad.png") repeat-x top;
	border-color: #769dc0;
	margin-left:-1px;
	margin-right:-1px;
}

.lucid .dijitTimePickerItemHover{
	background: #abd6ff none;
	color:#000;
	border-color: #769dc0;
	background:#abd6ff url("images/white_grad.png") repeat-x top;
	margin-left:-7px;
	margin-right:-7px;
}

.lucid .dijitTimePickerTick .dijitTimePickerItemInner {
	font-size:0.75em;
	padding:2px;
	margin:0;
}

.lucid .dijitTimePickerItemHover .dijitTimePickerItemInner,
.lucid .dijitTimePickerItemSelected .dijitTimePickerItemInner {
	font-size:.95em;
	font-weight:bold;
	margin-left:-7px;
	margin-right:-7px;
}

.lucid .dijitTimePickerTickHover,
.lucid .dijitTimePickerTickSelected {
	margin-top:-1px;
}

/* add by wendong for arrow button */
.lucid .dijitTimePicker .dijitUpArrowButton,
.lucid .dijitTimePicker .dijitDownArrowButton {
	border: 1px solid #bcc8dd;
	background-color: #f6f7fa;
	background-image: url("form/images/menuButton_back.png");
	background-repeat: repeat-x;
}
.lucid .dijitTimePicker .dijitUpArrowButton .dijitArrowButtonInner,
.lucid .dijitTimePicker .dijitDownArrowButton .dijitArrowButtonInner{
	height: 100%; /* hack lucid.button.css */
	background-image: url("form/images/arrowup.png");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	margin: 0;
	padding: 0;
}

.lucid .dijitTimePicker .dijitDownArrowButton .dijitArrowButtonInner{
	background-image: url("form/images/arrowdown.png");
}

/* hover */
.lucid .dijitTimePicker .dijitButtonNodeHover {
	background-color: #abd6ff;
	background-image: url("form/images/white_grad.png");
}

.lucid .dijitTimePicker .dijitButtonNodeHover .dijitArrowButtonInner{
	height: 100%; /* hack lucid.button.css */
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.lucid .dijitTimePicker .dijitButtonNodeHover.dijitUpArrowButton .dijitArrowButtonInner{
	background-image: url("form/images/arrowup_active.png");
}
.lucid .dijitTimePicker .dijitButtonNodeHover.dijitDownArrowButton .dijitArrowButtonInner{
	background-image: url("form/images/arrowdown_active.png");
} 
