/* TitlePane */
.lucid .dijitTitlePaneTitle {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background-color: #F5F5F5;
	background-image: url(images/accordion_back.png);
	border:1px solid #C0CCDF;
	padding: 4px 7px 4px 10px; /* modified */
}
.dj_ie6 .lucid .dijitTitlePaneTitle {
	background-image: none;
}
.lucid .dijitTitlePaneTitleHover {
	background-color: #abd6ff;
	border-color: #769dc0;
}
.lucid .dijitTitlePaneTitleActive {
	background-color: #7dbefa;
	border-color: #769dc0;
	/*background-image: url(images/accordion_down.png);*/
}
.dj_ie6 .lucid .dijitTitlePaneTitleActive {
	background-image: none;
}

.lucid .dijitTitlePane .dijitArrowNode {
	background-image: url('images/spriteArrows.png');
	background-repeat: no-repeat;
	height: 7px;
	width: 7px;
}
.dj_ie6 .lucid .dijitTitlePane .dijitArrowNode {
	background-image: url('images/spriteArrows.gif');
}

.lucid .dijitTitlePane .dijitOpen .dijitArrowNode {
	background-position: 0px 0px;
}
.lucid .dijitTitlePane .dijitClosed .dijitArrowNode {
	background-position: -14px 0px;
}

.lucid .dijitTitlePaneFocused .dijitTitlePaneTextNode {
	text-decoration:none;
}

.lucid .dijitTitlePaneContentOuter {
	background: #ffffff;
	border:1px solid #C0CCDF;
	border-top:none;
}
.lucid .dijitTitlePaneContentInner {
	padding:10px;
}

.lucid .dijitTitlePaneTextNode {
	margin-left: 4px;
	margin-right: 4px;
}