/** Toolbar **/

.lucid .dijitToolbar {
	border-bottom: 1px solid #cdcdcd;
	background: #f1f1f1 url("images/white_grad.png") repeat-x top left;
	padding: 2px 0px 2px 4px;
}

/** override lucid/form/Button.css **/
.lucid .dijitToolbar .dijitButtonNode {
	border: 1px solid transparent;
	padding: 2px;
	background: none;
	border-radius: 2px;	
	-moz-border-radius: 2px;	
	-webkit-border-radius: 2px;	
}

/* hover status */
.lucid .dijitToolbar .dijitButtonHover .dijitButtonNode,
.lucid .dijitToolbar .dijitDropDownButtonHover .dijitButtonNode,
.lucid .dijitToolbar .dijitComboButton .dijitButtonNodeHover,
.lucid .dijitToolbar .dijitComboButton .dijitDownArrowButtonHover,
.lucid .dijitToolbar .dijitToggleButtonHover .dijitButtonNode {
	border-color: #769dc0;
	background-color: #abd6ff;
	background-image: url(images/white_grad.png);
	background-repeat: repeat-x;
}

/* actve status */
.lucid .dijitToolbar .dijitButtonActive .dijitButtonNode,
.lucid .dijitToolbar .dijitDropDownButtonActive .dijitButtonNode,
.lucid .dijitToolbar .dijitComboButton .dijitButtonNodeActive,
.lucid .dijitToolbar .dijitComboButton .dijitDownArrowButtonActive,
.lucid .dijitToolbar .dijitToggleButtonActive .dijitButtonNode {
	border-color: #769dc0;
	background-color:#7dbefa;
	background-image:url(images/white_grad_shadow.png);
}

/* toggle button checked status */
.lucid .dijitToolbar .dijitToggleButtonChecked .dijitButtonNode {
	border-color: #c0ccdf;
	background-color:#fff;
}


/** hacks for browsers **/
.dj_ie6 .lucid .dijitToolbar .dijitButtonContents, 
.dj_ie7 .lucid .dijitToolbar .dijitButtonContents {
	margin: -2px 0;
	padding: 0;
}

.dj_ie6 .lucid .dijitToolbar {
	background-image: none;
}

.dj_ie6 .lucid .dijitToolbar .dijitButtonNode {
	margin: 1px; /* as transparent the border */
	border: none;
}

.dj_ie6 .lucid .dijitToolbar .dijitButtonHover .dijitButtonNode,
.dj_ie6 .lucid .dijitToolbar .dijitDropDownButtonHover .dijitButtonNode,
.dj_ie6 .lucid .dijitToolbar .dijitComboButton .dijitButtonNodeHover,
.dj_ie6 .lucid .dijitToolbar .dijitComboButton .dijitDownArrowButtonHover,
.dj_ie6 .lucid .dijitToolbar .dijitToggleButtonHover .dijitButtonNode,
.dj_ie6 .lucid .dijitToolbar .dijitButtonActive .dijitButtonNode,
.dj_ie6 .lucid .dijitToolbar .dijitDropDownButtonActive .dijitButtonNode,
.dj_ie6 .lucid .dijitToolbar .dijitComboButton .dijitButtonNodeActive,
.dj_ie6 .lucid .dijitToolbar .dijitComboButton .dijitDownArrowButtonActive,
.dj_ie6 .lucid .dijitToolbar .dijitToggleButtonActive .dijitButtonNode,
.lucid .dijitToolbar .dijitToggleButtonChecked .dijitButtonNode {
	margin: 0;	/* remove margin and add a border */
	border-width: 1px;
	border-style: solid;
	background-image: none;
}

.dj_ie6 .lucid .dijitToolbar .dijitComboButton .dijitButtonNodeHover,
.dj_ie6 .lucid .dijitToolbar .dijitComboButton .dijitDownArrowButtonHover,
.dj_ie6 .lucid .dijitToolbar .dijitComboButton .dijitButtonNodeActive,
.dj_ie6 .lucid .dijitToolbar .dijitComboButton .dijitDownArrowButtonActive {
	padding: 1px;	/* ComboButton use table td has no margin, so we minus padding 2px -> 1px for the 1px border. ie6... */
}

