<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
		"http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<title>doh.robot LayoutContainer Test</title>

		<style>
			@import "../../../../util/doh/robot/robot.css";
		</style>

		<!-- required: dojo.js -->
		<script type="text/javascript" src="../../../../dojo/dojo.js"
			djConfig="isDebug: true"></script>

		<!-- functions to help test -->
		<script type="text/javascript" src="../../helpers.js"></script>

		<script type="text/javascript">
			dojo.require("dijit.robotx");

			dojo.addOnLoad(function(){
				doh.robot.initRobot('../test_LayoutContainer.html');
				
				doh.register("test layout 1", [
					{
						name: "tab1",
						timeout: 6000,
						runTest: function(t){
							var d = new doh.Deferred();

							doh.robot.mouseMoveAt("heading", 500, 1);
							doh.robot.mouseClick({left:true}, 500);
							doh.robot.keyPress(dojo.keys.TAB, 1000, {});
							
							doh.robot.sequence(d.getTestCallback(function(){
								doh.t(dijit.byId("leftcp_layout1").focused);
								doh.f(dijit.byId("rightcp_layout1").focused);
								doh.f(dijit.byId("topcp_layout1").focused);
								doh.f(dijit.byId("centercp_layout1").focused);
								doh.f(dijit.byId("bottomcp_layout1").focused);
							}), 1000);

							return d;
						}
					},
					{
						name: "tab2",
						timeout: 3000,
						runTest: function(t){
							var d = new doh.Deferred();

							doh.robot.keyPress(dojo.keys.TAB, 500, {});
							
							doh.robot.sequence(d.getTestCallback(function(){
								doh.f(dijit.byId("leftcp_layout1").focused);
								doh.t(dijit.byId("rightcp_layout1").focused);
								doh.f(dijit.byId("topcp_layout1").focused);
								doh.f(dijit.byId("centercp_layout1").focused);
								doh.f(dijit.byId("bottomcp_layout1").focused);
							}), 1000);

							return d;
						}
					},
					{
						name: "tab3",
						timeout: 3000,
						runTest: function(t){
							var d = new doh.Deferred();

							doh.robot.keyPress(dojo.keys.TAB, 500, {});
							
							doh.robot.sequence(d.getTestCallback(function(){
								doh.f(dijit.byId("leftcp_layout1").focused);
								doh.f(dijit.byId("rightcp_layout1").focused);
								doh.t(dijit.byId("topcp_layout1").focused);
								doh.f(dijit.byId("centercp_layout1").focused);
								doh.f(dijit.byId("bottomcp_layout1").focused);
							}), 1000);

							return d;
						}
					},
					{
						name: "tab4",
						timeout: 3000,
						runTest: function(t){
							var d = new doh.Deferred();

							doh.robot.keyPress(dojo.keys.TAB, 500, {});
							
							doh.robot.sequence(d.getTestCallback(function(){
								doh.f(dijit.byId("leftcp_layout1").focused);
								doh.f(dijit.byId("rightcp_layout1").focused);
								doh.f(dijit.byId("topcp_layout1").focused);
								doh.t(dijit.byId("centercp_layout1").focused);
								doh.f(dijit.byId("bottomcp_layout1").focused);
							}), 1000);

							return d;
						}
					},
					{
						name: "tab5",
						timeout: 7000,
						runTest: function(t){
							var d = new doh.Deferred();

							if(!dojo.isOpera)  doh.robot.keyPress(dojo.keys.TAB, 500, {}); // Tab to the link on the center pane
							doh.robot.keyPress(dojo.keys.TAB, 1000, {}); // Tab to the input on the center pane
							doh.robot.keyPress(dojo.keys.TAB, 1000, {}); // Tab to the bottom pane
							
							doh.robot.sequence(d.getTestCallback(function(){
								doh.f(dijit.byId("leftcp_layout1").focused);
								doh.f(dijit.byId("rightcp_layout1").focused);
								doh.f(dijit.byId("topcp_layout1").focused);
								doh.f(dijit.byId("centercp_layout1").focused);
								doh.t(dijit.byId("bottomcp_layout1").focused);
							}), 1000);

							return d;
						}
					}
				]);
				
				doh.register("test layout 2", [
					{
						name: "tab1_l2",
						timeout: 3000,
						runTest: function(t){
							var d = new doh.Deferred();

							doh.robot.keyPress(dojo.keys.TAB, 500, {});
							
							doh.robot.sequence(d.getTestCallback(function(){
								doh.t(dijit.byId("leftcp_layout2").focused);
								doh.f(dijit.byId("topcp_layout2").focused);
								doh.f(dijit.byId("bottomcp_layout2").focused);
								doh.f(dijit.byId("centerLeftcp_layout2").focused);
								doh.f(dijit.byId("centercp_layout2").focused);
								doh.f(dijit.byId("centerRightcp_layout2").focused);
							}), 1000);

							return d;
						}
					},
					{
						name: "tab2_l2",
						timeout: 3000,
						runTest: function(t){
							var d = new doh.Deferred();

							doh.robot.keyPress(dojo.keys.TAB, 1000, {});
							
							doh.robot.sequence(d.getTestCallback(function(){
								doh.f(dijit.byId("leftcp_layout2").focused);
								doh.t(dijit.byId("topcp_layout2").focused);
								doh.f(dijit.byId("bottomcp_layout2").focused);
								doh.f(dijit.byId("centerLeftcp_layout2").focused);
								doh.f(dijit.byId("centercp_layout2").focused);
								doh.f(dijit.byId("centerRightcp_layout2").focused);
							}), 500);

							return d;
						}
					},
					{
						name: "tab3_l2",
						timeout: 3000,
						runTest: function(t){
							var d = new doh.Deferred();

							doh.robot.keyPress(dojo.keys.TAB, 500, {});
							
							doh.robot.sequence(d.getTestCallback(function(){
								doh.f(dijit.byId("leftcp_layout2").focused);
								doh.f(dijit.byId("topcp_layout2").focused);
								doh.t(dijit.byId("bottomcp_layout2").focused);
								doh.f(dijit.byId("centerLeftcp_layout2").focused);
								doh.f(dijit.byId("centercp_layout2").focused);
								doh.f(dijit.byId("centerRightcp_layout2").focused);
							}), 1000);

							return d;
						}
					},
					{
						name: "tab4_l2",
						timeout: 3000,
						runTest: function(t){
							var d = new doh.Deferred();

							doh.robot.keyPress(dojo.keys.TAB, 500, {});
							
							doh.robot.sequence(d.getTestCallback(function(){
								doh.f(dijit.byId("leftcp_layout2").focused);
								doh.f(dijit.byId("topcp_layout2").focused);
								doh.f(dijit.byId("bottomcp_layout2").focused);
								doh.t(dijit.byId("centerLeftcp_layout2").focused);
								doh.f(dijit.byId("centercp_layout2").focused);
								doh.f(dijit.byId("centerRightcp_layout2").focused);
							}), 1000);

							return d;
						}
					},
					{
						name: "tab5_l2",
						timeout: 3000,
						runTest: function(t){
							var d = new doh.Deferred();

							doh.robot.keyPress(dojo.keys.TAB, 500, {});
							
							doh.robot.sequence(d.getTestCallback(function(){
								doh.f(dijit.byId("leftcp_layout2").focused);
								doh.f(dijit.byId("topcp_layout2").focused);
								doh.f(dijit.byId("bottomcp_layout2").focused);
								doh.f(dijit.byId("centerLeftcp_layout2").focused);
								doh.t(dijit.byId("centercp_layout2").focused);
								doh.f(dijit.byId("centerRightcp_layout2").focused);
							}), 1000);

							return d;
						}
					},
					{
						name: "tab6_l2",
						timeout: 7000,
						runTest: function(t){
							var d = new doh.Deferred();

							if(!dojo.isOpera)  doh.robot.keyPress(dojo.keys.TAB, 500, {}); // Tab to the link on the center pane
							doh.robot.keyPress(dojo.keys.TAB, 1000, {}); // Tab to the input on the center pane
							doh.robot.keyPress(dojo.keys.TAB, 1000, {});
							
							doh.robot.sequence(d.getTestCallback(function(){
								doh.f(dijit.byId("leftcp_layout2").focused);
								doh.f(dijit.byId("topcp_layout2").focused);
								doh.f(dijit.byId("bottomcp_layout2").focused);
								doh.f(dijit.byId("centerLeftcp_layout2").focused);
								doh.f(dijit.byId("centercp_layout2").focused);
								doh.t(dijit.byId("centerRightcp_layout2").focused);
							}), 1000);

							return d;
						}
					}
				]);
				
				doh.register("test layout 3", [
					{
						name: "tab1_l3",
						timeout: 3000,
						runTest: function(t){
							var d = new doh.Deferred();

							doh.robot.keyPress(dojo.keys.TAB, 500, {});
							
							doh.robot.sequence(d.getTestCallback(function(){
								doh.t(dijit.byId("leftcp_layout3").focused);
								doh.f(dijit.byId("topcp_layout3").focused);
								doh.f(dijit.byId("centerLeftcp_layout3").focused);
								doh.f(dijit.byId("centercp_layout3").focused);
								doh.f(dijit.byId("centerRightcp_layout3").focused);
								doh.f(dijit.byId("bottomcp_layout3").focused);
							}), 1000);

							return d;
						}
					},
					{
						name: "tab2_l3",
						timeout: 3000,
						runTest: function(t){
							var d = new doh.Deferred();

							doh.robot.keyPress(dojo.keys.TAB, 500, {});
							
							doh.robot.sequence(d.getTestCallback(function(){
								doh.f(dijit.byId("leftcp_layout3").focused);
								doh.t(dijit.byId("topcp_layout3").focused);
								doh.f(dijit.byId("centerLeftcp_layout3").focused);
								doh.f(dijit.byId("centercp_layout3").focused);
								doh.f(dijit.byId("centerRightcp_layout3").focused);
								doh.f(dijit.byId("bottomcp_layout3").focused);
							}), 1000);

							return d;
						}
					},
					{
						name: "tab3_l3",
						timeout: 3000,
						runTest: function(t){
							var d = new doh.Deferred();

							doh.robot.keyPress(dojo.keys.TAB, 500, {});
							
							doh.robot.sequence(d.getTestCallback(function(){
								doh.f(dijit.byId("leftcp_layout3").focused);
								doh.f(dijit.byId("topcp_layout3").focused);
								doh.t(dijit.byId("centerLeftcp_layout3").focused);
								doh.f(dijit.byId("centercp_layout3").focused);
								doh.f(dijit.byId("centerRightcp_layout3").focused);
								doh.f(dijit.byId("bottomcp_layout3").focused);
							}), 1000);

							return d;
						}
					},
					{
						name: "tab4_l3",
						timeout: 3000,
						runTest: function(t){
							var d = new doh.Deferred();

							doh.robot.keyPress(dojo.keys.TAB, 500, {});
							
							doh.robot.sequence(d.getTestCallback(function(){
								doh.f(dijit.byId("leftcp_layout3").focused);
								doh.f(dijit.byId("topcp_layout3").focused);
								doh.f(dijit.byId("centerLeftcp_layout3").focused);
								doh.t(dijit.byId("centercp_layout3").focused);
								doh.f(dijit.byId("centerRightcp_layout3").focused);
								doh.f(dijit.byId("bottomcp_layout3").focused);
							}), 1000);

							return d;
						}
					},
					{
						name: "tab5_l3",
						timeout: 7000,
						runTest: function(t){
							var d = new doh.Deferred();

							if(!dojo.isOpera) doh.robot.keyPress(dojo.keys.TAB, 500, {}); // Tab to the link on the center pane
							doh.robot.keyPress(dojo.keys.TAB, 1000, {}); // Tab to the input on the center pane
							doh.robot.keyPress(dojo.keys.TAB, 1000, {});
							
							doh.robot.sequence(d.getTestCallback(function(){
								doh.f(dijit.byId("leftcp_layout3").focused);
								doh.f(dijit.byId("topcp_layout3").focused);
								doh.f(dijit.byId("centerLeftcp_layout3").focused);
								doh.f(dijit.byId("centercp_layout3").focused);
								doh.t(dijit.byId("centerRightcp_layout3").focused);
								doh.f(dijit.byId("bottomcp_layout3").focused);
							}), 1000);

							return d;
						}
					},
					{
						name: "tab6_l3",
						timeout: 3000,
						runTest: function(t){
							var d = new doh.Deferred();

							doh.robot.keyPress(dojo.keys.TAB, 500, {});
							
							doh.robot.sequence(d.getTestCallback(function(){
								doh.f(dijit.byId("leftcp_layout3").focused);
								doh.f(dijit.byId("topcp_layout3").focused);
								doh.f(dijit.byId("centerLeftcp_layout3").focused);
								doh.f(dijit.byId("centercp_layout3").focused);
								doh.f(dijit.byId("centerRightcp_layout3").focused);
								doh.t(dijit.byId("bottomcp_layout3").focused);
							}), 1000);

							return d;
						}
					}
				]);

				doh.run();
			});
		</script>
	</head>
</html>
