<fieldset class="dijitAutoCompleter dijitInlineBox" id='${id}' waiRole="presentation"
	><input style="display:inline" type="text" autocomplete="off" class="dijitInputField dijitAutoCompleterInput" name="${name}"
		dojoAttachEvent="onkeypress; onkeyup; onfocus; onblur;"
		dojoAttachPoint="textbox;focusNode"
		tabIndex='${tabIndex}' size='${size}' maxlength='${maxlength}'
	><span dojoAttachPoint='messageSpan' class='dijitValidationTextboxMessage' waiRole='alert'></span
	><fieldset class="dijitArrowButtonContainer"
		><span class='dijitArrowButton'
			dojoAttachPoint="downArrowNode"
			dojoAttachEvent="onclick:arrowClicked;"
			><span class='dijitArrow'>&#9660;</span>
			</span
	></fieldset
></fieldset>
