<fieldset class="dojoAutoCompleter dojoInlineBox dojoInputField" id='${id}' waiRole="presentation"
	><input style="display:inline" type="text" autocomplete="off" class="dojoAutoCompleterInput" name="${name}"
		dojoAttachEvent="onkeypress; onkeyup; onfocus; onblur;"
		dojoAttachPoint="textbox;focusNode"
		tabIndex='${tabIndex}' size='${size}' maxlength='${maxlength}'
	><span dojoAttachPoint='messageSpan' class='dojoValidationTextboxMessage' waiRole='alert'></span
	><fieldset class="dojoArrowButton"
		><fieldset 
			dojoAttachPoint="downArrowNode"
			dojoAttachEvent="onclick:arrowClicked;"
			><div class="dojoDownArrowOuter" style="display:block;"
				><div class="dojoDownArrowInner"></div
			></div
		></fieldset
	></fieldset
></fieldset>
