<span class="dijit dijitReset dijitLeft dijitInline"
	><span class="dijitReset dijitRight dijitInline"
		><span class="dijitReset dijitInline dijitButtonNode dijitButtonField"
			><span class="dijitReset dijitStretch dijitButtonContents"
				dojoAttachEvent="ondijitclick:_onButtonClick"
				dojoAttachPoint="titleNode,focusNode"
				type="button" waiRole="button" waiState="labelledby-${id}_label"
				><span class="dijitReset dijitInline dijitButtonIcon" dojoAttachPoint="iconNode"
					><span class="dijitReset dijitToggleButtonIconChar">&#10003;</span
				></span
				><span class="dijitReset dijitInline dijitButtonText"
					id="${id}_label"
					dojoAttachPoint="containerNode"
				></span
			></span
			><input ${!nameAttrSetting} type="${type}" value="${value}" style="display:none !important;"
				dojoAttachPoint="valueNode"
		></span
	></span
></span>
