<div class="dijit dijitLeft dijitInline dijitButton" baseClass="${baseClass}"
	dojoAttachEvent="onclick:_onButtonClick;onmouseover:_onMouse;onmouseout:_onMouse;onmousedown:_onMouse"
	><div class='dijitRight'
	><button class="dijitStretch dijitButtonNode dijitButtonContents" dojoAttachPoint="focusNode"
		tabIndex="${tabIndex}" type="${type}" id="${id}" name="${name}" alt="${alt}"
		><div class="dijitInline ${iconClass}"></div
		><span class="dijitButtonContents" dojoAttachPoint="containerNode">${label}</span
	></button
></div></div>
