<div class="dijit dijitReset dijitLeft dijitInline"
	dojoAttachEvent="ondijitclick:_onButtonClick,onmouseenter:_onMouse,onmouseleave:_onMouse,onmousedown:_onMouse"
	waiRole="presentation"
	><div class='dijitReset dijitRight' waiRole="presentation"
	><div class="dijitInline dijitButtonNode" waiRole="presentation"
	><button class="dijitReset dijitStretch dijitButtonContents"  
		dojoAttachPoint="titleNode,focusNode" 
		name="${name}" type="${type}" waiRole="button" waiState="labelledby-${id}_label" 
		><span class="dijitReset dijitInline" dojoAttachPoint="iconNode" 
			><span class="dijitReset dijitToggleButtonIconChar">&#10003;</span 
		></span 
		><div class="dijitReset dijitInline dijitButtonText" 
			id="${id}_label"  
			dojoAttachPoint="containerNode"></div></button></div></div></div>
