<table class="dijit dijitReset dijitInline dijitLeft" baseClass="${baseClass}" cellspacing="0" cellpadding="0"
	id="widget_${id}" name="${name}" dojoAttachEvent="onmouseenter:_onMouse,onmouseleave:_onMouse" waiRole="presentation"
	><tr
		><td class='dijitReset dijitStretch dijitInputField' dojoAttachPoint="nodeWithBorder"
			><input type="text" autocomplete="off"
			dojoAttachEvent="onkeypress, onkeyup, onfocus, onblur, compositionend"
			dojoAttachPoint="textbox,focusNode" waiRole="combobox"
		/></td
		><td class='dijitReset dijitRight dijitButtonNode dijitDownArrowButton'
			dojoAttachPoint="downArrowNode"
			dojoAttachEvent="ondijitclick:_onArrowClick,onmousedown:_onMouse,onmouseup:_onMouse,onmouseenter:_onMouse,onmouseleave:_onMouse"
		><div class="dijitDownArrowButtonInner" waiRole="presentation" tabIndex="-1">
			<div class="dijit_a11y dijitDownArrowButtonChar">&#9660;</div>
		</div>
	</td>
	<td class="dijitReset"
		><span dojoAttachPoint='iconNode' class='dijitInline dijitInputFieldValidationIcon'>
			<span class='dijitInline dijitInputFieldValidationIconText'>&Chi;</span>
		</span>
	</td></tr>
</table>
