<fieldset class='dijit dijitInline dijitLeft dijitComboBox'  baseClass='dijitComboBox'
	id="widget_${id}" name="${name}"
	dojoAttachEvent="onmouseover:_onMouse;onmouseout:_onMouse;"	waiRole="presentation"
>
<table cellspacing=0 cellpadding=0 waiRole="presentation">
	<tr>
		<td class='dijitReset dijitStretch dijitComboBoxInput'
			><input class='XdijitInputField' type="text" autocomplete="off" name="${name}"
			dojoAttachEvent="onkeypress; onkeyup; onfocus; onblur; compositionend;"
			dojoAttachPoint="textbox;focusNode" id='${id}'
			tabIndex='${tabIndex}' size='${size}' maxlength='${maxlength}'
	></td><td class='dijitReset dijitRight dijitButtonNode dijitDownArrowButton'
			dojoAttachPoint="downArrowNode"
			dojoAttachEvent="onclick:_onArrowClick;onmousedown:_onMouse;onmouseup:_onMouse;onmouseover:_onMouse;onmouseout:_onMouse;"
			tabIndex="${tabIndex}"
			waiRole="button" waiState="haspopup-true"
		><div class='dijitRightSpacer'><span class='dijitA11yDownArrow' waiRole="presentation">&#9660;</span></div>
	</td></tr>
</table>
</fieldset>
