<table class="dijitReset dijitInlineBox dijitButton" cellspacing=0 cellpadding=0 id="${id}" name="${name}"
	><tr class="dijitReset"
		><td class="dijitReset"
			><button type="${type}"
			    class="dijitNonPositionOnly dijitButtonContents dijitButtonNode"
			    dojoAttachEvent="onclick:buttonClick; onkeypress:arrowKey;"
			    tabIndex="${tabIndex}" dojoAttachPoint="containerNode;focusNode"
			>${caption}</button
		></td
		><td class="dijitReset dijitButtonArrow dijitButtonNode"
		    style="height:100%;"
		    dojoAttachEvent="onclick:arrowClick;"
			><button class="dijitDownArrowOuter" tabIndex="${tabIndex}"
				title="${optionsTitle}"
				dojoAttachPoint="popupStateNode"
				dojoAttachEvent="onclick:arrowClick; onkeypress:arrowKey;"
				waiRole="button" waiState="haspopup-true"
				><div class="dijitDownArrowInner"></div
			></button
		></td
	></tr
></table>
