<table class='dijit dijitReset dijitInline dijitLeft'
	cellspacing='0' cellpadding='0' waiRole="presentation"
	><tbody waiRole="presentation"><tr waiRole="presentation"
		><td class="dijitReset dijitStretch dijitButtonNode"><button id="${id}_button" class="dijitReset dijitButtonContents"
			dojoAttachEvent="onclick:_onButtonClick,onmouseenter:_onMouse,onmouseleave:_onMouse,onmousedown:_onMouse,onkeypress:_onButtonKeyPress"  dojoAttachPoint="titleNode"
			waiRole="button" waiState="labelledby-${id}_label"
			><div class="dijitReset dijitInline" dojoAttachPoint="iconNode" waiRole="presentation"></div
			><div class="dijitReset dijitInline dijitButtonText" id="${id}_label" dojoAttachPoint="containerNode" waiRole="presentation"></div
		></button></td
		><td id="${id}_arrow" class='dijitReset dijitRight dijitButtonNode dijitArrowButton'
			dojoAttachPoint="_popupStateNode,focusNode,_buttonNode"
			dojoAttachEvent="onmouseenter:_onMouse,onmouseleave:_onMouse,onkeypress:_onArrowKeyPress"
			stateModifier="DownArrow"
			title="${optionsTitle}" ${nameAttrSetting}
			waiRole="button" waiState="haspopup-true"
			><div class="dijitReset dijitArrowButtonInner" waiRole="presentation">&thinsp;</div
			><div class="dijitReset dijitArrowButtonChar" waiRole="presentation">&#9660;</div
		></td
	></tr></tbody
></table>
