<div class="dojoInlineBox dojoButton"
><button tabIndex="${this.tabIndex}" class="dojoButtonNode" type="${this.type}" id="${this.id}" name="${this.name}" alt="${this.alt}" dojoAttachEvent="onclick:arrowClick; onkeypress:arrowKey;"
    dojoAttachPoint="popupStateNode"
	><table cellpadding=0 cellspacing=0 cols=2
		><tr
			><td class="dojoButtonContents dojoButtonContentsDropDown" dojoAttachPoint="containerNode"></td
			><td class="dojoNonPositionOnly" style="height:100%;"
			        ><div class="dojoDownArrowOuter"
			                ><div class="dojoDownArrowInner"></div
			        ></div
			></td
		></tr
	></table
></button></div>
