<div class="dijit dijitLeft dijitInlineBox dijitDropDownButton" baseClass="dijitDropDownButton"
	dojoAttachEvent="onmouseover:_onMouse;onmouseout:_onMouse;onmousedown:_onMouse;onclick:_onArrowClick; onkeypress:_onKey;"
	><div class='dijitRight'>
	<button tabIndex="${tabIndex}" class="dijitStretch dijitButtonNode" type="${type}" id="${id}" name="${name}"
		dojoAttachPoint="focusNode" waiRole="button" waiState="haspopup-true;labelledby-${id}_label"
		><div class="dijitInline ${iconClass}" title="${label}"></div
		><span class="dijitButtonContents" 	dojoAttachPoint="containerNode;popupStateNode"
		id="${id}_label">${label}</span
		><span class='dijitA11yDownArrow'>&#9660;</span>
	</button>
</div></div>
