<span class="dijit dijitReset dijitLeft dijitInline"
	><span class='dijitReset dijitRight dijitInline'
		><span class='dijitReset dijitInline dijitButtonNode dijitButtonField'
			><span class="dijitReset dijitStretch dijitButtonContents"
				dojoAttachEvent="ondijitclick:_onButtonClick"
				dojoAttachPoint="focusNode,titleNode,_arrowWrapperNode"
				waiRole="button" waiState="haspopup-true,labelledby-${id}_label"
				><span class="dijitReset dijitInline dijitButtonIcon"
					dojoAttachPoint="iconNode"
				></span
				><span class="dijitReset dijitInline dijitButtonText"
					dojoAttachPoint="containerNode,_popupStateNode"
					id="${id}_label"
				></span
				><span class="dijitReset dijitArrowButton"
					><span class="dijitReset dijitInline dijitArrowButtonImg">&thinsp;</span
					><span class="dijitReset dijitInline dijitArrowButtonChar">&#9660;</span
				></span
			></span
			><input ${!nameAttrSetting} type="${type}" value="${value}" style="display:none !important;"
				dojoAttachPoint="valueNode"
		></span
	></span
></span>
