<table class="dijitReset dijitSlider" cellspacing=0 cellpadding=0 border=0 rules=none id="${id}"
	><tr class="dijitReset"
		><td class="dijitReset" colspan=2></td
		><td dojoAttachPoint="topDecoration" class="dijitReset" style="text-align:center;"></td
		><td class="dijitReset" colspan=2></td
	></tr
	><tr class="dijitReset"
		><td class="dijitReset dijitSliderButtonContainer dijitHorizontalSliderButtonContainer"
			><span dojoAttachPoint="decrementButton" class="dijitSliderButton dijitSliderHorizontalButton" style="display:none;"></span
		></td
		><td class="dijitReset"
			><div class="dijitSliderBar dijitSliderBumper dijitHorizontalSliderBumper dijitSliderLeftBumper dijitHorizontalSliderLeftBumper"></div
		></td
		><td class="dijitReset" style="width:9999px;"
			><input dojoAttachPoint="valueNode" name="${name}" type="hidden"
			><div style="position:relative;" dojoAttachPoint="sliderBarContainer"
				><div dojoAttachPoint="progressBar" class="dijitSliderBar dijitHorizontalSliderBar dijitSliderProgressBar dijitHorizontalSliderProgressBar" dojoAttachEvent="onclick:_onBarClick"
					><div tabIndex="${tabIndex}" dojoAttachPoint="sliderHandle,focusNode" class="dijitSliderMoveable dijitHorizontalSliderMoveable" dojoAttachEvent="onkeypress:_onKeyPress,onclick:_onHandleClick" waiRole="slider" valuemin="${minimum}" valuemax="${maximum}"
						><img class="dijitSliderImageHandle dijitHorizontalSliderImageHandle" src="${handleSrc}" style="display:inline;"
						><span class="dijitSliderA11yHandle dijitHorizontalSliderA11yHandle" style="display:none;">&#9830;</span
					></div
				></div
				><div dojoAttachPoint="remainingBar" class="dijitSliderBar dijitHorizontalSliderBar dijitSliderRemainingBar dijitHorizontalSliderRemainingBar" dojoAttachEvent="onclick:_onBarClick"></div
			></div
		></td
		><td class="dijitReset"
			><div class="dijitSliderBar dijitSliderBumper dijitHorizontalSliderBumper dijitSliderRightBumper dijitHorizontalSliderRightBumper"></div
		></td
		><td class="dijitReset dijitSliderButtonContainer dijitHorizontalSliderButtonContainer"
			><span dojoAttachPoint="incrementButton" class="dijitSliderButton dijitSliderHorizontalButton" style="display:none;"></span
		></td
	></tr
	><tr class="dijitReset"
		><td class="dijitReset" colspan=2></td
		><td dojoAttachPoint="containerNode,bottomDecoration" class="dijitReset" style="text-align:center;"></td
		><td class="dijitReset" colspan=2></td
	></tr
></table>
