<fieldset class="dojoInlineBox"
	><div tabIndex="0" dojoAttachPoint="editable" style="" dojoAttachEvent="onKey;onClick;onMouseOut;onMouseOver;onFocus:onMouseOver;onBlur:onMouseOut;"></div
	><span dojoAttachPoint="containerNode" style="display:none" dojoAttachEvent="onKeyUp:checkForValueChange;"></span
	><input type="button" style="display:none" value="Save" dojoAttachPoint="saveButton" dojoAttachEvent="onClick:save;"/>
	<input type="button" style="display:none" value="Cancel" dojoAttachPoint="cancelButton" dojoAttachEvent="onClick:cancel;"
></fieldset>
