<span>
	<span class='dijitInlineValue' tabIndex="0" dojoAttachPoint="editable;focusNode" style="" 
		dojoAttachEvent="onkeypress:_onKeyPress;onclick:_onClick;onmouseout:_onMouseOut;onmouseover:_onMouseOver;onfocus:_onMouseOver;onblur:_onMouseOut;"></span>
	<fieldset style="display:none;" dojoAttachPoint="editNode" class="dijitInlineEditor">
		<div dojoAttachPoint="containerNode" dojoAttachEvent="onkeyup:checkForValueChange;"></div>
		<input class='saveButton' type="button" value="${buttonSave}" 
			dojoAttachPoint="saveButton" dojoAttachEvent="onclick:save;">
		<input class='cancelButton' type="button" value="${buttonCancel}" 
			dojoAttachPoint="cancelButton" dojoAttachEvent="onclick:cancel;">
	</fieldset>
</span>
