<fieldset class='dijit dijitInline dijitSpinner' id="widget_${id}" name="${name}"
	dojoAttachEvent="onmouseover:_onMouse;onmouseout:_onMouse;"
	baseClass='dijitSpinner'
>
<table cellspacing='0' cellpadding='0' waiRole="presentation" class='dijitReset dijitLeft'>
	<tr>
		<td class='dijitReset dijitStretch dijitSpinnerInput'>
			<input dojoAttachPoint='textbox;focusNode' type='${type}' dojoAttachEvent='onblur;onfocus;onkeyup;'
				value='${value}' name='${name}' size='${size}' maxlength='${maxlength}'
				waiRole="spinbutton" autocomplete="off" tabIndex='${tabIndex}'
			>
		</td><td class='dijitReset'>
			<div class='dijitButtonNode dijitUpArrowButton'
				dojoAttachPoint="upArrowNode"
				dojoAttachEvent="onmousedown:_handleUpArrowEvent;onmouseup:_handleUpArrowEvent;onmouseover:_handleUpArrowEvent;onmouseout:_handleUpArrowEvent;"
				baseClass='dijitSpinnerUpArrow'
				tabIndex="${tabIndex}"
				waiRole="button"
			><span class='dijitA11yUpArrow'>&#9650;</span></div>
			<div class='dijitButtonNode dijitDownArrowButton'
				dojoAttachPoint="downArrowNode"
				dojoAttachEvent="onmousedown:_handleDownArrowEvent;onmouseup:_handleDownArrowEvent;onmouseover:_handleDownArrowEvent;onmouseout:_handleDownArrowEvent;"
				baseClass='dijitSpinnerDownArrow'
				tabIndex="${tabIndex}"
				waiRole="button"
			><span class='dijitA11yDownArrow'>&#9660;</span></div>
		</td>
	</tr>
</table>
</fieldset>
