<fieldset class="dijitSpinner dijitInputField" dojoAttachPoint='nodeWithBorder' id='${id}'
	><input dojoAttachPoint='textbox;focusNode' type='${type}' dojoAttachEvent='onblur;onfocus;onkeyup;'
		value='${value}' name='${name}' size='${size}' maxlength='${maxlength}'
		waiRole="spinbutton" autocomplete="off" tabIndex='${tabIndex}'
	><fieldset class="dijitSpinnerArrowGroup"
                ><fieldset dojoAttachPoint="upArrowNode" class="dijitSpinnerButton dijitSpinnerUpArrow"
                        ><img dojoAttachPoint='upArrowImage' border=0 class='dijitSmallUpArrow'
                ></fieldset
                ><fieldset dojoAttachPoint="downArrowNode" class="dijitSpinnerButton dijitSpinnerDownArrow"
                        ><img dojoAttachPoint='downArrowImage' border=0 class='dijitSmallDownArrow'
                ></fieldset
	></fieldset
	><span dojoAttachPoint='messageSpan' class='dijitValidationTextboxMessage' waiRole='alert'></span
></fieldset>
