<table class="dijit dijitReset dijitInline" cellspacing="0"  cellpadding="0">
	<tr class="dijitReset">
		<td class="dijitReset">
			<input dojoAttachPoint='textbox,focusNode' dojoAttachEvent='onfocus,onblur:_onMouse,onkeyup,onkeypress:_onKeyPress' autocomplete="off"
			class="dijitInputField" type='${type}'/>
		</td>
		<td class="dijitReset">
			<div dojoAttachPoint='iconNode' class='dijitInline dijitValidationIcon'></div
			><div class='dijitValidationIconText' waiRole="presentation" tabIndex="-1">&Chi;</div
		></td>
	</tr>
</table>
