<table cellspacing="0" cellpadding="0" class="calendarContainer">
	<thead>
		<tr class="dijitReset calendarMonthContainer" valign="top">
			<th class='dijitReset' dojoAttachEvent="onclick: _onDecrementMonth">
				<span class="calendarIncrementControl calendarDecrease"><span class="dijitA11yLeftArrow calendarDecreaseInner">&#9668;</span></span>
			</th>
			<th class='dijitReset' colspan="5">
				<div dojoAttachPoint="monthLabelSpacer" class="calendarMonthLabelSpacer"></div>
				<div dojoAttachPoint="monthLabelNode" class="calendarMonth"></div>
			</th>
			<th class='dijitReset' dojoAttachEvent="onclick: _onIncrementMonth">
				<span class="calendarIncrementControl calendarIncrease"><span class="dijitA11yRightArrow calendarIncreaseInner">&#9658;</span></span>
			</th>
		</tr>
		<tr>
			<th class="dijitReset calendarDayLabelTemplate"><span class="calendarDayLabel"></span></th>
		</tr>
	</thead>
	<tbody dojoAttachEvent="onclick: _onDayClick" class="dijitReset calendarBodyContainer">
		<tr class="dijitReset calendarWeekTemplate">
			<td class="dijitReset calendarDateTemplate"><span class="calendarDateLabel"></span></td>
		</tr>
	</tbody>
	<tfoot class="dijitReset calendarYearContainer">
		<tr>
			<td class='dijitReset' valign="top" colspan="7">
				<h3 class="calendarYearLabel">
					<span dojoAttachPoint="previousYearLabelNode"
						dojoAttachEvent="onclick: _onDecrementYear" class="calendarPreviousYear"></span>
					<span dojoAttachPoint="currentYearLabelNode" class="calendarSelectedYear"></span>
					<span dojoAttachPoint="nextYearLabelNode"
						dojoAttachEvent="onclick: _onIncrementYear" class="calendarNextYear"></span>
				</h3>
			</td>
		</tr>
	</tfoot>
</table>	
