<div class="dijitProgressBarEmpty"
	><div style="position:absolute;display:none;width:100%;text-align:center" dojoAttachPoint="backLabel" class="dijitProgressBarBackLabel"
	></div
	><div style="position:absolute;overflow:hidden;width:100%;height:100%" waiRole="progressbar" tabindex="0" dojoAttachPoint="internalProgress" class="dijitProgressBarFull"
		><div style="position:absolute;overflow:hidden;top:0;left:0;bottom:0;right:0;margin:0" dojoAttachPoint="internalProgressColorLayer" class="dijitProgressBarColorLayer"
			></div
		><div style="position:absolute;overflow:hidden;width:100%;height:100%;background-color:transparent;" dojoAttachPoint="internalProgressTileLayer" class="dijitProgressBarTileLayer"
		></div
		><div style="position:absolute;display:none;width:100%;text-align:center" dojoAttachPoint="frontLabel" class="dijitProgressBarFrontLabel"
		></div
	></div
></div>
