<div class="dijitProgressBar dijitProgressBarEmpty"
	><div dojoAttachPoint="emptyLabel" class="dijitProgressBarEmptyLabel"
	></div
	><div waiRole="progressbar" tabindex="0" dojoAttachPoint="internalProgress" class="dijitProgressBarFull"
		><div dojoAttachPoint="internalProgressColorLayer" class="dijitProgressBarColorLayer"
			></div
		><div dojoAttachPoint="internalProgressTileLayer" class="dijitProgressBarTileLayer"
		></div
		><div dojoAttachPoint="fullLabel" class="dijitProgressBarFullLabel"
		></div
	></div
></div>
