<div class="dijitProgressBar dijitProgressBarEmpty"
	><div dojoAttachPoint="emptyLabel" class="dijitProgressBarLabel"
	>&nbsp;</div
	><div waiRole="progressbar" tabindex="0" dojoAttachPoint="internalProgress" class="dijitProgressBarFull"
		><div class="dijitProgressBarTile"
		></div
		><div dojoAttachPoint="fullLabel" class="dijitProgressBarLabel"
		>&nbsp;</div
	></div
	><img dojoAttachPoint="inteterminateHighContrastImage" class="dijitProgressBarIndeterminateHighContrastImage"
	></img
></div>
