<div id="${id}-${buttonType}" class="tabStripButton dijitTab ${buttonClass} tabStripButton-${tabPosition}"
		dojoAttachEvent="onclick:_onButtonClick,onmouseenter:_onMouse,onmouseleave:_onMouse,onmousedown:_onMouse">
	<div role="presentation" wairole="presentation" class="dijitTabInnerDiv" dojoattachpoint="innerDiv,focusNode">
		<div role="presentation" wairole="presentation" class="dijitTabContent dijitButtonContents" dojoattachpoint="tabContent">
			<img src="${_blankGif}"/>
			<span dojoAttachPoint="containerNode,titleNode" class="dijitButtonText"></span>
		</div>
	</div>
</div>