<div id="${id}-${buttonType}" class="tabStripButton dijitTab ${buttonClass} tabStripButton-${tabPosition}" 
		dojoAttachEvent="onmouseenter:_onMouse,onmouseleave:_onMouse">
	<div role="presentation" wairole="presentation" class="dijitTabInnerDiv" dojoattachpoint="innerDiv,focusNode">
		<span dojoAttachPoint='containerNode' style="display:none"></span>
		<div role="presentation" wairole="presentation" class="dijitTabContent" dojoattachpoint="tabContent"><img src="${_blankGif}"/></div>
	</div>
</div>