<div role="presentation" data-dojo-attach-point="titleNode,innerDiv,tabContent" data-dojo-attach-event='onclick:onClick' class="dijitTabInner dijitTabContent">
	<img src="${_blankGif}" alt="" class="dijitIcon dijitTabButtonIcon" data-dojo-attach-point='iconNode'/>
	<span data-dojo-attach-point='containerNode,focusNode' class='tabLabel'></span>
	<span class="dijitInline dijitTabCloseButton dijitTabCloseIcon" data-dojo-attach-point='closeNode'
		  data-dojo-attach-event='onclick: onClickCloseButton' role="presentation">
		<span data-dojo-attach-point='closeText' class='dijitTabCloseText'>[x]</span
				></span>
</div>
