<div waiRole="presentation" dojoAttachPoint="titleNode" dojoAttachEvent='onclick:onClick'>
    <div waiRole="presentation" class='dijitTabInnerDiv' dojoAttachPoint='innerDiv'>
        <div waiRole="presentation" class='dijitTabContent' dojoAttachPoint='tabContent'>
        	<div dojoAttachPoint='focusNode'>
		        <img src="${_blankGif}" alt="" dojoAttachPoint='iconNode' waiRole="presentation"/>
		        <span dojoAttachPoint='containerNode' class='tabLabel'></span>
		        <span class="dijitTabCloseButton" dojoAttachPoint='closeNode'
		        		dojoAttachEvent='onclick: onClickCloseButton'>
		        	<img src="${_blankGif}" alt="" dojoAttachPoint='closeIcon' class='dijitTabCloseIcon' waiRole="presentation"/>
		            <span dojoAttachPoint='closeText' class='dijitTabCloseText'>x</span>
		        </span>
			</div>
        </div>
    </div>
</div>
