<div waiRole="presentation" dojoAttachPoint="titleNode" dojoAttachEvent='onclick:onClick,onmouseenter:_onMouse,onmouseleave:_onMouse'>
    <div waiRole="presentation" class='dijitTabInnerDiv' dojoAttachPoint='innerDiv'>
        <div waiRole="presentation" class='dijitTabContent' dojoAttachPoint='tabContent,focusNode'>
	        <img src="${_blankGif}" alt="" dojoAttachPoint='iconNode' waiRole="presentation"/>
	        <span dojoAttachPoint='containerNode' class='tabLabel'></span>
	        <span class="closeButton" dojoAttachPoint='closeNode'
	        		dojoAttachEvent='onclick: onClickCloseButton, onmouseenter: _onCloseButtonEnter, onmouseleave: _onCloseButtonLeave'>
	        	<img src="${_blankGif}" alt="" dojoAttachPoint='closeIcon' class='closeImage' waiRole="presentation"/>
	            <span dojoAttachPoint='closeText' class='closeText'>x</span>
	        </span>
        </div>
    </div>
</div>
