<div class='dijitAccordionPane'
	><div dojoAttachPoint='titleNode,focusNode' dojoAttachEvent='onklick:_onTitleClick,onkeypress:_onKeyPress'
		class='title' wairole="tab"
		><div class='arrow'></div
		><div class='arrowTextUp' waiRole="presentation">&#9650;&#9650;</div
		><div class='arrowTextDown' waiRole="presentation">&#9660;&#9660;</div
		><span dojoAttachPoint='titleTextNode'>${title}</span></div
	><div><div dojoAttachPoint='containerNode' style='overflow: hidden; height: 1px; display: none'
		class='body' waiRole="tabpanel"
	></div></div>
</div>
