<div class="dijitDialog">
	<span dojoAttachPoint="tabStartOuter" dojoAttachEvents="onfocus: _trapTabs; onblur: _clearTrap" tabindex="0"></span>
	<span dojoAttachPoint="tabStart" dojoAttachEvents="onfocus: _trapTabs; onblur: _clearTrap" tabindex="0"></span>
	<div dojoAttachPoint="titleBar" class="dijitTitlePaneLabel">
		<span dojoAttachPoint="labelNode" class="dijitDialogLabel">${title}</span>
		<span dojoAttachPoint="closeButtonNode" class="dijitDialogCloseIcon" dojoAttachEvent="onclick: hide"></span>
	</div>
	<div dojoAttachPoint="containerNode" class="dijitTitlePaneContent"></div>
	<span dojoAttachPoint="tabEnd" dojoAttachEvents="onfocus: _trapTabs; onblur: _clearTrap;" tabindex="0"></span>
	<span dojoAttachPoint="tabEndOuter" dojoAttachEvents="onfocus: _trapTabs; onblur: _clearTrap" tabindex="0"></span>
</div>
