<div class="dijitTabListContainer-${tabPosition}" style="visibility:hidden">
	<div dojoType="dijit.layout._ScrollingTabControllerButton" buttonType="menuBtn" buttonClass="tabStripMenuButton"
			tabPosition="${tabPosition}" dojoAttachPoint="_menuBtn" showLabel=false>&darr;</div>
	<div dojoType="dijit.layout._ScrollingTabControllerButton" buttonType="leftBtn" buttonClass="tabStripSlideButtonLeft"
			tabPosition="${tabPosition}" dojoAttachPoint="_leftBtn" dojoAttachEvent="onClick: doSlideLeft" showLabel=false>&larr;</div>
	<div dojoType="dijit.layout._ScrollingTabControllerButton" buttonType="rightBtn" buttonClass="tabStripSlideButtonRight"
			tabPosition="${tabPosition}" dojoAttachPoint="_rightBtn" dojoAttachEvent="onClick: doSlideRight" showLabel=false>&rarr;</div>
	<div class='dijitTabListWrapper' dojoAttachPoint='tablistWrapper'>
		<div wairole='tablist' dojoAttachEvent='onkeypress:onkeypress'
				dojoAttachPoint='containerNode' class='nowrapTabStrip'>
		</div>
	</div>
</div>