<div class="dijitDialog dijitTooltip">
	<span dojoAttachPoint="tabStartOuter" dojoAttachEvents="onfocus: _trapTabs; onblur: _clearTrap" tabindex="0"></span>
	<span dojoAttachPoint="tabStart" dojoAttachEvents="onfocus: _trapTabs; onblur: _clearTrap" tabindex="0"></span>
	<div class="dijitTooltipContainer dijitTooltipContents" dojoAttachPoint="containerNode" waiRole='alert'></div>
	<div class="dijitTooltipConnector"></div>
	<span dojoAttachPoint="tabEnd" dojoAttachEvents="onfocus: _trapTabs; onblur: _clearTrap;" tabindex="0"></span>
	<span dojoAttachPoint="tabEndOuter" dojoAttachEvents="onfocus: _trapTabs; onblur: _clearTrap" tabindex="0"></span>
</div>
