@import "../variables";

/* Combo Button */

.claro .dijitComboButtonRtl .dijitStretch {
	.border-radius(0px @button-border-radius @button-border-radius 0px);
}

.claro .dijitComboButtonRtl .dijitArrowButton {
	.border-radius(@button-border-radius 0px 0px  @button-border-radius);
	padding:3px 0px 4px;
	border-left-width: 1px;
	border-right-width: 0px;
}

/* End Combo Button */