/* Combo Button */

.claro .dijitComboButtonRtl .dijitStretch {
	-moz-border-radius: 0px 4px 4px 0px;
	border-radius: 0px 4px 4px 0px;
}

.claro .dijitComboButtonRtl .dijitArrowButton {
	-moz-border-radius:  4px 0px 0px  4px;
	border-radius:  4px 0px 0px  4px;
	padding:3px 0px 4px;
	border-left-width: 1px;
	border-right-width: 0px;
}

/* End Combo Button */
