/* claro/form/Common.css */

/*========================= common css =========================*/

/* Default padding around form elements */
.dijitInputField, .dijitSelectField, .dijitButtonField, .dijitTextArea {
  	padding: 2px;
}

/* 'dijitTextBox' refers to 'dijit(TextBox|DateTextBox|CurrencyTextBox|...)' */

.claro .dijitTextBoxError .dijitValidationIcon {
	display: block;
	background: #d46363 url('images/error.png') no-repeat top center;
	border: solid #d46464 0px;
	border-left-width: 1px;
	width: 9px;
}

.claro .dijitArrowButton {
	padding:0;
}

.claro .dijitTextBoxError .dijitValidationContainer {
	width:11px;
}
.claro .dijitButtonWithArrow .dijitValidationIcon {
	right:20px;
}

.claro .dijitTextBox,
.claro .dijitTextBox .dijitButtonNode {
	/* color for (outer) border on *TextBox widgets, and border between input and buttons on ComboBox and Spinner */
	border-color: #b5bcc7;
	-webkit-transition-property:background-color, border;
 	-webkit-transition-duration:.35s;
}
.claro .dijitTextBox {
	background-color: #f7fcff;
}

/* hover */
.claro .dijitTextBoxHover,
.claro .dijitTextBoxHover .dijitButtonNode {
	border-color: #769dc0;
 	-webkit-transition-duration:.25s;
}
.claro .dijitTextBoxHover {
	background-color: #e9f4fe;
	background-image: url('images/textBox_back.png');
	background-repeat: repeat-x;
}

/* error state */
.claro .dijitTextBoxError,
.claro .dijitTextBoxError .dijitButtonNode {
	border-color: #d46464;
}
.claro .dijitTextBoxError,
.claro .dijitTextBoxError .dijitInputField {
	background-color: #fdf7f7;
	background-image: none;
}

/* focused state */
.claro .dijitTextBoxFocused,
.claro .dijitTextBoxFocused .dijitButtonNode {
	border-color:#769dc0;
 	-webkit-transition-duration:.1s;
}
.claro .dijitTextBoxFocused {
	background-color: #fff;
	background-image: url('images/textBox_back.png');
	background-repeat: repeat-x;
}

.claro .dijitTextBoxErrorFocused,
.claro .dijitTextBoxErrorFocused .dijitButtonNode {
	border-color: #ce4f4f;
}

/* disabled state */
.claro .dijitTextBoxDisabled,
.claro .dijitTextBoxDisabled .dijitButtonNode {
	border-color: #d3d3d3;
}
.claro .dijitTextBoxDisabled {
	background-color: #efefef;
	background-image: none;
	color: #818181;
}

/*========================= for special widgets =========================*/

.claro .dijitComboBox .dijitArrowButtonImg {
	background-image: url("images/commonFormArrows.png");
	background-position:-35px 53%;
	background-repeat: no-repeat;
	margin: 0px;
	height:100%;
	border: 1px solid #fff;
	display:block;
}

/* ComboBox */

.claro .dijitComboBox .dijitButtonNode {
	background-color: #ebeef4;
	background-image: url("images/formHighlight.png");
	background-repeat:repeat-x;
	
	/* override Button.css.   TODO: make rule in Button.css more specific so I don't need to override here. */
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}

/* hover state */
.claro .dijitComboBoxHover .dijitButtonNode {
	background-color:#abd6ff;
}
.claro .dijitComboBoxHover .dijitArrowButtonImg {
	background-position:-70px 53%;
}

/* focused state */
.claro .dijitComboBoxFocused .dijitButtonNode {
	background-color:#7dbefa;
	background-position:0px -177px;
}	
.claro .dijitComboBoxFocused .dijitArrowButtonImg {
	background-position:-70px 53%;
	border-color:transparent;
}

/* disabled state */
.claro .dijitComboBoxDisabled .dijitArrowButtonImg {
	/* !important to override
	 * .claro .dijitDisabled .dijitArrowButtonImg { background-image:url("images/icon_drop_down.png"); }
	 * from Button.css
	 */
	background-position:0px 50% !important;
	background-color:#f1f1f1;
}

/*========================= hacks for browsers =========================*/

/* ie */

/* ie6 doesn't support transparent background img */
.dj_ie6 .claro .dijitTextBox,
.dj_ie6 .claro .dijitComboBox,
.dj_ie6 .claro .dijitComboBox .dijitButtonNode {
	background-image: none;
}
.dj_ie6 .claro .dijitArrowButtonImg {
	border-width: 0 1px;
}