/* InlineEditBox
 * 
 * Styling InlineEditBox mainly includes:
 * 
 * 1. Normal state
 * 		.dijitInlineEditBoxDisplayMode  - for border
 * 
 * 2. Hover state
 * 		.dijitInlineEditBoxDisplayModeHover - for border and background color
 */

@import "variables";

.claro .dijitInlineEditBoxDisplayMode {
	border: 1px solid transparent;
}

.claro .dijitInlineEditBoxDisplayModeHover {
	background-color: @textboxHoveredBackgroundColor;
	border: solid 1px @hoveredBorderColor;
}

.dj_ie6 .claro .dijitInlineEditBoxDisplayMode {
	border: none;
}
