.claro .dijitMenuItemRtl .dijitMenuExpand {
  background-position: -7px 0;
  margin-right: 0;
  margin-left: 3px;
}
.claro .dijitMenuItemRtl .dijitMenuItemIcon {
  margin: 0 4px 0 0;
}

/* Bidi Support */
.claro .dijitMenuRtl .dijitCheckedMenuItemRtl .dijitMenuItemLabel{
	text-align: right;
}

.claro .dijitMenu .dijitCheckedMenuItemRtl .dijitMenuItemLabel{
	text-align: right;
}
