<span class="dijit dijitReset dijitLeft dijitInline"
	dojoAttachPoint="_buttonNode"
	dojoAttachEvent="onmouseenter:_onMouse,onmouseleave:_onMouse,onmousedown:_onMouse"
	><span class='dijitReset dijitRight dijitInline'
		><span class='dijitReset dijitInline dijitButtonNode'
			><button class="dijitReset dijitStretch dijitButtonContents"
				${nameAttrSetting} type="${type}" value="${value}"
				dojoAttachPoint="focusNode,titleNode,_arrowWrapperNode"
				waiRole="button" waiState="haspopup-true,labelledby-${id}_label"
				><span class="dijitReset dijitInline"
					dojoAttachPoint="iconNode"
				></span
				><span class="dijitReset dijitInline dijitButtonText"
					dojoAttachPoint="containerNode,_popupStateNode"
					id="${id}_label"
				></span
				><span class="dijitReset dijitInline dijitArrowButtonInner">&thinsp;</span
				><span class="dijitReset dijitInline dijitArrowButtonChar">&#9660;</span
			></button
		></span
	></span
></span>
