<div class="dojoProgressBarEmpty">
	<div style="position:absolute;display:none;width:100%;text-align:center" dojoAttachPoint="backLabel" class="dojoProgressBarBackLabel"></div>
	<div style="position:absolute;overflow:hidden;width:100%;height:100%" waiRole="progressbar" tabindex="0" dojoAttachPoint="internalProgress" class="dojoProgressBarFull">
	<div style="position:absolute;overflow:hidden;top:0;left:0;bottom:0;right:0;margin:0" dojoAttachPoint="internalProgressColorLayer" class="dojoProgressBarColorLayer"></div>
	<div style="position:absolute;overflow:hidden;width:100%;height:100%;background-color:transparent;" dojoAttachPoint="internalProgressTileLayer" class="dojoProgressBarTileLayer"></div>
	<div style="position:absolute;display:none;width:100%;text-align:center" dojoAttachPoint="frontLabel" class="dojoProgressBarFrontLabel"></div></div>
</div>
