.soria .dijitToolbar {
	border-bottom: 1px solid #b1badf;
	background:#fafafa url("images/titleBar.png") repeat-x top left;
}

.soria .dijitToolbar * {
	padding: 0;
	margin: 0;
	/* #margin-top: -1px; */
	/*IE*/
}
.dj_ie .soria .dijitToolbar {
	padding-bottom: 1px;
}

.soria .dijitToolbar .dijitButtonNode {
	padding: 0;
	margin: 1px;
	border: 1px solid transparent;
	background: none;
	_margin: 1px;
	_padding: 0 1px 0 1px;
	_border: 0;
}

.soria .dijitToolbar .dijitToggleButtonChecked .dijitButtonNode {
	background-color:#C1D2EE;
	border:1px solid #316AC5;
}
.soria .dijitToolbar .dijitToggleButtonCheckedHover .dijitButtonContents {
	border-color: #366dba;
	background-color: #9abbea !important;
}
.dj_ie6 .soria .dijitToolbar .dijitButtonNode {
	/* workaround no transparent border support in IE6*/
	border-color: #e9e9e9;
}

.soria .dijitToolbar .dijitButtonHover .dijitButtonNode,
.soria .dijitToolbar .dijitToggleButtonHover .dijitButtonNode,
.soria .dijitToolbar .dijitDropDownButtonHover .dijitButtonNode {
	/* TODO: change this from Hover to Selected so that button is still highlighted while drop down is being used */
	border-color: #366dba;
	background-color: #9abbea !important;
	/* IE hackery */
	_border: 1px solid #366dba;
	_margin: -1px 0 0 0;
	_padding: 0;
}
