/* Accordion */

.lucid .dijitAccordionContainer {
	border:none;
}
.lucid .dijitAccordionInnerContainer {
	background-color: #d4ebff;
	border:solid 1px #b5bcc7;
	margin-bottom:1px;
	-webkit-transition-property:background-color;
 	-webkit-transition-duration:.3s;
	-webkit-transition-timing-function:linear;
}
.lucid .dijitAccordionTitle {
	background-color: #eeeeee;
	background-image: url("images/accordion_back.png");
	background-repeat:repeat-x;
	padding: 5px 7px 2px 7px;
	outline:none;
	min-height:17px;
	color:#3d3d3d;
	-webkit-transition-property:background-color, border;
 	-webkit-transition-duration:.35s;
	-webkit-transition-timing-function:linear;
}
.dj_ie6 .lucid .dijitAccordionTitle {
	background-image: none;
}
.lucid .dijitAccordionContainer .dijitAccordionContainer-child {
	background-color:#fff;
	/*
	 * border style need to be !important to override the style "border:medium none !important"
	 * in class ".dijitTabPane, .dijitStackContainer-child, .dijitAccordionContainer-child"
	 */
	border:1px solid #92bce1 !important;
	margin: 0px 2px 2px;
	padding: 9px;
}

/* Hover State */

.lucid .dijitAccordionTitleHover {
	background-color:#9dcfff;
	color:#000;
	-webkit-transition-property:background-color, border;
 	-webkit-transition-duration:.3s;
	-webkit-transition-timing-function:linear;
}
.dj_ie6 .lucid .dijitAccordionTitleHover {
	background-image: none;
}
.lucid .dijitAccordionInnerContainerHover,
.lucid .dijitAccordionInnerContainerSelectedActive {
	background-color:#b7dcff;
	border:1px solid #769DC0;
	-webkit-transition-property:background-color;
 	-webkit-transition-duration:.3s;
	-webkit-transition-timing-function:linear;
}
.lucid .dijitAccordionInnerContainerHover .dijitAccordionContainer-child,
.lucid .dijitAccordionInnerContainerActive .dijitAccordionContainer-child {
	background-color:#ffffff;
	border:1px solid #769DC0 !important;
	-webkit-box-shadow:inset 0px 0px 3px rgba(0, 0, 0, .35);
	-moz-box-shadow:inset 0px 0px 3px rgba(0, 0, 0, .35);
}
.dj_ie6 .lucid .dijitAccordionInnerContainerHover {
	background-image: none;
}

/* Hover State End*/
/* Active State*/

.lucid .dijitAccordionInnerContainerActive {
	border-color:#769DC0;
}
.lucid .dijitAccordionTitleActive {
	background-image: url("images/accordion_down.png");
	background-repeat:repeat-x;
	background-color:#7dbefa;
}
.dj_ie6 .lucid .dijitAccordionTitleActive {
	background-image: none;
}

/* Active State End*/
/* Selected state */ 
.lucid .dijitAccordionInnerContainerSelected {
	border-color:#92bce1;

}
.lucid .dijitAccordionTitleSelected {
	background-color:#cde8ff;
	background-image:url("images/accordion_back.png");
	background-position:center top;
	padding: 5px 7px 2px 7px;
	color:#000;
	-webkit-transition-property:background-color;
 	-webkit-transition-duration:.3s;
	-webkit-transition-timing-function:linear;
}
.dj_ie6 .lucid .dijitAccordionTitleSelected {
	background-image: none;
}
.lucid .dijitAccordionInnerContainerHover .dijitAccordionTitleSelected,
.lucid .dijitAccordionInnerContainerActive .dijitAccordionTitleSelected {
	background-color:#ABD6FF;
}
.lucid .dijitAccordionTitleSelectedHover,
.lucid .dijitAccordionContainer .dijitAccordionTitleSelectedActive{
	background-color:#ABD6FF;
	background-image:url("images/accordion_back.png");
}
.dj_ie6 .lucid .dijitAccordionTitleSelectedHover {
	background-image: none;
}

/* Selected State End*/  
/* Focused State */

.lucid .dijitAccordionTitleFocused {
	/* todo: presumably this violates a11y rules because there's no way to tell when focus is on the accordion itself */
	text-decoration:none;
	outline:none;
}
/* Focused State End*/