/* Accordion */

.lucid .dijitAccordionContainer {
	border:none;
}
.lucid .dijitAccordionInnerContainer {
	background-color: #d4ebff;
	border:solid 1px #b5bcc7;
	margin-bottom:1px;
	-webkit-transition-property:background-color,border;
 	-webkit-transition-duration:.3s;
	-webkit-transition-timing-function:linear;
}
.lucid .dijitAccordionTitle {
	background-color: #e6e6e7;
	background-image: url("images/accordion.png");
	background-position:0px 0px;
	background-repeat:repeat-x;
	padding: 5px 7px 2px 7px;
	min-height:17px;
	color:#4a4a4a;
	-webkit-transition-property:background-color, border;
 	-webkit-transition-duration:.3s;
}
.dj_ie6 .lucid .dijitAccordionTitle {
	background-image: none;
}
.lucid .dijitAccordionContainer .dijitAccordionContainer-child {
	background-color:#fff;
	/*
	 * border style need to be !important to override the style "border:medium none !important"
	 * in class ".dijitTabPane, .dijitStackContainer-child, .dijitAccordionContainer-child"
	 */
	border:1px solid #92bce1 !important;
	margin: 0px 2px 2px;
	padding: 9px;
}

/* Hovering/pressing title bar for a closed pane */

.lucid .dijitAccordionTitleHover {
	background-color:#9dcfff;
	color:#000;
 	-webkit-transition-duration:.2s;
}
.lucid .dijitAccordionTitleActive {
	background-position:0px -136px;
	background-repeat:repeat-x;
	background-color:#7dbefa;
	color:#000;
}


/* Open pane */

.lucid .dijitAccordionInnerContainerSelected {
	border-color:#92bce1;
}
.lucid .dijitAccordionInnerContainerSelected .dijitAccordionTitle {
	background-color:#cde8ff;
	padding: 5px 7px 2px 7px;
	color:#000;
}

/* Open pane, hovered */

.lucid .dijitAccordionInnerContainerSelectedHover .dijitAccordionTitle,
.lucid .dijitAccordionInnerContainerSelectedActive .dijitAccordionTitle {
	background-color:#ABD6FF;
	background-position: 0 0;
	border-color:#769DC0;
	-webkit-transition-duration:.2s;
}
.lucid .dijitAccordionInnerContainerSelectedHover,
.lucid .dijitAccordionInnerContainerSelectedActive {
	background-color:#b7dcff;
	border:1px solid #769DC0 !important;
	-webkit-transition-duration:.22s;
}
.lucid .dijitAccordionInnerContainerSelectedHover .dijitAccordionContainer-child,
.lucid .dijitAccordionInnerContainerSelectedActive .dijitAccordionContainer-child {
	background-color:#ffffff;
	border:1px solid #769DC0 !important;
	-webkit-box-shadow:inset 0px 0px 3px rgba(0, 0, 0, .25);
	-moz-box-shadow:inset 0px 0px 3px rgba(0, 0, 0, .25);
}

/* Focused title bar */

.lucid .dijitAccordionTitleFocused {
	/* todo: presumably this violates a11y rules because there's no way to tell when focus is on the accordion itself */
	text-decoration:none;
}