/* BorderContainer */

.lucid .dijitBorderContainer {
	border: 1px #b5bcc7 solid;
	padding: 5px;
}

.lucid .dijitSplitContainer-child,
.lucid .dijitBorderContainer-child {
	/* By default put borders on all children of BorderContainer,
	 *  to give illusion of borders on the splitters themselves.
	 */
	border: 1px #b5bcc7 solid;
}

.lucid .dijitBorderContainer-dijitTabContainerTop,
.lucid .dijitBorderContainer-dijitTabContainerBottom,
.lucid .dijitBorderContainer-dijitTabContainerLeft,
.lucid .dijitBorderContainer-dijitTabContainerRight,
.lucid .dijitBorderContainer-dijitAccordionContainer {
	/* except that TabContainer defines borders on it's sub-nodes (tablist and dijitTabPaneWrapper),
	 * so override rule setting border on domNode
	 */
	 border: none;

}
.lucid .dijitBorderContainer-dijitTabContainerTop {
	/* this fixes the extra padding for the top Tabs for now, should be a better way */
	margin-top:-4px;
}
.lucid .dijitBorderContainer-dijitBorderContainer {
	/* also, make nested BorderContainers look like a single big widget with lots of splitters */
	border: 1px #c0ccdf solid;
	padding: 5px;
}

/* Splitters and gutters */

.lucid .dijitSplitterH,
.lucid .dijitGutterH {
	background:none;
	border:0;
	height:5px;
}

.lucid .dijitSplitterH .dijitSplitterThumb {
	background:#dde2e9 none;
	height:1px;
	top:2px;
	width:19px;
}

.lucid .dijitSplitterV,
.lucid .dijitGutterV {
	background:none;
	border:0;
	width:5px;
}

.lucid .dijitSplitterV .dijitSplitterThumb {
	background:#dde2e9 none;
	height:19px;
	left:2px;
	width:1px;
}

/* hovered splitter */
.lucid .dijitSplitterHHover {
	font-size: 1px;
	-moz-opacity: 1;
	opacity: 1;
	filter: Alpha(Opacity=100);
	margin: 0;
	background: url("images/splitterHorizontalHover.png") no-repeat center top;
}

.lucid .dijitSplitterHHover .dijitSplitterThumb {
	background:#769dc0 none;
}

.lucid .dijitSplitterVHover {
	font-size: 1px;
	-moz-opacity: 1;
	opacity: 1;
	filter: Alpha(Opacity=100);
	margin: 0;
	background: url("images/splitterVerticalHover.png") no-repeat center left;
}

.lucid .dijitSplitterVHover .dijitSplitterThumb {
	background:#769dc0 none;
}


/* active splitter */
.lucid .dijitSplitterHActive {
	font-size: 1px;
	background-color:#abd4fb;
	-moz-opacity: .6;
	opacity: .6;
	filter: Alpha(Opacity=60);
	margin: 0;
	border-top:blue;

}

.lucid .dijitSplitterVActive {
	font-size: 1px;
	background-color:#abd4fb;
	-moz-opacity: .6;
	opacity: .6;
	filter: Alpha(Opacity=60);
	margin: 0;
}
