/* ContentPane */

.lucid .dijitContentPane {
	padding: 8px;
}		

/* nested layouts */
.lucid .dijitTabContainerTop-dijitContentPane,
.lucid .dijitTabContainerLeft-dijitContentPane,
.lucid .dijitTabContainerBottom-dijitContentPane,
.lucid .dijitTabContainerRight-dijitContentPane,
.lucid .dijitAccordionContainer-dijitContentPane {
	background-color: #fff;
	padding: 8px;		
}

.lucid .dijitSplitContainer-dijitContentPane,
.lucid .dijitBorderContainer-dijitContentPane {
	background-color: #fff;		
	padding: 8px;
}