.dijitRtl .lucid .dijitTabContainer .dijitTabContainerTop-tabs .dijitTab,
.dijitRtl .lucid .dijitTabContainer .dijitTabContainerBottom-tabs .dijitTab {
	margin-right: 0;
	margin-left: 1px;
}
.dijitRtl .lucid .dijitTabContainer .dijitTab {
	-moz-box-orient:horizontal;
	text-align: right;
}
.dj_ie7-rtl .lucid .dijitTabContainer .dijitTab .dijitTabInnerDiv .dijitTabContent {
	display: block;
	left: 0;
}
.dj_ie7-rtl .lucid .dijitTabContainer .dijitTabCloseText {
	width: 0;
	height: 0;
	overflow: hidden;
	float: left;
}
.dj_ie7-rtl .lucid .dijitTabContainer .dijitTabContainerTop-tabs .dijitTab,
.dj_ie7-rtl .lucid .dijitTabContainer .dijitTabContainerTop-tabs .dijitTabChecked {
	top: 1px;
}
.dj_ie6-rtl .lucid .dijitTabContainer .dijitTabContainerTop-tabs .dijitTab .dijitTabInnerDiv,
.dj_ie6-rtl .lucid .dijitTabContainer .dijitTabContainerBottom-tabs .dijitTab .dijitTabInnerDiv,
.dj_ie7-rtl .lucid .dijitTabContainer .tabStripButton .dijitButtonContents,
.dj_ie7-rtl .lucid .dijitTabContainer .dijitTabContainerTop-tabs .dijitTab .dijitTabInnerDiv,
.dj_ie7-rtl .lucid .dijitTabContainer .dijitTabContainerBottom-tabs .dijitTab .dijitTabInnerDiv {
	float:left;
}
.dj_ie6-rtl .lucid .dijitTabContainer .dijitTabContainerRight-tabs .dijitTab,
.dj_ie6-rtl .lucid .dijitTabContainer .dijitTabContainerLeft-tabs .dijitTab,
.dj_ie6-rtl .lucid .dijitTabContainer .dijitTab .dijitTabInnerDiv .tabLabel,/*Make the .tablael has width in ie6-rtl with haslayout property, fix Close icon position bug*/
.dj_ie7-rtl .lucid .dijitTabContainer .dijitTabContainerRight-tabs .dijitTab .dijitTabInnerDiv,
.dj_ie7-rtl .lucid .dijitTabContainer .dijitTabContainerLeft-tabs .dijitTab .dijitTabInnerDiv{
	zoom:1;
}
.dj_ie6-rtl .lucid .dijitTabContainer .dijitTabCloseIcon ,
.dj_ie7-rtl .lucid .dijitTabContainer .dijitTabCloseIcon {
	margin-right:5px;
}
.dj_ie6-rtl .lucid .dijitTabContainer .dijitTabContainerTop-tabs .dijitTab,
.dj_ie6-rtl .lucid .dijitTabContainer .dijitTabContainerBottom-tabs .dijitTab {
	display:inline-block;
	display:inline;
}
.dj_ie6-rtl  .lucid .dijitTabContainer .dijitTabContainerRight-tabs,
.dj_ie6-rtl  .lucid .dijitTabContainer .dijitTabContainerLeft-tabs {
	width:1%;
}