.dijitRtl .lucid .dijitTabContainerTop-tabs .dijitTab,
.dijitRtl .lucid .dijitTabContainerBottom-tabs .dijitTab {
	margin-right: 0;
	margin-left: 1px;
}
.dijitRtl .lucid .dijitTab {
	-moz-box-orient:horizontal;
	text-align: right;
}
.dj_ie7-rtl .lucid .dijitTabContent {
	display: block;
	left: 0;
}
.dj_ie7-rtl .lucid .dijitTabCloseText {
	width: 0;
	height: 0;
	overflow: hidden;
	float: left;
}
.dj_ie7-rtl .lucid .dijitTabContainerTop-tabs .dijitTab,
.dj_ie7-rtl .lucid .dijitTabContainerTop-tabs .dijitTabChecked {
	top: 1px;
}
.dj_ie7-rtl .lucid .tabStripButton .dijitButtonContents,
.dj_ie6-rtl .lucid .dijitTabContainerTop-tabs .dijitTabInnerDiv,
.dj_ie6-rtl .lucid .dijitTabContainerBottom-tabs .dijitTabInnerDiv,
.dj_ie7-rtl .lucid .dijitTabContainerTop-tabs .dijitTabInnerDiv,
.dj_ie7-rtl .lucid .dijitTabContainerBottom-tabs .dijitTabInnerDiv {
	float:left;
}
.dj_ie6-rtl .lucid .tabLabel,/*Make the .tablael has width in ie6-rtl with haslayout property, fix Close icon position bug*/
.dj_ie6-rtl .lucid .dijitTabContainerRight-tabs .dijitTab,
.dj_ie6-rtl .lucid .dijitTabContainerLeft-tabs .dijitTab,
.dj_ie7-rtl .lucid .dijitTabContainerRight-tabs .dijitTabInnerDiv,
.dj_ie7-rtl .lucid .dijitTabContainerLeft-tabs .dijitTabInnerDiv{
	zoom:1;
}
.dj_ie6-rtl .lucid .dijitTabCloseIcon,
.dj_ie7-rtl .lucid .dijitTabCloseIcon {
	margin-right:5px;
}
.dj_ie6-rtl .lucid .dijitTabContainerRight-tabs,
.dj_ie6-rtl .lucid .dijitTabContainerLeft-tabs {
	width:1%;
}
.dj_ie6-rtl .dijitTabContainerTopStrip,
.dj_ie6-rtl .dijitTabContainerBottomStrip {
	position:absolute;
}